@charset "UTF-8";

/**
 * Dependencies
 */
@import "global/sass/dependencies/colorPalettes";
@import "global/sass/dependencies/fonts";
@import "global/sass/dependencies/mixins";
@import "global/sass/dependencies/normalize";
@import "global/sass/dependencies/reactTransitions";
@import "global/sass/dependencies/zIndex";


/**
 * Foundation -
 * depends on 'Dependencies '
 */
@import "global/sass/foundation/colors";
@import "global/sass/foundation/grid";
@import "global/sass/foundation/layout";
@import "global/sass/foundation/typography";

/**
 * Base -
 * depends on 'Dependencies' & 'Foundation'
 */
@import "global/sass/foundation/base";

/**
 * Helpers
 */
@import "global/sass/helpers/helpers";
@import "global/sass/helpers/ieConditionals";
@import "global/sass/helpers/utilities";

/**
 * Components
 */
@import "global/sass/components/alerts";
@import "global/sass/components/buttons";
@import "global/sass/components/cards";
@import "global/sass/components/dropdown";
@import "global/sass/components/forms";
@import "global/sass/components/hero";
@import "global/sass/components/modals";
@import "global/sass/components/pagination";
@import "global/sass/components/tables";
@import "global/sass/components/tiles";
@import "global/sass/components/toolbar";

/**
 * Regions
 */
@import "global/sass/regions/content";
@import "global/sass/regions/footer";
@import "global/sass/regions/navigation";
@import "global/sass/regions/sections";


/**
 * Modules
 */
@import "modules/admin/adminStyles";
@import "modules/user/userStyles";
