h1 Forgotten Password
p If you forgot your password, type in your email address and we will send you password reset insctuctions.
input(type="text" ng-model="email")
button(yt-btn type="button" ng-click="requestReset(email)") Submit