
form(yt-col="1 1/2m")
  h2 Sign In
  a(ui-sref="user.register") Don't have an account? Register here.
  .input-group
    label username
    input(type="text", name="username", placeholder="username", ng-model="username")
  .input-group
    label password
    a.forgot(ui-sref="user.forgotpassword") I forgot
    input(type="password", name="password", placeholder="password", ng-model="password")
  .input-group
    button(yt-btn, ng-click="loginAction(username, password)") Login


