
.changePassword
  h1 Change Password

  br
  p OLD Password
  input(type="password", ng-model="password.oldPass", autocomplete="off")
  p NEW Password
  input(type="password", ng-model="password.newPass", autocomplete="off")
  p Confirm New Password
  input(type="password", ng-model="password.newPassConfirm", autocomplete="off")
  br
  br
  br
  button(yt-btn type="button" ng-click="changePassword(password)") Change Password
