
form(yt-col="1 1/2m")
  h2 Sign up
  a(ui-sref="user.login") Already have an account? Log in here.
  .input-group
    label email
    input(type="email", name="username", placeholder="email", ng-model="userData.username")
  .input-group
    label password
    input(type="password", name="password", placeholder="password", ng-model="userData.password")
  .input-group
    label confirm password
    input(type="password", name="password2", placeholder="confirm password", ng-model="userData.password2")
  .input-group
    label first name
    input(type="text", name="firstName", placeholder="first name", ng-model="userData.firstName")
  .input-group
    label last name
    input(type="text", name="lastName", placeholder="last name", ng-model="userData.lastName")

  button(yt-btn, ng-click="registerAction(userData)") Register
