h1 Reset Your Password

//- don't show EITHER until it gets defined. string instead of boolean.
div(ng-show="!isRequestValid")
  p The Reset Password link is invalid or expired.
div(ng-show="isRequestValid")
  p Please choose a new password

  p Password
  input(type="password", ng-model="password.newPass", autocomplete="off")
  p Confirm Password
  input(type="password", ng-model="password.newPassConfirm", autocomplete="off")
  br
  br
  br
  button(yt-btn type="button" ng-click="resetPassword(password)") Change Password