.dropdown {
  position: relative;
}

.dropMenu {
  z-index: 1000;
  position: absolute;
  top: 100%;
  right:10px;
  left: auto;
  float: left;
  min-width: 160px;
  // padding: 5px;
  margin: -6px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;

  @include box-shadow(0 6px 12px rgba(0,0,0,0.175));
  li {
    margin-left: 0 !important;

    a {
      padding: 8px 15px !important;
      border: none !important;
      width: 100%;
      display: block;
      color: $link-color !important;
      &:hover { background-color: $divider-color;}
      i { margin-left: 4px; }
    }
    &.-drop-header {
      padding: 15px;
      @include display-flex;
      @include align-items(center);
      background-color: $dark-bg-color;
      color: $text-light;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &.-divider {
      // margin-top: 5px;
      height: 1px;
      background-color: $divider-color;
    }
  }
}
