// Reset & Mixins
// ••••••••••••••••••••••••••••••••••••••••••••••••••
@charset "UTF-8";

@import
    'globals/normalize'
  , 'globals/colors'
  , 'globals/typography'
  , 'globals/zindex'
  , 'globals/mixins'
  , 'globals/layout'
  , 'globals/components'
  ;

// Base Styles
// ••••••••••••••••••••••••••••••••••••••••••••••••••

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  @include border-box;
  @include font-smoothing(antialiased);
  @include type-base;
  background-color: $color-background;
  color: $color-text;
  font-family: $font-sans;
  line-height: 1.5rem;
  position: relative;
}

a {
  color: $color-link;
  margin: -.2rem;
  padding: .2rem;
  text-decoration: none;

  &:visited { 
    color: $color-link-visited; 
  }
  &:hover { 
    color: $color-link-hover; 
    text-decoration: none;
    cursor: pointer;
  }
  &:active { 
    color: $color-text; 
  }
}

h1 {
  @include type-largest;
}

// Base Styles: Tablets
// ••••••••••••••••••••••••••••••••••••••••••••••••••

@include responsive-break-point(640px) {

}

// Base Styles: Desktop
// ••••••••••••••••••••••••••••••••••••••••••••••••••

@include responsive-break-point(800px) {
  .content { max-width: 960px; }
}


// Fix: iOS Font Sizing
// ••••••••••••••••••••••••••••••••••••••••••••••••••

@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
}

// Includes
// ••••••••••••••••••••••••••••••••••••••••••••••••••

// @import
//   'includes/navigation'
//   , 'includes/footer'
//   ;


// Pages
// ••••••••••••••••••••••••••••••••••••••••••••••••••

@import 'pages/home';
