
nav.content
  a(href="#") Coyote
  ul
    li
      a(ui-sref="home") Home
    li
      a(ui-sref="post") Blog

section.hero
  h1 Welcome to Coyote!
  p Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.
  a.button--large.u-caps(href="#") Get Started
