h1 Frequently Asked Questions


h2 How do I use filters.js?
p Write your custom filter in the /public/app/filters.js file and use it anywhere in the application
p This is an example of the input being tied to the 'reverse' filter that came with Yote
input(type="text" ng-model="data.message")
p {{ data.message | reverse }}


h2 How do I use directives.js?
p Write your custom directives in the /public/app/filters.js file and use it anywhere in the application
p This is a button with the 'enter' directive applied
button(enter) Try me!