doctype
html
  head
    title Coyote
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/css/coyote.css")
  body
    block main-content
    //- include scripts