doctype
html(lang="en", ng-app="Yote")
  head
    title Coyote
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    //- styles
    link(rel="stylesheet", href="/css/coyote.css")
    //- javascripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-touch.js")
    script(src="/lib/angular-ui-router.min.js")

    //- instantiate main angular app
    script(src="/app/app.js")

  header.content
    h1 Coyote
    nav
      ul
        li
          a(ui-sref="home") Home
        li
          a(ui-sref="post") Blog

  body(ng-controller="GlobalCtrl")
    ui-view
    //- reference the custom angular dependencies
    include ng-models
    include ng-controllers
