//- angular controllers
script(src="/app/admin/admin-controllers.js")
script(src="/app/static/static-controllers.js")
script(src="/app/users/user-controllers.js")
script(src="/app/posts/post-controllers.js")
