//- angular routes
script(src="/app/ui-routes/default-routes.js")
script(src="/app/ui-routes/admin-routes.js")
script(src="/app/ui-routes/static-routes.js")
script(src="/app/ui-routes/user-routes.js")
script(src="/app/ui-routes/post-routes.js")
