
// Blacks
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$black-6: #666;
$black-5: #555;
$black-4: #444;
$black-3: #333;
$black-2: #222;
$black-1: #111;
$black-0: #000;

// Whites
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$white-6: #EFEFEF;
$white-5: #FAFAFA;
$white-4: #FBFBFB;
$white-3: #FCFCFC;
$white-2: #FDFDFD;
$white-1: #FEFEFE;
$white-0: #FFFFFF;

// Greys
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$gray-9: #eee;
$gray-8: #ddd;
$gray-7: #ccc;
$gray-6: #bbb;
$gray-5: #aaa;
$gray-4: #999;
$gray-3: #888;
$gray-2: #777;
$gray-1: #666;

// Blue Grey
// ••••••••••••••••••••••••••••••••••••••••••••••••••


$blue-gray-9: #ECEFF1;
$blue-gray-8: #CFD8DC;
$blue-gray-7: #B0BEC5;
$blue-gray-6: #90A4AE;
$blue-gray-5: #78909C;
$blue-gray-4: #607D8B;
$blue-gray-3: #546E7A;
$blue-gray-2: #455A64;
$blue-gray-1: #37474F;
$blue-gray-0: #263238;
