// Typography
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$font-sans: "Roboto", Helvetica, sans-serif;
$font-serif: Georgia, Times, serif;

// Line Heights
// ••••••••••••••••••••••••••••••••••••••••••••••••••
@mixin lineHeight-tightest {
  line-height: .5;
}
@mixin lineHeight-tighter {
  line-height: .7;
}
@mixin lineHeight-tight {
  line-height: .8;
}
@mixin lineHeight-baseSans {
  line-height: 1;
}
@mixin lineHeight-base {
  line-height: 1;
}
@mixin lineHeight-loose {
  line-height: 1.2;
}
@mixin lineHeight-looser {
  line-height: 1.5
}

// Letter Spacing
// ••••••••••••••••••••••••••••••••••••••••••••••••••
@mixin letterSpacing-tightest {
  letter-spacing: -3px;
}
@mixin letterSpacing-tighter {
  letter-spacing: -2px;
}
@mixin letterSpacing-tight {
  letter-spacing: -1px;
}
@mixin letterSpacing-base {
  letter-spacing: 0px;
}
@mixin letterSpacing-loose {
  letter-spacing: 1px;
}
@mixin letterSpacing-looser {
  letter-spacing: 2px;
}

// Font Sizing
// ••••••••••••••••••••••••••••••••••••••••••••••••••
@mixin micro-font {
  font-size: .1rem;
}
@mixin smallest-font {
  font-size: .3rem;
}
@mixin smaller-font {
  font-size: .5rem;
}
@mixin small-font {
  font-size: .7rem;
}
@mixin base-font {
  font-size: 1rem;
}

@mixin medium-font {
  font-size: 1.15rem;
}

@mixin large-font {
  font-size: 1.3rem;
}
@mixin larger-font {
  font-size: 1.5rem;
}
@mixin largest-font {
  font-size: 1.7rem;
  @include lineHeight-loose;
}
@mixin jumbo-font {
  font-size: 3rem;
  @include lineHeight-looser;
}
