nav.navBar.-dark
  .content
    a.navLogo Yote
    ul.navList.-horiz.u-pullRight
      li
        a(ui-sref="docs.dashboard") Docs
      li
        a(ui-sref="user.logout") Logout

section.content
  ui-view