nav.navBar
  .content
    a.navLogo(href="#") Yote Admin
    ul.navList.-horiz.u-pullRight
      li(ng-show="!currentUser.username")
        a(ui-sref="user.login") Login
      li(ng-show="!currentUser.username")
        a(ui-sref="user.register") Register
      li(ng-show="currentUser.username")
        a(ui-sref="user.logout") Logout

section.content
  ui-view