section(yt-tallBoy)
  nav.navBar.-dark
    div(yt-container)
      a.navLogo Yote
      ul.navList.-horiz.u-pullRight
        li
          a(ui-sref="user.logout") Logout

  nav.side-nav.-left
    ul
      li
        a(ui-sref="admin.style") Style guide

  section(yt-container="tallBoy")
    ui-view


  footer
    nav.navBar.-dark
      .content
        a.navLogo Yote
