nav.navBar.-dark
  .content
    a.navLogo(href="#") Yote
    ul.navList.-horiz.u-pullRight
      li
        a(ui-sref="root.home") Home
      li
        a(ui-sref="post.list") Blog 
      li
        a(ui-sref="static.faq") FAQ 
      li 
        a(ui-sref="static.about") About 

section.content
  ui-view