/*// ••••••••••••••••••••••••••••••••••••••••••••••••••

 Any style-guide specific styles should go here

*/// ••••••••••••••••••••••••••••••••••••••••••••••••••

.example-content {
  background-color: rgba(0,0,0,.05);
  padding: 20px 0;
  border-top: 1px solid rgba(0,0,0,.15);
  border-bottom: 1px solid rgba(0,0,0,.15);

  .grid-sample {
    background-color: rgba(250,0,0,.05);
    border-right: 1px solid rgba(250,0,0,.15);
    border-left: 1px solid rgba(250,0,0,.15);

    .card {
      background-color: rgba(0,0,250,.05);
    }
  }
  .row-sample {
    background-color: rgba(0,250,0,.05);
    border-top: 1px solid rgba(0,250,0,.15);
    border-bottom: 1px solid rgba(0,250,0,.15);
    margin-bottom: 20px;
  }

}

.colors {
  div {
    margin: 2px;
    text-align: center;
    @include type-small;

    &.whites {
      div {
        &.one   {background-color: $white-1;}
        &.two   {background-color: $white-2;}
        &.three {background-color: $white-3;}
        &.four  {background-color: $white-4;}
        &.five  {background-color: $white-5;}
        &.six   {background-color: $white-6;}
      }
    }

    &.greys {
      div {
        &.one   {background-color: $grey-1;}
        &.two   {background-color: $grey-2;}
        &.three {background-color: $grey-3;}
        &.four  {background-color: $grey-4;}
        &.five  {background-color: $grey-5;}
        &.six   {background-color: $grey-6;}
        &.seven {background-color: $grey-7;}
        &.eight {background-color: $grey-8;}
        &.nine  {background-color: $grey-9;}
      }
    }

    &.blacks {
      color: $white;
      div {
        &.one   {background-color: $black-1;}
        &.two   {background-color: $black-2;}
        &.three {background-color: $black-3;}
        &.four  {background-color: $black-4;}
        &.five  {background-color: $black-5;}
        &.six   {background-color: $black-6;}
      }
    }
  }
}



.typography{
  .typeTogglers {
    .toggler {
      text-align: center;
      label {
        display: block;
        @include type-small;
      }

      select {
        width: 100%;
      }
    }
  }
}
