
// Blacks
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$black-6: #666;
$black-5: #555;
$black-4: #444;
$black-3: #333;
$black-2: #222;
$black-1: #111;
$black-0: #000;

// Whites
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$white-6: #FFFFE6;
$white-5: #FFFFE9;
$white-4: #FFFFEC;
$white-3: #FFFFF9;
$white-2: #FFFFFC;
$white-1: #FFFFFF;

// Greys
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$grey-9: #eee;
$grey-8: #ddd;
$grey-7: #ccc;
$grey-6: #bbb;
$grey-5: #aaa;
$grey-4: #999;
$grey-3: #888;
$grey-2: #777;
$grey-1: #666;
