
// Blacks
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$black-6: #666;
$black-5: #555;
$black-4: #444;
$black-3: #333;
$black-2: #222;
$black-1: #111;
$black-0: #000;

// Whites
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$white-6: #FFFFE6;
$white-5: #FFFFE9;
$white-4: #FFFFEC;
$white-3: #FFFFF9;
$white-2: #FFFFFC;
$white-1: #FFFFFF;

// Greys
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$grey-9: #eee;
$grey-8: #ddd;
$grey-7: #ccc;
$grey-6: #bbb;
$grey-5: #aaa;
$grey-4: #999;
$grey-3: #888;
$grey-2: #777;
$grey-1: #666;

// Blue Grey
// ••••••••••••••••••••••••••••••••••••••••••••••••••


$blue-grey-9: #ECEFF1;
$blue-grey-8: #CFD8DC;
$blue-grey-7: #B0BEC5;
$blue-grey-6: #90A4AE;
$blue-grey-5: #78909C;
$blue-grey-4: #607D8B;
$blue-grey-3: #546E7A;
$blue-grey-2: #455A64;
$blue-grey-1: #37474F;
$blue-grey-0: #263238;
