// Forms
//   ••••••••••••••••••••••••••••••••••••••••••••••••••

$formContainerColor: #fff;
$formAccentColor: $link-color;
$formTextColor: $text-color;

.form-container {
  // @include box-shadow(0px 5px 6px #ccc);
  // border-radius: 4px;
  // background-color: $formContainerColor;
  // padding: 40px 20px;
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
  max-width: 600px;
  h2 {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }
  form {
  }
}

form {
  margin: 0 auto;
  padding: $gutter;
}

.input-group {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: $gutter;
  @include base-font;

  label {
    display: block;
    font-weight: 700;
    overflow-wrap: break-word;
  }

  a {
    &.forgot {
      position: absolute;
      @include small-font;
      top: 0px;
      right: 0px;
    }
  }

  input {
    // margin-bottom: 1em;
    width: 100%;
    padding: 8px 6px;
    outline: none;
    border: none;
    border-bottom: 2px solid $grey;
    background-color: darken($formContainerColor, 3);
    // border-radius: 4px;
    transition: all 0.5s ease;

    &:focus {
      border-bottom: 2px solid $formAccentColor;
    }

    &[type="radio"] {
      display: inline-block;
      width: 20px;
      margin-right: 3px;
    }

    &[type="radio"]+label {
      margin-right: 20px;
      display: inline-block;
    }
    &[type="checkbox"] {
      display: inline-block;
      width: 20px;
      margin-right: 3px;
    }

    &[type="checkbox"]+label {
      margin-right: 20px;
      display: inline-block;
    }

  }

  select {
    background-color: darken($formContainerColor, 3);
    width: 100%;
    margin-bottom: 1em;
    padding: 8px 6px;
    border: 2px solid $grey;
    @include lineHeight-looser;

    &:focus {
      border: 2px solid $formAccentColor;
    }
  }

  textarea {
    background-color: darken($formContainerColor, 3);
    width: 100%;
    margin-bottom: 1em;
    padding: 8px 6px;
    border-radius: 0;
    resize: vertical;
    border: none;
    border-bottom: 2px solid $grey;

    &:focus {
      border: 2px solid $formAccentColor;
    }
  }
}



// override ng-invalid-required box shadow in firefox 
.ng-pristine.ng-invalid-required {
  box-shadow: none;
}

// input addons (for icon in a search box for example)
// ••••••••••••••••••••••••••••••••••••••••••••••••••


// see /admin/users for an example of how to use
.input-add-on {
  @include display-flex;
  margin-bottom: 1em;

  .field {
    @include flex(1);

    // padding: 0.5em 0.75em;
    &:not(:first-child) {
      border-left: 0;
      border-radius: 0;
    }

    &:not(:last-child) {
      border-right: 0;
      border-radius: 0;
    }
  }

  .item {
    background-color: darken($formContainerColor, 3);
    // color: $grey-7;
    // padding: 8px 6px;
    padding: 0.5em 0.75em;
    font: inherit;
    border: 2px solid $grey;
    font-weight: 700;

  }
  button {
    &.item {
      // background-color:  lighten(#3A3042, 30);
      // border-color: lighten(#3A3042, 30);
      // color: #fff;
      white-space: nowrap;
      border: none;
      &:hover {
        background-color: darken($formContainerColor, 20);
        // border-color: lighten(#3A3042, 35)
      }
    }
    &:disabled {
      color: darken($formContainerColor, 20);
      &:hover {
        background-color: darken($formContainerColor, 3);
      }
    }
  }
  .field,
  .item {
    // border: 1px solid $grey-9;
    // padding: 0.5em 0.75em;
    &:first-child {
      border-radius: 2px 0 0 2px;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }

}


.pill-item {
  background-color: lighten(#3A3042, 30%);
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  color: $white;

  p {
    margin: 0px;
  }

  a {
    display: inline-block;
    margin-right: 4px;
    color: $white;
  }
}
