//- angular routes
script(src="/app/default-routes.js")
script(src="/app/admin/admin-routes.js")
script(src="/app/static/static-routes.js")
script(src="/app/users/user-routes.js")
script(src="/app/post/post-routes.js")
