section(yt-container)
  form(name="newPostForm" ng-submit="createAction(postData)")
    h2 Create Post
    .input-group
      label Title
      input(type="text" name="title" ng-model="postData.title" placeholder="Post Title" required)
    .input-group
      label Content 
      textarea(type="text" name="content" ng-model="postData.content" placeholder="Post content...")
      small by: {{currentUser.firstName}} {{currentUser.lastName}}
    .input-group
      button(yt-btn type="submit" ng-disabled="!newPostForm.$valid") Submit

