section(yt-container)
  form(name="editPostForm" ng-submit="updateAction(post)")
    h2 Update Post
    .input-group
      label Title
      input(type="text", name="title", placeholder="title", ng-model="post.title" required)
    .input-group
      label Content
      textarea(type="text", name="content", ng-model="post.content")
    .input-group
      button(yt-btn type="submit" ng-disabled="!editPostForm.$valid") Update