h1 LOGIN
input(type="text", name="username", placeholder="username", ng-model="username")
br
input(type="password", name="password", placeholder="password", ng-model="password")
br
button(type="button", ng-click="loginAction(username, password)") Login
br
br
a(ui-sref="user.forgotpassword") Forgot Password?
br
a(ui-sref="user.register") or Register