h1 Change Password

br
p OLD Password
input(type="password", ng-model="password.oldPass")
p NEW Password
input(type="password", ng-model="password.newPass")
p Confirm New Password
input(type="password", ng-model="password.newPassConfirm")
br
br
br
button(yt-btn type="button" ng-click="changePassword(password)") Change Password