h1 My Profile

p First Name
input(type="text" ng-model="user.firstName")
p Last Name
input(type="text" ng-model="user.lastName")
p MORE FIELDS HERE IF WE DECIDE WE WANT MORE IN THE USER MODEL
br
br
button(yt-btn type="button" ng-click="updateProfile(user)") Update My Profile

br
br
br
a(yt-btn ui-sref="user.password") Change My Password
