section(yt-container="fluid")
  h1 Users Dashboard

  .user-widgets(yt-row)
    .widget(yt-col="full 3/4s")
      table.user-table.striped
        caption Users Table
          .toolbar(yt-toolbar)
            .tools(yt-tools="space-between")
              .filters.input-add-on
                span.item
                  small filter
                select.field(ng-model="search" ng-options="role for role in userRoles")
                  option(value="") -- role -- 

              .search.input-add-on
                span.item 
                  small search 
                input.field(type="text" ng-model="search.$")
              .bulk-actions.input-add-on
                select.field(ng-model="actions.role" ng-options="role for role in userRoles")
                  option(value="") -- role -- 
                button.item(ng-click="addRole(users, actions.role)") Add role 
        thead
          tr
            th 
              //- input(type="checkbox" ng-model="selectAll")
            th
              a(ng-click="predicate = 'username'" ng-class="{active: predicate=='-username'}" ng-hide="predicate == 'username'")
                | Email
                span(ng-show="predicate == '-username'") &darr;
              a(ng-click="predicate = '-username'" ng-class="{active: predicate=='username'}" ng-show="predicate == 'username'")
                | Email
                span(ng-show="predicate == 'username'") &uarr;
            th
              a(ng-click="predicate = 'firstName'" ng-class="{active: predicate=='-firstName'}" ng-hide="predicate == 'firstName'")
                | First Name
                span(ng-show="predicate == '-firstName'") &darr;
              a(ng-click="predicate = '-firstName'" ng-class="{active: predicate=='firstName'}" ng-show="predicate == 'firstName'")
                | First Name
                span(ng-show="predicate == 'firstName'") &darr;
            th
              a(ng-click="predicate = 'lastName'" ng-class="{active: predicate=='-lastName'}" ng-hide="predicate == 'lastName'")
                | Last Name
                span(ng-show="predicate == '-lastName'") &darr;
              a(ng-click="predicate = '-lastName'" ng-class="{active: predicate=='lastName'}" ng-show="predicate == 'lastName'")
                | Last Name
                span(ng-show="predicate == 'lastName'") &darr;
            th
              a(ng-click="predicate = 'roles'" ng-class="{active: predicate=='-roles'}" ng-hide="predicate == 'roles'")
                | Roles
                span(ng-show="predicate == '-roles'") &darr;
              a(ng-click="predicate = '-roles'" ng-class="{active: predicate=='roles'}" ng-show="predicate == 'roles'")
                | Roles
                span(ng-show="predicate == 'roles'") &darr;

        tbody
          tr(ng-repeat="user in users | filter: search | orderBy: predicate")
            td 
              input(type="checkbox" ng-checked="selectAll" ng-model="user.doAction")
            td {{user.username}}
            td {{user.firstName}}
            td {{user.lastName}}
            td 
              span(ng-repeat="role in user.roles track by $index") 
                |  {{role}}  
                sup
                  a(ng-click="removeRole(user, role)") x

