
h1 Style Guide

hr

h2 Grid Samples

.example-content
  p yt-row
  .row-sample(yt-row)
    .grid-sample(yt-col)
      p yt-col
      .card
        p card

    .grid-sample(yt-col)
      p yt-col
      .card
        p card

    .grid-sample(yt-col)
      p yt-col
      .card
        p card
  p yt-row
  .row-sample(yt-row)
    .grid-sample(yt-col)
      p yt-col
      .card
        p card

    .grid-sample(yt-col)
      p yt-col

      p yt-row
      .row-sample(yt-row)
        .grid-sample(yt-col)
          p yt-col
          .card
            p card

        .grid-sample(yt-col)
          p yt-col
          .card
            p card

  //- .row-sample(yt-row)
  //-   .grid-sample(yt-col="1/6 1/6m ")
  //-     .card
  //-       p yt-col="1/3 5/6m 1/12l"

  //-   .grid-sample(yt-col="1/3 1/6m ")
  //-     .card
  //-       p yt-col="2/23 5/6m 1/12l"

  //-   .grid-sample(yt-col="1/13 1/6m ")
  //-     .card
  //-       p yt-col="7/13 5/6m 1/12l"

  //-   .grid-sample(yt-col="1/24 2/10m")
  //-     .card
  //-       p yt-col="1/24 5/6m 1/12l"

  //-   .grid-sample(yt-col="1/4 2/10m ", yt-offset="1/20")
  //-     .card
  //-       p yt-col="4/11 5/6m 1/12l"



div(yt-row)
  div(yt-col)
    p yt-btn
    button(yt-btn) Click Me

div(yt-row)
  div(yt-col)
    p yt-btn="calm x-large"
    button(yt-btn="calm x-large") Click Me
div(yt-row)
  div(yt-col)
    p yt-btn="success large"
    button(yt-btn="success large") Click Me
div(yt-row)
  div(yt-col)
    p yt-btn="danger [default] disabled"
    button(yt-btn="danger", disabled) Click Me
div(yt-row)
  div(yt-col)
    p yt-btn="danger [default]"
    button(yt-btn="danger") Click Me
div(yt-row)
  div(yt-col)
    p yt-btn="warning small"
    button(yt-btn="warning small") Click Me
div(yt-row)
  div(yt-col)
    p yt-btn="dark x-small"
    button(yt-btn="dark x-small") Click Me
div(yt-row)
  div(yt-col="1/2")
    button(yt-btn="block") yt-btn="[default] block"

div(yt-row)
  div(yt-col="1/2")
    p yt-btn="calm x-large block"
    button(yt-btn="calm x-large block") Click Me
div(yt-row)
  div(yt-col="1/2")
    p yt-btn="success large block"
    button(yt-btn="success large block") Click Me
div(yt-row)
  div(yt-col="1/2")
    p yt-btn="danger block"
    button(yt-btn="danger block") Click Me
div(yt-row)
  div(yt-col="1/2")
    p yt-btn="warning small block"
    button(yt-btn="warning small block") Click Me
div(yt-row)
  div(yt-col="1/2")
    p yt-btn="dark x-small block"
    button(yt-btn="dark x-small block") Click Me
