.transparent {
  background-color: transparent;
  border-bottom: none;
}

.transparent a { color: #fff !important; }

.hero {
  min-height: 70vh;
  background-image: url(/img/hero-1.png);
  background-size: cover;
  background-position: center center;
  background-color: #071730;
  padding-top: $topbar-height;
  text-align: center;
  color: rgba(255,255,255,0.8);
}

.cool-thing {
  color: #ff0aa4;
}

.tallboy {
  height: 600px;
}

.h1 {
  margin: 0;
  margin-bottom: 20px;
}
.h2 {
  font-weight: 300;
  color: rgba(255,255,255,0.9);
  font-size: 4rem;
  line-height: 1.5;
  margin: 0;
}
.h3 {
  font-weight: 500;
  color: rgba(255,255,255,0.95);

}
