// Base Styles
// ••••••••••••••••••••••••••••••••••••••••••••••••••

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  @include border-box;
  @include font-smoothing(antialiased);
  @include type-base;
  background-color: $bg-color;
  color: $text-color;
  font-family: $font-sans;
  line-height: 1.5rem;
  position: relative;
  @include zIndex-5;
}


a {
  color: $link-color;
  margin: -.2rem;
  padding: .2rem;
  text-decoration: none;

  &:visited {
    color: $link-visited-color;
  }
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
  &:active {
    color: $link-hover-color;
  }
}

ul {
  margin: 0px;
  padding: 0px;
}

h1 {
  @include type-largest;
}

h2 {
  @include type-larger;
}

h3 {
  @include type-large;
}

h4 {
  @include type-base;
}

h5 {
  @include type-small;
}

h6 {
  @include type-smaller;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .7em;
}

small {
  @include type-smaller;
}

em {
  font-style: italic;
}

p {
  @include type-base;
}

u {
  text-decoration: underline;
}

strong {
  font-weight: 700;
}

hr {
  border-bottom: none;
  border-style: dotted;
  border-color: $divider-color;
  margin: $gutter*3;
}

.content {
  margin: 0 auto;
}

// Base Styles: Tablets
// ••••••••••••••••••••••••••••••••••••••••••••••••••

@include responsive-break-point($medium-screen) {

}

// Base Styles: Desktop
// ••••••••••••••••••••••••••••••••••••••••••••••••••

@include responsive-break-point($large-screen) {
  .content { max-width: 960px; }
}


// Fix: iOS Font Sizing
// ••••••••••••••••••••••••••••••••••••••••••••••••••

@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
}
