/* Buttons
  ••••••••••••••••••••••••••••••••••••••••••••••••••

    use css attribute selector syntax for the buttons.

*/




// default button styling
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-btn] {
  border: none;
  background-color: $grey;
  border-radius: 2px;
  border: 1px solid $grey;
  color: $link-color;
  margin: 0px;
  padding: 1em 2em;
  @include type-base;
  outline: none;;

  &:hover {
    &:visited { color: $link-visited-color; }
    &:hover { color: $link-hover-color; background-color: $grey; text-decoration: none; }
    &:active { color: $link-hover-color; }
  }
  // disabled buttons
  // markup can include
  //    <button yt-button disabled>...</button>
  //    <button yt-button class="disabled">...</button>
  //    <button yt-button ng-disabled>...</button>
  //    <button yt-button ng-class="disabled">...</button>
  &.disabled,
  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

}

// various button sizes
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-btn~="x-large"] {
  padding: 1em 2em;
  @include type-larger;
}

[yt-btn~="large"] {
  padding: .8em .8em;
  @include type-large;
}

[yt-btn~="small"] {
  padding: .5em .7em;
  @include type-small;
}

[yt-btn~="x-small"] {
  padding: .4em .4em;
  @include type-smaller;
}

// Buttons that fill container as block element
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-btn~="block"] {
  display: block;
  width: 100%;
}

// Buttons with Primary, Accent and Alert colors
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-btn~="primary"] {
  background-color: $link-color;
}


// Buttons with semantic colors
// ••••••••••••••••••••••••••••••••••••••••••••••••••

// dark
[yt-btn~="dark"] {
  background-color: $grey;
  border-color: $grey;
  color: $link-color;
  &:hover {
    &:visited { color: $link-visited-color; }
    &:hover { color: $link-hover-color; background-color: $grey; }
    &:active { color: $link-hover-color; }
  }
}

// success
[yt-btn~="success"] {
  background-color: $success;
  border-color: $success-hover;
  color: $white;
  &:hover {
    &:visited { color: $link-visited-color; }
    &:hover { color: $link-hover-color; background-color: $success-hover; }
    &:active { color: $link-hover-color; }
  }
}

// warning
[yt-btn~="warning"] {
  background-color: $warning;
  border-color: $warning-hover;
  color: $white;
  &:hover {
    &:visited { color: $link-visited-color; }
    &:hover { color: $link-hover-color; background-color: $warning-hover; }
    &:active { color: $link-hover-color; }
  }
}

// danger
[yt-btn~="danger"] {
  background-color: $danger;
  border-color: $danger-hover;
  color: $white;
  &:hover {
    &:visited { color: $link-visited-color; }
    &:hover { color: $link-hover-color; background-color: $danger-hover; }
    &:active { color: $link-hover-color; }
  }
}


// link buttons
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-btn~="link"] {
  background-color: transparent;
  border: none;
  color: $link-color;
  &:hover {
    &:visited { color: $link-visited-color; }
    &:hover { color: $link-hover-color; background-color: $brand-primary; }
    &:active { color: $link-hover-color; }
  }
}

