// Default Button Styling
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-btn] {
  @include type-base;
  background-color: $link-color;
  border: 1px solid $link-color;
  @include box-shadow(0px 4px 0px darken($link-color, 30));
  color: $white;
  border: none;
  border-radius: 2px;
  padding: .3em 1em;
  position: relative;
  transition: background-color .15s ease;

  &:visited { color: $white; }

  &:hover {
    background-color: darken($link-color, 10); text-decoration: none; border-color: darken($link-color, 10);
    @include box-shadow(0px 2px 0px darken($link-color, 30));
    top: 2px;
  }

  &:active {
    @include box-shadow(0px 0px 0px darken($link-color, 30));
    top: 4px;
    color: $white;
  }

  &.disabled,
  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

// various button sizes
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-btn~="x-large"] {
  @include type-larger;
}

[yt-btn~="large"] {
  @include type-large;
}

[yt-btn~="small"] {
  @include type-small;
}

[yt-btn~="x-small"] {
  @include type-smaller;
}

// Buttons that fill container as block element
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-btn~="block"] {
  display: block;
  width: 100%;
}

// Buttons with Primary, Accent and Alert colors
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-btn~="primary"] {
  background-color: $link-color;
}


// Buttons with semantic colors
// ••••••••••••••••••••••••••••••••••••••••••••••••••

// dark
[yt-btn~="dark"] {
  background-color: $grey;
  border-color: $grey;
  color: $white;
  @include box-shadow(0px 4px 0px darken($grey, 30));

  &:visited { color: $white; }
  &:hover {
    @include box-shadow(0px 2px 0px darken($grey, 30));
    background-color: darken($grey, 10);
    color: $white;
  }
  &:active {
    @include box-shadow(0px 0px 0px darken($grey, 30));
    color: $white;
  }

}

// success
[yt-btn~="success"] {
  background-color: $success;
  border-color: $success-hover;
  color: $white;
  @include box-shadow(0px 4px 0px darken($success, 30));

  &:visited { color: $white; }
  &:hover {
    @include box-shadow(0px 2px 0px darken($success, 30));
    background-color: darken($success, 10);
    color: $white;
  }
  &:active {
    @include box-shadow(0px 0px 0px darken($success, 30));
    color: $white;
  }
}

// warning
[yt-btn~="warning"] {
  background-color: $warning;
  border-color: $warning-hover;
  color: $white;
  @include box-shadow(0px 4px 0px darken($warning, 30));

  &:visited { color: $white; }
  &:hover {
    @include box-shadow(0px 2px 0px darken($warning, 30));
    background-color: darken($warning, 10);
    color: $white;
  }
  &:active {
    @include box-shadow(0px 0px 0px darken($warning, 30));
    color: $white;
  }
}

// danger
[yt-btn~="danger"] {
  background-color: $danger;
  border-color: $danger-hover;
  color: $white;
  @include box-shadow(0px 4px 0px darken($danger, 30));

  &:visited { color: $white; }
  &:hover {
    @include box-shadow(0px 2px 0px darken($danger, 30));
    background-color: darken($danger, 10);
    color: $white;
  }
  &:active {
    @include box-shadow(0px 0px 0px darken($danger, 30));
    color: $white;
  }

}

// for Grant
[yt-btn~="fowler"] {
  background-color: #2555e9;
  border-color: #2555e9;
  color: $white;
  @include box-shadow(0px 4px 0px darken(#2555e9, 30));

  &:hover {
    @include box-shadow(0px 2px 0px darken(#2555e9, 30));
    background-color: darken(#2555e9, 10);
    color: $white;
  }
  &:active {
    @include box-shadow(0px 0px 0px darken(#2555e9, 30));
    color: $white;
  }

}


[yt-btn~="flat"] {
  position: static;
  @include box-shadow(0px 0px 0px transparent);
  &:hover {
    &:hover { @include box-shadow(0px 0px 0px transparent); }
    &:active { @include box-shadow(0px 0px 0px transparent); }
  }
}

// link buttons
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-btn~="link"] {
  background-color: transparent;
  border: none;
  color: $link-color;
  &:hover {
    &:visited { color: $link-visited-color; }
    &:hover { color: $link-hover-color; background-color: $brand-primary; }
    &:active { color: $link-hover-color; }
  }
}
[yt-btn~="link"] {
  background-color: transparent;
  border: none;
  color: $link-color;
  &:hover {
    &:visited { color: $link-visited-color; }
    &:hover { color: $link-hover-color; background-color: $brand-primary; }
    &:active { color: $link-hover-color; }
  }
}


