
// Main Colors
// ••••••••••••••••••••••••••••••••••••••••••••••••••

// default bg-color
$bg-color:                    #ddd;

// default text-color
$primary-text:                #aaa;
$secondary-text:              #bbb;
$hint-text:                   #888;
$divider:                     #999;
$text-light:                  #ccc;

// primary colors (navbar, etc)
$primary:                     black;
$primary-hover:               darken($primary, 10);

$primary-light:               blue;
$primary-light-hover:         darken($primary-light, 10);

$primary-dark:                green;
$primary-dark-hover:          darken($primary-dark, 10);

$primary-ultra-light:         lightblue;
$primary-ultra-light-hover:   darken($primary-ultra-light, 10);

// secondary colors (calls to action, links, etc.)
$accent:                      pink;
$accent-hover:                darken($accent, 10);


// tertiary colors (alerts and whatnot)
$alert:                       yellow;
$alert-hover:                 darken($alert, 10);



// Semantic Colors
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$light: #ECF0F1;
$light-hover: darken($light, 10);
$light-brilliant: lighten($light, 90);

$dark: #2F3538;
$dark-hover: darken($dark, 10);

$calm: #3498db;
$calm-hover: darken($calm, 10);

$success: #2ecc71;
$success-hover: darken($success, 10);

$warning: #e67e22;
$warning-hover: darken($warning, 10);

$danger: #e74c3c;
$danger-hover: darken($danger, 10);

