
// Main Colors
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$brand-primary:               #adadad;
$brand-secondary:             #dadada;
$brand-accent:                #a8a8a8;

$bg-color:                    #FEFEFE;
$text-color:                  #333;
$link-color:                  #527ef4;
$link-visited-color:          #6c167b;
$divider:                     #ddd;
$grey:                        #ECF0F1;
$white:                       #fff;

$hint-text:                   $grey;
$accent-color:                $brand-accent;
$link-hover-color:            lighten($link-color, 20);


// Semantic Colors
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$success: #2ecc71;
$success-hover: darken($success, 10);

$warning: #e67e22;
$warning-hover: darken($warning, 10);

$danger: #e74c3c;
$danger-hover: darken($danger, 10);

