
// Blacks
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$black-6: rgb(50,50,50);
$black-5: rgb(40,40,40);
$black-4: rgb(30,30,30);
$black-3: rgb(20,20,20);
$black-2: rgb(10,10,10);
$black-1: rgb(0,0,0);

// Whites
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$white-6: #FFFFE3;
$white-4: #FFFFE6;
$white-3: #FFFFE9;
$white-5: #FFFFED;
$white-2: #FFFFFB;
$white-1: #FFFFFF;

// Greys
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$grey-9: #eee;
$grey-8: #ddd;
$grey-7: #ccc;
$grey-6: #bbb;
$grey-5: #aaa;
$grey-4: #999;
$grey-3: #888;
$grey-2: #777;
$grey-1: #666;
