
// Utility Classes
// ••••••••••••••••••••••••••••••••••••••••••••••••••
%u-clearfix {
  @include clearfix;
}

%u-pullRight {
  float: right;
}

%u-underline {
  text-decoration: underline;
}

%u-caps {
  @include letterSpacing-loose;
  text-transform: uppercase;
}

.u-caps {
  @extend %u-caps;
}

.u-clearfix {
  @extend %-u-clearfix;
}

.u-pullRight {
  @extend %u-pullRight;
}

.u-underline {
  @extend %u-underline;
}

// Buttons
// ••••••••••••••••••••••••••••••••••••••••••••••••••
%button {
  border: none;
  background-color: $color-btn;
  color: $color-btn-text;
  margin: 0px;
  padding: 1em 2em;
  @include type-base;

  &:hover {
    &:visited { color: $color-link-visited; }
    &:hover { color: $color-btn-text-hover; background-color: $color-btn-hover; text-decoration: none; }
    &:active { color: $color-text; }
  }
}

%button--large {
  @include type-large;
}

%button--green {
  background: #3efa95;
}

.button {
  @extend %button;

  &.-large {
    @extend %button--large;
  }

  &.-green {
    @extend %button--green;
  }

  &.-rounded {
    @include border-radius(5px);
  }
}

.button--large {
  @extend .button;
  @extend %button--large;
}



// Layout
// ••••••••••••••••••••••••••••••••••••••••••••••••••

%container {
  @include border-box;
  @include clearfix;
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $gutter-width;
}

.content {
  @extend %container;
}

.hero {
  @extend %container;
  padding: $gutter_width;

  h1,h2,h3,h4,h5,h6 {
    @include type-jumbo;
    margin-bottom: $gutter_width;
  }

  p {
    @include type-large;
    @include lineHeight-looser;
    margin-bottom: 2rem;
  }

}

%nav--dark {
  background-color: #1c1e21;
}

%nav--light {
  background-color: #f5f5f5;
}

%horiz {
  display: inline-block;
}

%vert {
  display: block;
}

.navBar {
  width: 100%;
  padding: 1rem 0px;

  &.-dark {
    @extend %nav--dark;
  }

  &.-light {
    @extend %nav--light;
  }

  .navLogo {
    display: inline-block;
    @include type-large;
  }

  .navList {

    &.-horiz {
      li {
        @extend %horiz;
        a {
          margin: 0px 1em;
        }
      }
    }
    &.-vert {
      li {
        @extend %vert;
        a {
          margin: 1em 0px;
        }
      }
    }
  }
}










