// Forms
//   ••••••••••••••••••••••••••••••••••••••••••••••••••

$formContainerColor: #fff;
$formAccentColor: $brand-accent;
$formTextColor: $text-color;

.formContainer {
  @include box-shadow(2px 1px 2px 2px #ccc);
  border-radius: 4px;
  background-color: $formContainerColor;
  padding: 40px 20px;

  h2 {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

form {

  .input-group {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;

    label {
      display: block;
      @include type-small;
      overflow-wrap: break-word;
    }

    a {
      &.forgot {
        position: absolute;
        @include type-small;
        top: 0px;
        right: 0px;
      }
    }

    input {
      margin-bottom: 1em;
      width: 100%;
      padding: 8px 6px;
      outline: none;
      border: 2px solid $grey;
      background-color: darken($formContainerColor, 3);
      border-radius: 4px;
      transition: all 0.5s ease;

      &:focus {
        border: 2px solid $formAccentColor;
      }

    }

    select {
      background-color: darken($formContainerColor, 3);
      width: 100%;
      margin-bottom: 1em;
      padding: 8px 6px;
      // border-radius: 4px;
      border: 2px solid $grey;
      @include lineHeight-looser;

      option {
        color:
      }

      &:focus {
        border: 2px solid $formAccentColor;
      }
    }


    textarea {
      background-color: darken($formContainerColor, 3);
      width: 100%;
      margin-bottom: 1em;
      padding: 8px 6px;
      border-radius: 4px;
      resize: vertical;
      border: 2px solid $grey;

      &:focus {
        border: 2px solid $formAccentColor;
      }
    }
  }

  button {
    background-color: $link-color;
    color: $white;
    margin: 0 auto;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include type-small;
    outline: none;

    &:hover {
      &:visited { color: $white; }
      &:hover { background-color: darken($link-color, 10); text-decoration: none; border-color: darken($link-color, 10); }
      &:active { color: $white; }
    }

    &:active {
      outline: none;
    }
  }
}

