// Forms
//   ••••••••••••••••••••••••••••••••••••••••••••••••••

$formContainerColor: #fff;
$formAccentColor: $link-color;
$formTextColor: $text-color;

.formContainer {
  @include box-shadow(0px 5px 6px #ccc);
  border-radius: 4px;
  background-color: $formContainerColor;
  padding: 40px 20px;

  h2 {
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

form {
  margin: 0 auto;

  .input-group {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    @include type-base;

    label {
      display: block;
      @include type-small;
      overflow-wrap: break-word;
    }

    a {
      &.forgot {
        position: absolute;
        @include type-small;
        top: 0px;
        right: 0px;
      }
    }

    input {
      margin-bottom: 1em;
      width: 100%;
      padding: 8px 6px;
      outline: none;
      border: 2px solid $grey;
      background-color: darken($formContainerColor, 3);
      border-radius: 4px;
      transition: all 0.5s ease;

      &:focus {
        border: 2px solid $formAccentColor;
      }

      &[type="radio"] {
        display: inline-block;
        width: 20px;
        margin-right: 3px;
      }

      &[type="radio"]+label {
        margin-right: 20px;
        display: inline-block;
      }
      &[type="checkbox"] {
        display: inline-block;
        width: 20px;
        margin-right: 3px;
      }

      &[type="checkbox"]+label {
        margin-right: 20px;
        display: inline-block;
      }

    }

    select {
      background-color: darken($formContainerColor, 3);
      width: 100%;
      margin-bottom: 1em;
      padding: 8px 6px;
      border: 2px solid $grey;
      @include lineHeight-looser;

      &:focus {
        border: 2px solid $formAccentColor;
      }
    }



    textarea {
      background-color: darken($formContainerColor, 3);
      width: 100%;
      margin-bottom: 1em;
      padding: 8px 6px;
      border-radius: 4px;
      resize: vertical;
      border: 2px solid $grey;

      &:focus {
        border: 2px solid $formAccentColor;
      }
    }
  }

  button {
    display: block;
    margin: 0 auto;
  }
}


// input addons (for icon in a search box for example)
// ••••••••••••••••••••••••••••••••••••••••••••••••••


// see /admin/users for an example of how to use
.input-add-on {
  @include display-flex;
  margin-bottom: 1em;

  .field {
    @include flex(1);

    &:not(:first-child) {
      border-left: 0;
      border-radius: 0;
    }

    &:not(:last-child) {
      border-right: 0;
      border-radius: 0;
    }
  }

  .item {
    background-color: #fff;
    color: $grey-7;
    font: inherit;
    font-weight: normal;

  }
  button {
    &.item {
      background-color: $link-color;
      color: #fff;
    }
  }
  .field,
  .item {
    border: 1px solid $grey-9;
    padding: 0.5em 0.75em;
    &:first-child {
      border-radius: 2px 0 0 2px;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }

}

