
// Helper Classes
// ••••••••••••••••••••••••••••••••••••••••••••••••••



// show and hide based on screen size
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-hidden] {
  display: none !important;
}

[yt-visible] {
  @include display-flex;
}

[yt-visible~="flex"] {
  @include display-flex;
}

[yt-visible~="block"] {
  display: block ;
}

[yt-visible~="inline"] {
  display: inline;
}

[yt-visible~="inline-block"] {
  display: inline-block ;
}

[yt-visible~="small"] {
  display: none !important;
}

@include responsive-break-point($small-screen) {
  [yt-visible~="small"] {
    @include display-flex;
  }
}

@include responsive-break-point($medium-screen) {

}

@include responsive-break-point($large-screen) {

}