$small-screen: 680px;
$medium-screen: 920px;
$large-screen: 1120px;

$container-width: 960px;

$max-width: 960px;
$gutter-width: 30px;
$col-count: 120;
$gutter-count: $col-count - 1;
$total-gutter-width: $gutter-count * $gutter-width;
$col-width: ($max-width - $total-gutter-width) / $col-count;

@mixin columnify($num-cols) {
  max-width: $col-width * $num-cols + $gutter-width * ($num-cols - 1);
}

@mixin offset($num-cols) {
  margin-left: ($col-width + $gutter-width) * $num-cols;
}

$col-percent: percentage($col-width/$max-width);
$gutter: $gutter-width * 0.5;



// Layout
// ••••••••••••••••••••••••••••••••••••••••••••••••••

%container {
  @include border-box;
  @include clearfix;
  position: relative;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $gutter-width;
}


%container--tall {
  min-height: 100%;
  height: auto;
  // these should be set to height of footer
  // margin-bottom: -121px; // $footer-height;
  // padding-bottom: 121px; // $footer-height;
}

%container--fluid {
  max-width: 100%;
}

.content {
  @extend %container;
  
  &.-tall {
    @extend %container--tall;
  }

  &.-fluid {
    @extend %container--fluid;
  }

}

.hero {
  @extend %container;
  padding: $gutter_width;

  h1,h2,h3,h4,h5,h6 {
    @include type-jumbo;
    margin-bottom: $gutter_width;
  }

  p {
    @include type-large;
    @include lineHeight-looser;
    margin-bottom: 2rem;
  }

}


// Grid
// ••••••••••••••••••••••••••••••••••••••••••••••••••
//
// Using flexbox for the grid, inspired by Philip Walton:
// http://philipwalton.github.io/solved-by-flexbox/demos/grids/


// Rows
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-row] {
  @include display-flex();
  padding: $gutter;
  width: 100%;
}

[yt-row~="wrap"] {
  @include flex-wrap(wrap);
}

[yt-row] + [yt-row] {
  margin-top: $gutter * -1;
  padding-top: 0;
}

// Vertically align columns in a row

[yt-row~="top"] {
  @include align-items(flex-start);
}

[yt-row~="bottom"] {
  @include align-items(flex-end);
}

[yt-row~="center"] {
  @include align-items(center);
}

[yt-row~="stretch"] {
  @include align-items(stretch);
}

[yt-row~="baseline"] {
  @include align-items(baseline);
}


// Root Flex-based Columns
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-col] {
  @include flex(1);
  display: block;
  padding: $gutter;
  width: 100%;
}

// Vertically align individual columns 

[yt-col~="top"] {
  @include align-self(flex-start);
}

[yt-col~="bottom"] {
  @include align-self(flex-end);
}

[yt-col~="center"] {
  @include align-self(center);
}


// Specific Width Columns: Base ~ these will never collapse
// ••••••••••••••••••••••••••••••••••••••••••••••••••


[yt-col~="1/2"],
[yt-col~="2/4"],
[yt-col~="3/6"],
[yt-col~="4/8"],
[yt-col~="5/10"],
[yt-col~="6/12"],
[yt-col~="7/14"],
[yt-col~="8/16"],
[yt-col~="9/18"],
[yt-col~="10/20"],
[yt-col~="11/22"],
[yt-col~="12/24"] {
  @include flex(0, 0, 50%);
  max-width: 50%;
}

[yt-col~="1/3"],
[yt-col~="2/6"],
[yt-col~="3/9"],
[yt-col~="4/12"],
[yt-col~="5/15"],
[yt-col~="6/18"],
[yt-col~="7/21"],
[yt-col~="8/24"] {
  @include flex(0, 0, percentage(1/3));
  max-width: percentage(1/3);
}

[yt-col~="2/3"],
[yt-col~="4/6"],
[yt-col~="6/9"],
[yt-col~="8/12"],
[yt-col~="10/15"],
[yt-col~="12/18"],
[yt-col~="14/21"],
[yt-col~="16/24"] {
  @include flex(0, 0, percentage(2/3));
  max-width: percentage(2/3);
}

[yt-col~="1/4"],
[yt-col~="2/8"],
[yt-col~="3/12"],
[yt-col~="4/16"],
[yt-col~="5/20"],
[yt-col~="6/24"] {
  @include flex(0, 0, 25%);
  max-width: 25%;
}

[yt-col~="3/4"],
[yt-col~="6/8"],
[yt-col~="9/12"],
[yt-col~="12/16"],
[yt-col~="15/20"],
[yt-col~="18/24"] {
  @include flex(0, 0 , 75%);
  max-width: 75%;
}

[yt-col~="1/5"],
[yt-col~="2/10"],
[yt-col~="5/20"] {
  @include flex(0, 0 , 20%);
  max-width: 20%;
}

[yt-col~="2/5"],
[yt-col~="4/10"],
[yt-col~="8/20"] {
  @include flex(0, 0 , 40%);
  max-width: 40%;
}

[yt-col~="3/5"],
[yt-col~="6/10"],
[yt-col~="12/20"] {
  @include flex(0, 0 , 60%);
  max-width: 60%;
}

[yt-col~="4/5"],
[yt-col~="8/10"],
[yt-col~="16/20"] {
  @include flex(0, 0 , 80%);
  max-width: 80%;
}

[yt-col~="1/6"],
[yt-col~="2/12"],
[yt-col~="3/24"] {
  @include flex(0, 0 , percentage(1/6));
  max-width: percentage(1/6);
}

[yt-col~="5/6"],
[yt-col~="10/12"],
[yt-col~="20/24"] {
  @include flex(0, 0 , percentage(5/6));
  max-width: percentage(5/6);
}

[yt-col~="1/7"],
[yt-col~="2/14"] {
  @include flex(0, 0 , percentage(1/7));
  max-width: percentage(1/7);
}

[yt-col~="2/7"],
[yt-col~="4/14"] {
  @include flex(0, 0 , percentage(1/7));
  max-width: percentage(2/7);
}

[yt-col~="3/7"],
[yt-col~="6/14"],
[yt-col~="9/21"] {
  @include flex(0, 0 , percentage(3/7));
  max-width: percentage(3/7);
}

[yt-col~="4/7"],
[yt-col~="8/14"],
[yt-col~="12/21"] {
  @include flex(0, 0 , percentage(4/7));
  max-width: percentage(4/7);
}

[yt-col~="5/7"],
[yt-col~="10/14"] {
  @include flex(0, 0 , percentage(5/7));
  max-width: percentage(5/7);
}

[yt-col~="6/7"],
[yt-col~="12/14"],
[yt-col~="18/21"] {
  @include flex(0, 0 , percentage(6/7));
  max-width: percentage(6/7);
}

[yt-col~="1/8"],
[yt-col~="2/16"],
[yt-col~="3/24"] {
  @include flex(0, 0 , 12.5%);
  max-width: 12.5%;
}

[yt-col~="3/8"],
[yt-col~="6/16"],
[yt-col~="9/24"] {
  @include flex(0, 0 , 37.5%);
  max-width: 37.5%;
}

[yt-col~="5/8"],
[yt-col~="10/16"],
[yt-col~="15/24"] {
  @include flex(0, 0 , 62.5%);
  max-width: 62.5%;
}

[yt-col~="7/8"],
[yt-col~="14/16"],
[yt-col~="21/24"] {
  @include flex(0, 0 , 87.5%);
  max-width: 87.5%;
}

[yt-col~="1/9"],
[yt-col~="2/18"] {
  @include flex(0, 0 , percentage(1/9));
  max-width: percentage(1/9);
}

[yt-col~="2/9"],
[yt-col~="4/18"] {
  @include flex(0, 0 , percentage(2/9));
  max-width: percentage(2/9);
}

[yt-col~="4/9"],
[yt-col~="8/18"] {
  @include flex(0, 0 , percentage(4/9));
  max-width: percentage(4/9);
}

[yt-col~="5/9"],
[yt-col~="10/18"] {
  @include flex(0, 0 , percentage(5/9));
  max-width: percentage(5/9);
}

[yt-col~="7/9"],
[yt-col~="14/18"] {
  @include flex(0, 0 , percentage(7/9));
  max-width: percentage(7/9);
}

[yt-col~="8/9"],
[yt-col~="16/18"] {
  @include flex(0, 0 , percentage(8/9));
  max-width: percentage(8/9);
}

[yt-col~="1/10"],
[yt-col~="2/20"] {
  @include flex(0, 0 , 10%);
  max-width: 10%;
}

[yt-col~="3/10"],
[yt-col~="6/20"] {
  @include flex(0, 0 , 30%);
  max-width: 30%;
}

[yt-col~="7/10"],
[yt-col~="14/20"] {
  @include flex(0, 0 , 70%);
  max-width: 70%;
}

[yt-col~="9/10"],
[yt-col~="18/20"] {
  @include flex(0, 0 , 90%);
  max-width: 90%;
}

[yt-col~="1/11"],
[yt-col~="2/22"] {
  @include flex(0, 0 , percentage(1/11));
  max-width: percentage(1/11);
}

[yt-col~="2/11"],
[yt-col~="4/22"] {
  @include flex(0, 0 , percentage(2/11));
  max-width: percentage(2/11);
}

[yt-col~="3/11"],
[yt-col~="6/22"] {
  @include flex(0, 0 , percentage(3/11));
  max-width: percentage(3/11);
}

[yt-col~="4/11"],
[yt-col~="8/22"] {
  @include flex(0, 0 , percentage(4/11));
  max-width: percentage(4/11);
}

[yt-col~="5/11"],
[yt-col~="10/22"] {
  @include flex(0, 0 , percentage(5/11));
  max-width: percentage(5/11);
}

[yt-col~="6/11"],
[yt-col~="12/22"] {
  @include flex(0, 0 , percentage(6/11));
  max-width: percentage(6/11);
}

[yt-col~="7/11"],
[yt-col~="14/22"] {
  @include flex(0, 0 , percentage(7/11));
  max-width: percentage(7/11);
}

[yt-col~="8/11"],
[yt-col~="16/22"] {
  @include flex(0, 0 , percentage(8/11));
  max-width: percentage(8/11);
}

[yt-col~="9/11"],
[yt-col~="18/22"] {
  @include flex(0, 0 , percentage(9/11));
  max-width: percentage(9/11);
}

[yt-col~="10/11"],
[yt-col~="20/22"] {
  @include flex(0, 0 , percentage(10/11));
  max-width: percentage(10/11);
}

[yt-col~="1/12"],
[yt-col~="2/24"] {
  @include flex(0, 0 , percentage(1/12));
  max-width: percentage(1/12);
}

[yt-col~="5/12"],
[yt-col~="10/24"] {
  @include flex(0, 0 , percentage(5/12));
  max-width: percentage(5/12);
}

[yt-col~="7/12"],
[yt-col~="14/24"] {
  @include flex(0, 0 , percentage(7/12));
  max-width: percentage(7/12);
}

[yt-col~="11/12"],
[yt-col~="22/24"] {
  @include flex(0, 0 , percentage(11/12));
  max-width: percentage(11/12);
}

[yt-col~="1/13"] {
  @include flex(0, 0 , percentage(1/13));
  max-width: percentage(1/13);
}

[yt-col~="2/13"] {
  @include flex(0, 0 , percentage(2/13));
  max-width: percentage(2/13);
}

[yt-col~="3/13"] {
  @include flex(0, 0 , percentage(3/13));
  max-width: percentage(3/13);
}

[yt-col~="4/13"] {
  @include flex(0, 0 , percentage(4/13));
  max-width: percentage(4/13);
}

[yt-col~="5/13"] {
  @include flex(0, 0 , percentage(5/13));
  max-width: percentage(5/13);
}

[yt-col~="6/13"] {
  @include flex(0, 0 , percentage(6/13));
  max-width: percentage(6/13);
}

[yt-col~="7/13"] {
  @include flex(0, 0 , percentage(7/13));
  max-width: percentage(7/13);
}

[yt-col~="8/13"] {
  @include flex(0, 0 , percentage(8/13));
  max-width: percentage(8/13);
}

[yt-col~="9/13"] {
  @include flex(0, 0 , percentage(9/13));
  max-width: percentage(9/13);
}

[yt-col~="10/13"] {
  @include flex(0, 0 , percentage(10/13));
  max-width: percentage(10/13);
}

[yt-col~="11/13"] {
  @include flex(0, 0 , percentage(11/13));
  max-width: percentage(11/13);
}

[yt-col~="12/13"] {
  @include flex(0, 0 , percentage(12/13));
  max-width: percentage(12/13);
}

[yt-col~="9/14"] {
  @include flex(0, 0 , percentage(9/14));
  max-width: percentage(9/14);
}

[yt-col~="11/14"] {
  @include flex(0, 0 , percentage(11/14));
  max-width: percentage(11/14);
}

[yt-col~="13/14"] {
  @include flex(0, 0 , percentage(13/14));
  max-width: percentage(13/14);
}

[yt-col~="1/15"] {
  @include flex(0, 0 , percentage(1/15));
  max-width: percentage(1/15);
}

[yt-col~="2/15"] {
  @include flex(0, 0 , percentage(2/15));
  max-width: percentage(2/15);
}

[yt-col~="4/15"] {
  @include flex(0, 0 , percentage(4/15));
  max-width: percentage(4/15);
}

[yt-col~="6/15"] {
  @include flex(0, 0 , percentage(6/15));
  max-width: percentage(6/15);
}

[yt-col~="7/15"] {
  @include flex(0, 0 , percentage(7/15));
  max-width: percentage(7/15);
}

[yt-col~="8/15"] {
  @include flex(0, 0 , percentage(8/15));
  max-width: percentage(8/15);
}

[yt-col~="11/15"] {
  @include flex(0, 0 , percentage(11/15));
  max-width: percentage(11/15);
}

[yt-col~="13/15"] {
  @include flex(0, 0 , percentage(13/15));
  max-width: percentage(13/15);
}

[yt-col~="14/15"] {
  @include flex(0, 0 , percentage(14/15));
  max-width: percentage(14/15);
}

[yt-col~="1/16"] {
  @include flex(0, 0 , percentage(1/16));
  max-width: percentage(1/16);
}

[yt-col~="3/16"] {
  @include flex(0, 0 , percentage(3/16));
  max-width: percentage(3/16);
}

[yt-col~="5/16"] {
  @include flex(0, 0 , percentage(5/16));
  max-width: percentage(5/16);
}

[yt-col~="7/16"] {
  @include flex(0, 0 , percentage(7/16));
  max-width: percentage(7/16);
}

[yt-col~="9/16"] {
  @include flex(0, 0 , percentage(9/16));
  max-width: percentage(9/16);
}

[yt-col~="11/16"] {
  width: percentage(11/16);
}

[yt-col~="13/16"] {
  width: percentage(13/16);
}

[yt-col~="15/16"] {
  width: percentage(15/16);
}

[yt-col~="1/17"] {
  width: percentage(1/17);
}

[yt-col~="2/17"] {
  width: percentage(2/17);
}

[yt-col~="3/17"] {
  width: percentage(3/17);
}

[yt-col~="4/17"] {
  width: percentage(4/17);
}

[yt-col~="5/17"] {
  width: percentage(5/17);
}

[yt-col~="6/17"] {
  width: percentage(6/17);
}

[yt-col~="7/17"] {
  width: percentage(7/17);
}

[yt-col~="8/17"] {
  width: percentage(8/17);
}

[yt-col~="9/17"] {
  width: percentage(9/17);
}

[yt-col~="10/17"] {
  width: percentage(10/17);
}

[yt-col~="11/17"] {
  width: percentage(11/17);
}

[yt-col~="12/17"] {
  width: percentage(12/17);
}

[yt-col~="13/17"] {
  width: percentage(13/17);
}

[yt-col~="14/17"] {
  width: percentage(14/17);
}

[yt-col~="15/17"] {
  width: percentage(15/17);
}

[yt-col~="16/17"] {
  width: percentage(16/17);
}

[yt-col~="1/18"] {
  width: percentage(1/18);
}

[yt-col~="3/18"] {
  width: percentage(3/18);
}

[yt-col~="5/18"] {
  width: percentage(5/18);
}

[yt-col~="7/18"] {
  width: percentage(7/18);
}

[yt-col~="11/18"] {
  width: percentage(11/18);
}

[yt-col~="13/18"] {
  width: percentage(13/18);
}

[yt-col~="15/18"] {
  width: percentage(15/18);
}

[yt-col~="17/18"] {
  width: percentage(17/18);
}

[yt-col~="1/19"] {
  width: percentage(1/19);
}

[yt-col~="2/19"] {
  width: percentage(2/19);
}

[yt-col~="3/19"] {
  width: percentage(3/19);
}

[yt-col~="4/19"] {
  width: percentage(4/19);
}

[yt-col~="5/19"] {
  width: percentage(5/19);
}

[yt-col~="6/19"] {
  width: percentage(6/19);
}

[yt-col~="7/19"] {
  width: percentage(7/19);
}

[yt-col~="8/19"] {
  width: percentage(8/19);
}

[yt-col~="9/19"] {
  width: percentage(9/19);
}

[yt-col~="10/19"] {
  width: percentage(10/19);
}

[yt-col~="11/19"] {
  width: percentage(11/19);
}

[yt-col~="12/19"] {
  width: percentage(12/19);
}

[yt-col~="13/19"] {
  width: percentage(13/19);
}

[yt-col~="14/19"] {
  width: percentage(14/19);
}

[yt-col~="15/19"] {
  width: percentage(15/19);
}

[yt-col~="16/19"] {
  width: percentage(16/19);
}

[yt-col~="17/19"] {
  width: percentage(17/19);
}

[yt-col~="18/19"] {
  width: percentage(18/19);
}

[yt-col~="1/20"] {
  width: percentage(1/20);
}

[yt-col~="3/20"] {
  width: percentage(3/20);
}

[yt-col~="7/20"] {
  width: percentage(7/20);
}

[yt-col~="9/20"] {
  width: percentage(9/20);
}

[yt-col~="11/20"] {
  width: percentage(11/20);
}

[yt-col~="13/20"] {
  width: percentage(13/20);
}

[yt-col~="17/20"] {
  width: percentage(17/20);
}

[yt-col~="19/20"] {
  width: percentage(19/20);
}

[yt-col~="1/21"] {
  width: percentage(1/21);
}

[yt-col~="2/21"] {
  width: percentage(2/21);
}

[yt-col~="4/21"] {
  width: percentage(4/21);
}

[yt-col~="5/21"] {
  width: percentage(5/21);
}

[yt-col~="6/21"] {
  width: percentage(6/21);
}

[yt-col~="8/21"] {
  width: percentage(8/21);
}

[yt-col~="10/21"] {
  width: percentage(10/21);
}

[yt-col~="11/21"] {
  width: percentage(11/21);
}

[yt-col~="13/21"] {
  width: percentage(13/21);
}

[yt-col~="16/21"] {
  width: percentage(16/21);
}

[yt-col~="17/21"] {
  width: percentage(17/21);
}

[yt-col~="19/21"] {
  width: percentage(19/21);
}

[yt-col~="20/21"] {
  width: percentage(20/21);
}

[yt-col~="1/22"] {
  width: percentage(1/22);
}

[yt-col~="3/22"] {
  width: percentage(3/22);
}

[yt-col~="5/22"] {
  width: percentage(5/22);
}

[yt-col~="7/22"] {
  width: percentage(7/22);
}

[yt-col~="9/22"] {
  width: percentage(9/22);
}

[yt-col~="13/22"] {
  width: percentage(13/22);
}

[yt-col~="15/22"] {
  width: percentage(15/22);
}

[yt-col~="17/22"] {
  width: percentage(17/22);
}

[yt-col~="19/22"] {
  width: percentage(19/22);
}

[yt-col~="21/22"] {
  width: percentage(21/22);
}

[yt-col~="1/23"] {
  width: percentage(1/23);
}

[yt-col~="2/23"] {
  width: percentage(2/23);
}

[yt-col~="3/23"] {
  width: percentage(3/23);
}

[yt-col~="4/23"] {
  width: percentage(4/23);
}

[yt-col~="5/23"] {
  width: percentage(5/23);
}

[yt-col~="6/23"] {
  width: percentage(6/23);
}

[yt-col~="7/23"] {
  width: percentage(7/23);
}

[yt-col~="8/23"] {
  width: percentage(8/23);
}

[yt-col~="9/23"] {
  width: percentage(9/23);
}

[yt-col~="10/23"] {
  width: percentage(10/23);
}

[yt-col~="11/23"] {
  width: percentage(11/23);
}

[yt-col~="12/23"] {
  width: percentage(12/23);
}

[yt-col~="13/23"] {
  width: percentage(13/23);
}

[yt-col~="14/23"] {
  width: percentage(14/23);
}

[yt-col~="15/23"] {
  width: percentage(15/23);
}

[yt-col~="16/23"] {
  width: percentage(16/23);
}

[yt-col~="17/23"] {
  width: percentage(17/23);
}

[yt-col~="18/23"] {
  width: percentage(18/23);
}

[yt-col~="19/23"] {
  width: percentage(19/23);
}

[yt-col~="20/23"] {
  width: percentage(20/23);
}

[yt-col~="21/23"] {
  width: percentage(21/23);
}

[yt-col~="22/23"] {
  width: percentage(22/23);
}

[yt-col~="1/24"] {
  width: percentage(1/24);
}

[yt-col~="5/24"] {
  width: percentage(5/24);
}

[yt-col~="7/24"] {
  width: percentage(7/24);
}

[yt-col~="11/24"] {
  width: percentage(11/24);
}

[yt-col~="13/24"] {
  width: percentage(13/24);
}

[yt-col~="17/24"] {
  width: percentage(17/24);
}

[yt-col~="19/24"] {
  width: percentage(19/24);
}

[yt-col~="23/24"] {
  width: percentage(23/24);
}

// Grid Styles: Phones ~ These will collapse on anything less than $small-screen
// ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

@include responsive-break-point($small-screen) {

  [yt-col~="1/2s"],
  [yt-col~="2/4s"],
  [yt-col~="3/6s"],
  [yt-col~="4/8s"],
  [yt-col~="5/10s"],
  [yt-col~="6/12s"],
  [yt-col~="7/14s"],
  [yt-col~="8/16s"],
  [yt-col~="9/18s"],
  [yt-col~="10/20s"],
  [yt-col~="11/22s"],
  [yt-col~="12/24s"] {
    width: 50%;
  }

  [yt-col~="1/3s"],
  [yt-col~="2/6s"],
  [yt-col~="3/9s"],
  [yt-col~="4/12s"],
  [yt-col~="5/15s"],
  [yt-col~="6/18s"],
  [yt-col~="7/21s"],
  [yt-col~="8/24s"] {
    width: percentage(1/3);
  }

  [yt-col~="2/3s"],
  [yt-col~="4/6s"],
  [yt-col~="6/9s"],
  [yt-col~="8/12s"],
  [yt-col~="10/15s"],
  [yt-col~="12/18s"],
  [yt-col~="14/21s"],
  [yt-col~="16/24s"] {
    width: percentage(2/3);
  }

  [yt-col~="1/4s"],
  [yt-col~="2/8s"],
  [yt-col~="3/12s"],
  [yt-col~="4/16s"],
  [yt-col~="5/20s"],
  [yt-col~="6/24s"] {
    width: 25%;
  }

  [yt-col~="3/4s"],
  [yt-col~="6/8s"],
  [yt-col~="9/12s"],
  [yt-col~="12/16s"],
  [yt-col~="15/20s"],
  [yt-col~="18/24s"] {
    width: 75%;
  }

  [yt-col~="1/5s"],
  [yt-col~="2/10s"],
  [yt-col~="5/20s"] {
    width: 20%;
  }

  [yt-col~="2/5s"],
  [yt-col~="4/10s"],
  [yt-col~="8/20s"] {
    width: 40%;
  }

  [yt-col~="3/5s"],
  [yt-col~="6/10s"],
  [yt-col~="12/20s"] {
    width: 60%;
  }

  [yt-col~="4/5s"],
  [yt-col~="8/10s"],
  [yt-col~="16/20s"] {
    width: 80%;
  }

  [yt-col~="1/6s"],
  [yt-col~="2/12s"],
  [yt-col~="3/24s"] {
    width: percentage(1/6);
  }

  [yt-col~="5/6s"],
  [yt-col~="10/12s"],
  [yt-col~="20/24s"] {
    width: percentage(5/6);
  }

  [yt-col~="1/7s"],
  [yt-col~="2/14s"] {
    width: percentage(1/7);
  }

  [yt-col~="2/7s"],
  [yt-col~="4/14s"] {
    width: percentage(2/7);
  }

  [yt-col~="3/7s"],
  [yt-col~="6/14s"],
  [yt-col~="9/21s"] {
    width: percentage(3/7);
  }

  [yt-col~="4/7s"],
  [yt-col~="8/14s"],
  [yt-col~="12/21s"] {
    width: percentage(4/7);
  }

  [yt-col~="5/7s"],
  [yt-col~="10/14s"] {
    width: percentage(5/7);
  }

  [yt-col~="6/7s"],
  [yt-col~="12/14s"],
  [yt-col~="18/21s"] {
    width: percentage(6/7);
  }

  [yt-col~="1/8s"],
  [yt-col~="2/16s"],
  [yt-col~="3/24s"] {
    width: 12.5%;
  }

  [yt-col~="3/8s"],
  [yt-col~="6/16s"],
  [yt-col~="9/24s"] {
    width: 37.5%;
  }

  [yt-col~="5/8s"],
  [yt-col~="10/16s"],
  [yt-col~="15/24s"] {
    width: 62.5%;
  }

  [yt-col~="7/8s"],
  [yt-col~="14/16s"],
  [yt-col~="21/24s"] {
    width: 87.5%;
  }

  [yt-col~="1/9s"],
  [yt-col~="2/18s"] {
    width: percentage(1/9);
  }

  [yt-col~="2/9s"],
  [yt-col~="4/18s"] {
    width: percentage(2/9);
  }

  [yt-col~="4/9s"],
  [yt-col~="8/18s"] {
    width: percentage(4/9);
  }

  [yt-col~="5/9s"],
  [yt-col~="10/18s"] {
    width: percentage(5/9);
  }

  [yt-col~="7/9s"],
  [yt-col~="14/18s"] {
    width: percentage(7/9);
  }

  [yt-col~="8/9s"],
  [yt-col~="16/18s"] {
    width: percentage(8/9);
  }

  [yt-col~="1/10s"],
  [yt-col~="2/20s"] {
    width: 10%;
  }

  [yt-col~="3/10s"],
  [yt-col~="6/20s"] {
    width: 30%;
  }

  [yt-col~="7/10s"],
  [yt-col~="14/20s"] {
    width: 70%;
  }

  [yt-col~="9/10s"],
  [yt-col~="18/20s"] {
    width: 90%;
  }

  [yt-col~="1/11s"],
  [yt-col~="2/22s"] {
    width: percentage(1/11);
  }

  [yt-col~="2/11s"],
  [yt-col~="4/22s"] {
    width: percentage(2/11);
  }

  [yt-col~="3/11s"],
  [yt-col~="6/22s"] {
    width: percentage(3/11);
  }

  [yt-col~="4/11s"],
  [yt-col~="8/22s"] {
    width: percentage(4/11);
  }

  [yt-col~="5/11s"],
  [yt-col~="10/22s"] {
    width: percentage(5/11);
  }

  [yt-col~="6/11s"],
  [yt-col~="12/22s"] {
    width: percentage(6/11);
  }

  [yt-col~="7/11s"],
  [yt-col~="14/22s"] {
    width: percentage(7/11);
  }

  [yt-col~="8/11s"],
  [yt-col~="16/22s"] {
    width: percentage(8/11);
  }

  [yt-col~="9/11s"],
  [yt-col~="18/22s"] {
    width: percentage(9/11);
  }

  [yt-col~="10/11s"],
  [yt-col~="20/22s"] {
    width: percentage(10/11);
  }

  [yt-col~="1/12s"],
  [yt-col~="2/24s"] {
    width: percentage(1/12);
  }

  [yt-col~="5/12s"],
  [yt-col~="10/24s"] {
    width: percentage(5/12);
  }

  [yt-col~="7/12s"],
  [yt-col~="14/24s"] {
    width: percentage(7/12);
  }

  [yt-col~="11/12s"],
  [yt-col~="22/24s"] {
    width: percentage(1/12);
  }

  [yt-col~="1/13s"] {
    width: percentage(1/13);
  }

  [yt-col~="2/13s"] {
    width: percentage(2/13);
  }

  [yt-col~="3/13s"] {
    width: percentage(3/13);
  }

  [yt-col~="4/13s"] {
    width: percentage(4/13);
  }

  [yt-col~="5/13s"] {
    width: percentage(5/13);
  }

  [yt-col~="6/13s"] {
    width: percentage(6/13);
  }

  [yt-col~="7/13s"] {
    width: percentage(7/13);
  }

  [yt-col~="8/13s"] {
    width: percentage(8/13);
  }

  [yt-col~="9/13s"] {
    width: percentage(9/13);
  }

  [yt-col~="10/13s"] {
    width: percentage(10/13);
  }

  [yt-col~="11/13s"] {
    width: percentage(11/13);
  }

  [yt-col~="12/13s"] {
    width: percentage(12/13);
  }

  [yt-col~="9/14s"] {
    width: percentage(9/14);
  }

  [yt-col~="11/14s"] {
    width: percentage(11/14);
  }

  [yt-col~="13/14s"] {
    width: percentage(13/14);
  }

  [yt-col~="1/15s"] {
    width: percentage(1/15);
  }

  [yt-col~="2/15s"] {
    width: percentage(2/15);
  }

  [yt-col~="4/15s"] {
    width: percentage(4/15);
  }

  [yt-col~="6/15s"] {
    width: percentage(6/15);
  }

  [yt-col~="7/15s"] {
    width: percentage(7/15);
  }

  [yt-col~="8/15s"] {
    width: percentage(8/15);
  }

  [yt-col~="11/15s"] {
    width: percentage(11/15);
  }

  [yt-col~="13/15s"] {
    width: percentage(13/15);
  }

  [yt-col~="14/15s"] {
    width: percentage(14/15);
  }

  [yt-col~="1/16s"] {
    width: percentage(1/16);
  }

  [yt-col~="3/16s"] {
    width: percentage(3/16);
  }

  [yt-col~="5/16s"] {
    width: percentage(5/16);
  }

  [yt-col~="7/16s"] {
    width: percentage(7/16);
  }

  [yt-col~="9/16s"] {
    width: percentage(9/16);
  }

  [yt-col~="11/16s"] {
    width: percentage(11/16);
  }

  [yt-col~="13/16s"] {
    width: percentage(13/16);
  }

  [yt-col~="15/16s"] {
    width: percentage(15/16);
  }

  [yt-col~="1/17s"] {
    width: percentage(1/17);
  }

  [yt-col~="2/17s"] {
    width: percentage(2/17);
  }

  [yt-col~="3/17s"] {
    width: percentage(3/17);
  }

  [yt-col~="4/17s"] {
    width: percentage(4/17);
  }

  [yt-col~="5/17s"] {
    width: percentage(5/17);
  }

  [yt-col~="6/17s"] {
    width: percentage(6/17);
  }

  [yt-col~="7/17s"] {
    width: percentage(7/17);
  }

  [yt-col~="8/17s"] {
    width: percentage(8/17);
  }

  [yt-col~="9/17s"] {
    width: percentage(9/17);
  }

  [yt-col~="10/17s"] {
    width: percentage(10/17);
  }

  [yt-col~="11/17s"] {
    width: percentage(11/17);
  }

  [yt-col~="12/17s"] {
    width: percentage(12/17);
  }

  [yt-col~="13/17s"] {
    width: percentage(13/17);
  }

  [yt-col~="14/17s"] {
    width: percentage(14/17);
  }

  [yt-col~="15/17s"] {
    width: percentage(15/17);
  }

  [yt-col~="16/17s"] {
    width: percentage(16/17);
  }

  [yt-col~="1/18s"] {
    width: percentage(1/18);
  }

  [yt-col~="3/18s"] {
    width: percentage(3/18);
  }

  [yt-col~="5/18s"] {
    width: percentage(5/18);
  }

  [yt-col~="7/18s"] {
    width: percentage(7/18);
  }

  [yt-col~="11/18s"] {
    width: percentage(11/18);
  }

  [yt-col~="13/18s"] {
    width: percentage(13/18);
  }

  [yt-col~="15/18s"] {
    width: percentage(15/18);
  }

  [yt-col~="17/18s"] {
    width: percentage(17/18);
  }

  [yt-col~="1/19s"] {
    width: percentage(1/19);
  }

  [yt-col~="2/19s"] {
    width: percentage(2/19);
  }

  [yt-col~="3/19s"] {
    width: percentage(3/19);
  }

  [yt-col~="4/19s"] {
    width: percentage(4/19);
  }

  [yt-col~="5/19s"] {
    width: percentage(5/19);
  }

  [yt-col~="6/19s"] {
    width: percentage(6/19);
  }

  [yt-col~="7/19s"] {
    width: percentage(7/19);
  }

  [yt-col~="8/19s"] {
    width: percentage(8/19);
  }

  [yt-col~="9/19s"] {
    width: percentage(9/19);
  }

  [yt-col~="10/19s"] {
    width: percentage(10/19);
  }

  [yt-col~="11/19s"] {
    width: percentage(11/19);
  }

  [yt-col~="12/19s"] {
    width: percentage(12/19);
  }

  [yt-col~="13/19s"] {
    width: percentage(13/19);
  }

  [yt-col~="14/19s"] {
    width: percentage(14/19);
  }

  [yt-col~="15/19s"] {
    width: percentage(15/19);
  }

  [yt-col~="16/19s"] {
    width: percentage(16/19);
  }

  [yt-col~="17/19s"] {
    width: percentage(17/19);
  }

  [yt-col~="18/19s"] {
    width: percentage(18/19);
  }

  [yt-col~="1/20s"] {
    width: percentage(1/20);
  }

  [yt-col~="3/20s"] {
    width: percentage(3/20);
  }

  [yt-col~="7/20s"] {
    width: percentage(7/20);
  }

  [yt-col~="9/20s"] {
    width: percentage(9/20);
  }

  [yt-col~="11/20s"] {
    width: percentage(11/20);
  }

  [yt-col~="13/20s"] {
    width: percentage(13/20);
  }

  [yt-col~="17/20s"] {
    width: percentage(17/20);
  }

  [yt-col~="19/20s"] {
    width: percentage(19/20);
  }

  [yt-col~="1/21s"] {
    width: percentage(1/21);
  }

  [yt-col~="2/21s"] {
    width: percentage(2/21);
  }

  [yt-col~="4/21s"] {
    width: percentage(4/21);
  }

  [yt-col~="5/21s"] {
    width: percentage(5/21);
  }

  [yt-col~="6/21s"] {
    width: percentage(6/21);
  }

  [yt-col~="8/21s"] {
    width: percentage(8/21);
  }

  [yt-col~="10/21s"] {
    width: percentage(10/21);
  }

  [yt-col~="11/21s"] {
    width: percentage(11/21);
  }

  [yt-col~="13/21s"] {
    width: percentage(13/21);
  }

  [yt-col~="16/21s"] {
    width: percentage(16/21);
  }

  [yt-col~="17/21s"] {
    width: percentage(17/21);
  }

  [yt-col~="19/21s"] {
    width: percentage(19/21);
  }

  [yt-col~="20/21s"] {
    width: percentage(20/21);
  }

  [yt-col~="1/22s"] {
    width: percentage(1/22);
  }

  [yt-col~="3/22s"] {
    width: percentage(3/22);
  }

  [yt-col~="5/22s"] {
    width: percentage(5/22);
  }

  [yt-col~="7/22s"] {
    width: percentage(7/22);
  }

  [yt-col~="9/22s"] {
    width: percentage(9/22);
  }

  [yt-col~="13/22s"] {
    width: percentage(13/22);
  }

  [yt-col~="15/22s"] {
    width: percentage(15/22);
  }

  [yt-col~="17/22s"] {
    width: percentage(17/22);
  }

  [yt-col~="19/22s"] {
    width: percentage(19/22);
  }

  [yt-col~="21/22s"] {
    width: percentage(21/22);
  }

  [yt-col~="1/23s"] {
    width: percentage(1/23);
  }

  [yt-col~="2/23s"] {
    width: percentage(2/23);
  }

  [yt-col~="3/23s"] {
    width: percentage(3/23);
  }

  [yt-col~="4/23s"] {
    width: percentage(4/23);
  }

  [yt-col~="5/23s"] {
    width: percentage(5/23);
  }

  [yt-col~="6/23s"] {
    width: percentage(6/23);
  }

  [yt-col~="7/23s"] {
    width: percentage(7/23);
  }

  [yt-col~="8/23s"] {
    width: percentage(8/23);
  }

  [yt-col~="9/23s"] {
    width: percentage(9/23);
  }

  [yt-col~="10/23s"] {
    width: percentage(10/23);
  }

  [yt-col~="11/23s"] {
    width: percentage(11/23);
  }

  [yt-col~="12/23s"] {
    width: percentage(12/23);
  }

  [yt-col~="13/23s"] {
    width: percentage(13/23);
  }

  [yt-col~="14/23s"] {
    width: percentage(14/23);
  }

  [yt-col~="15/23s"] {
    width: percentage(15/23);
  }

  [yt-col~="16/23s"] {
    width: percentage(16/23);
  }

  [yt-col~="17/23s"] {
    width: percentage(17/23);
  }

  [yt-col~="18/23s"] {
    width: percentage(18/23);
  }

  [yt-col~="19/23s"] {
    width: percentage(19/23);
  }

  [yt-col~="20/23s"] {
    width: percentage(20/23);
  }

  [yt-col~="21/23s"] {
    width: percentage(21/23);
  }

  [yt-col~="22/23s"] {
    width: percentage(22/23);
  }

  [yt-col~="1/24s"] {
    width: percentage(1/24);
  }

  [yt-col~="5/24s"] {
    width: percentage(5/24);
  }

  [yt-col~="7/24s"] {
    width: percentage(7/24);
  }

  [yt-col~="11/24s"] {
    width: percentage(11/24);
  }

  [yt-col~="13/24s"] {
    width: percentage(13/24);
  }

  [yt-col~="17/24s"] {
    width: percentage(17/24);
  }

  [yt-col~="19/24s"] {
    width: percentage(19/24);
  }

  [yt-col~="23/24s"] {
    width: percentage(23/24);
  }

}

// Grid Styles: Medium ~ these will collapse on anything less than $medium-screen
// ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

@include responsive-break-point($medium-screen) {

  [yt-col~="1/2m"],
  [yt-col~="2/4m"],
  [yt-col~="3/6m"],
  [yt-col~="4/8m"],
  [yt-col~="5/10m"],
  [yt-col~="6/12m"],
  [yt-col~="7/14m"],
  [yt-col~="8/16m"],
  [yt-col~="9/18m"],
  [yt-col~="10/20m"],
  [yt-col~="11/22m"],
  [yt-col~="12/24m"] {
    width: 50%;
  }

  [yt-col~="1/3m"],
  [yt-col~="2/6m"],
  [yt-col~="3/9m"],
  [yt-col~="4/12m"],
  [yt-col~="5/15m"],
  [yt-col~="6/18m"],
  [yt-col~="7/21m"],
  [yt-col~="8/24m"] {
    width: percentage(1/3);
  }

  [yt-col~="2/3m"],
  [yt-col~="4/6m"],
  [yt-col~="6/9m"],
  [yt-col~="8/12m"],
  [yt-col~="10/15m"],
  [yt-col~="12/18m"],
  [yt-col~="14/21m"],
  [yt-col~="16/24m"] {
    width: percentage(2/3);
  }

  [yt-col~="1/4m"],
  [yt-col~="2/8m"],
  [yt-col~="3/12m"],
  [yt-col~="4/16m"],
  [yt-col~="5/20m"],
  [yt-col~="6/24m"] {
    width: 25%;
  }

  [yt-col~="3/4m"],
  [yt-col~="6/8m"],
  [yt-col~="9/12m"],
  [yt-col~="12/16m"],
  [yt-col~="15/20m"],
  [yt-col~="18/24m"] {
    width: 75%;
  }

  [yt-col~="1/5m"],
  [yt-col~="2/10m"],
  [yt-col~="5/20m"] {
    width: 20%;
  }

  [yt-col~="2/5m"],
  [yt-col~="4/10m"],
  [yt-col~="8/20m"] {
    width: 40%;
  }

  [yt-col~="3/5m"],
  [yt-col~="6/10m"],
  [yt-col~="12/20m"] {
    width: 60%;
  }

  [yt-col~="4/5m"],
  [yt-col~="8/10m"],
  [yt-col~="16/20m"] {
    width: 80%;
  }

  [yt-col~="1/6m"],
  [yt-col~="2/12m"],
  [yt-col~="3/24m"] {
    width: percentage(1/6);
  }

  [yt-col~="5/6m"],
  [yt-col~="10/12m"],
  [yt-col~="20/24m"] {
    width: percentage(5/6);
  }

  [yt-col~="1/7m"],
  [yt-col~="2/14m"] {
    width: percentage(1/7);
  }

  [yt-col~="2/7m"],
  [yt-col~="4/14m"] {
    width: percentage(2/7);
  }

  [yt-col~="3/7m"],
  [yt-col~="6/14m"],
  [yt-col~="9/21m"] {
    width: percentage(3/7);
  }

  [yt-col~="4/7m"],
  [yt-col~="8/14m"],
  [yt-col~="12/21m"] {
    width: percentage(4/7);
  }

  [yt-col~="5/7m"],
  [yt-col~="10/14m"] {
    width: percentage(5/7);
  }

  [yt-col~="6/7m"],
  [yt-col~="12/14m"],
  [yt-col~="18/21m"] {
    width: percentage(6/7);
  }

  [yt-col~="1/8m"],
  [yt-col~="2/16m"],
  [yt-col~="3/24m"] {
    width: 12.5%;
  }

  [yt-col~="3/8m"],
  [yt-col~="6/16m"],
  [yt-col~="9/24m"] {
    width: 37.5%;
  }

  [yt-col~="5/8m"],
  [yt-col~="10/16m"],
  [yt-col~="15/24m"] {
    width: 62.5%;
  }

  [yt-col~="7/8m"],
  [yt-col~="14/16m"],
  [yt-col~="21/24m"] {
    width: 87.5%;
  }

  [yt-col~="1/9m"],
  [yt-col~="2/18m"] {
    width: percentage(1/9);
  }

  [yt-col~="2/9m"],
  [yt-col~="4/18m"] {
    width: percentage(2/9);
  }

  [yt-col~="4/9m"],
  [yt-col~="8/18m"] {
    width: percentage(4/9);
  }

  [yt-col~="5/9m"],
  [yt-col~="10/18m"] {
    width: percentage(5/9);
  }

  [yt-col~="7/9m"],
  [yt-col~="14/18m"] {
    width: percentage(7/9);
  }

  [yt-col~="8/9m"],
  [yt-col~="16/18m"] {
    width: percentage(8/9);
  }

  [yt-col~="1/10m"],
  [yt-col~="2/20m"] {
    width: 10%;
  }

  [yt-col~="3/10m"],
  [yt-col~="6/20m"] {
    width: 30%;
  }

  [yt-col~="7/10m"],
  [yt-col~="14/20m"] {
    width: 70%;
  }

  [yt-col~="9/10m"],
  [yt-col~="18/20m"] {
    width: 90%;
  }

  [yt-col~="1/11m"],
  [yt-col~="2/22m"] {
    width: percentage(1/11);
  }

  [yt-col~="2/11m"],
  [yt-col~="4/22m"] {
    width: percentage(2/11);
  }

  [yt-col~="3/11m"],
  [yt-col~="6/22m"] {
    width: percentage(3/11);
  }

  [yt-col~="4/11m"],
  [yt-col~="8/22m"] {
    width: percentage(4/11);
  }

  [yt-col~="5/11m"],
  [yt-col~="10/22m"] {
    width: percentage(5/11);
  }

  [yt-col~="6/11m"],
  [yt-col~="12/22m"] {
    width: percentage(6/11);
  }

  [yt-col~="7/11m"],
  [yt-col~="14/22m"] {
    width: percentage(7/11);
  }

  [yt-col~="8/11m"],
  [yt-col~="16/22m"] {
    width: percentage(8/11);
  }

  [yt-col~="9/11m"],
  [yt-col~="18/22m"] {
    width: percentage(9/11);
  }

  [yt-col~="10/11m"],
  [yt-col~="20/22m"] {
    width: percentage(10/11);
  }

  [yt-col~="1/12m"],
  [yt-col~="2/24m"] {
    width: percentage(1/12);
  }

  [yt-col~="5/12m"],
  [yt-col~="10/24m"] {
    width: percentage(5/12);
  }

  [yt-col~="7/12m"],
  [yt-col~="14/24m"] {
    width: percentage(7/12);
  }

  [yt-col~="11/12m"],
  [yt-col~="22/24m"] {
    width: percentage(1/12);
  }

  [yt-col~="1/13m"] {
    width: percentage(1/13);
  }

  [yt-col~="2/13m"] {
    width: percentage(2/13);
  }

  [yt-col~="3/13m"] {
    width: percentage(3/13);
  }

  [yt-col~="4/13m"] {
    width: percentage(4/13);
  }

  [yt-col~="5/13m"] {
    width: percentage(5/13);
  }

  [yt-col~="6/13m"] {
    width: percentage(6/13);
  }

  [yt-col~="7/13m"] {
    width: percentage(7/13);
  }

  [yt-col~="8/13m"] {
    width: percentage(8/13);
  }

  [yt-col~="9/13m"] {
    width: percentage(9/13);
  }

  [yt-col~="10/13m"] {
    width: percentage(10/13);
  }

  [yt-col~="11/13m"] {
    width: percentage(11/13);
  }

  [yt-col~="12/13m"] {
    width: percentage(12/13);
  }

  [yt-col~="9/14m"] {
    width: percentage(9/14);
  }

  [yt-col~="11/14m"] {
    width: percentage(11/14);
  }

  [yt-col~="13/14m"] {
    width: percentage(13/14);
  }

  [yt-col~="1/15m"] {
    width: percentage(1/15);
  }

  [yt-col~="2/15m"] {
    width: percentage(2/15);
  }

  [yt-col~="4/15m"] {
    width: percentage(4/15);
  }

  [yt-col~="6/15m"] {
    width: percentage(6/15);
  }

  [yt-col~="7/15m"] {
    width: percentage(7/15);
  }

  [yt-col~="8/15m"] {
    width: percentage(8/15);
  }

  [yt-col~="11/15m"] {
    width: percentage(11/15);
  }

  [yt-col~="13/15m"] {
    width: percentage(13/15);
  }

  [yt-col~="14/15m"] {
    width: percentage(14/15);
  }

  [yt-col~="1/16m"] {
    width: percentage(1/16);
  }

  [yt-col~="3/16m"] {
    width: percentage(3/16);
  }

  [yt-col~="5/16m"] {
    width: percentage(5/16);
  }

  [yt-col~="7/16m"] {
    width: percentage(7/16);
  }

  [yt-col~="9/16m"] {
    width: percentage(9/16);
  }

  [yt-col~="11/16m"] {
    width: percentage(11/16);
  }

  [yt-col~="13/16m"] {
    width: percentage(13/16);
  }

  [yt-col~="15/16m"] {
    width: percentage(15/16);
  }

  [yt-col~="1/17m"] {
    width: percentage(1/17);
  }

  [yt-col~="2/17m"] {
    width: percentage(2/17);
  }

  [yt-col~="3/17m"] {
    width: percentage(3/17);
  }

  [yt-col~="4/17m"] {
    width: percentage(4/17);
  }

  [yt-col~="5/17m"] {
    width: percentage(5/17);
  }

  [yt-col~="6/17m"] {
    width: percentage(6/17);
  }

  [yt-col~="7/17m"] {
    width: percentage(7/17);
  }

  [yt-col~="8/17m"] {
    width: percentage(8/17);
  }

  [yt-col~="9/17m"] {
    width: percentage(9/17);
  }

  [yt-col~="10/17m"] {
    width: percentage(10/17);
  }

  [yt-col~="11/17m"] {
    width: percentage(11/17);
  }

  [yt-col~="12/17m"] {
    width: percentage(12/17);
  }

  [yt-col~="13/17m"] {
    width: percentage(13/17);
  }

  [yt-col~="14/17m"] {
    width: percentage(14/17);
  }

  [yt-col~="15/17m"] {
    width: percentage(15/17);
  }

  [yt-col~="16/17m"] {
    width: percentage(16/17);
  }

  [yt-col~="1/18m"] {
    width: percentage(1/18);
  }

  [yt-col~="3/18m"] {
    width: percentage(3/18);
  }

  [yt-col~="5/18m"] {
    width: percentage(5/18);
  }

  [yt-col~="7/18m"] {
    width: percentage(7/18);
  }

  [yt-col~="11/18m"] {
    width: percentage(11/18);
  }

  [yt-col~="13/18m"] {
    width: percentage(13/18);
  }

  [yt-col~="15/18m"] {
    width: percentage(15/18);
  }

  [yt-col~="17/18m"] {
    width: percentage(17/18);
  }

  [yt-col~="1/19m"] {
    width: percentage(1/19);
  }

  [yt-col~="2/19m"] {
    width: percentage(2/19);
  }

  [yt-col~="3/19m"] {
    width: percentage(3/19);
  }

  [yt-col~="4/19m"] {
    width: percentage(4/19);
  }

  [yt-col~="5/19m"] {
    width: percentage(5/19);
  }

  [yt-col~="6/19m"] {
    width: percentage(6/19);
  }

  [yt-col~="7/19m"] {
    width: percentage(7/19);
  }

  [yt-col~="8/19m"] {
    width: percentage(8/19);
  }

  [yt-col~="9/19m"] {
    width: percentage(9/19);
  }

  [yt-col~="10/19m"] {
    width: percentage(10/19);
  }

  [yt-col~="11/19m"] {
    width: percentage(11/19);
  }

  [yt-col~="12/19m"] {
    width: percentage(12/19);
  }

  [yt-col~="13/19m"] {
    width: percentage(13/19);
  }

  [yt-col~="14/19m"] {
    width: percentage(14/19);
  }

  [yt-col~="15/19m"] {
    width: percentage(15/19);
  }

  [yt-col~="16/19m"] {
    width: percentage(16/19);
  }

  [yt-col~="17/19m"] {
    width: percentage(17/19);
  }

  [yt-col~="18/19m"] {
    width: percentage(18/19);
  }

  [yt-col~="1/20m"] {
    width: percentage(1/20);
  }

  [yt-col~="3/20m"] {
    width: percentage(3/20);
  }

  [yt-col~="7/20m"] {
    width: percentage(7/20);
  }

  [yt-col~="9/20m"] {
    width: percentage(9/20);
  }

  [yt-col~="11/20m"] {
    width: percentage(11/20);
  }

  [yt-col~="13/20m"] {
    width: percentage(13/20);
  }

  [yt-col~="17/20m"] {
    width: percentage(17/20);
  }

  [yt-col~="19/20m"] {
    width: percentage(19/20);
  }

  [yt-col~="1/21m"] {
    width: percentage(1/21);
  }

  [yt-col~="2/21m"] {
    width: percentage(2/21);
  }

  [yt-col~="4/21m"] {
    width: percentage(4/21);
  }

  [yt-col~="5/21m"] {
    width: percentage(5/21);
  }

  [yt-col~="6/21m"] {
    width: percentage(6/21);
  }

  [yt-col~="8/21m"] {
    width: percentage(8/21);
  }

  [yt-col~="10/21m"] {
    width: percentage(10/21);
  }

  [yt-col~="11/21m"] {
    width: percentage(11/21);
  }

  [yt-col~="13/21m"] {
    width: percentage(13/21);
  }

  [yt-col~="16/21m"] {
    width: percentage(16/21);
  }

  [yt-col~="17/21m"] {
    width: percentage(17/21);
  }

  [yt-col~="19/21m"] {
    width: percentage(19/21);
  }

  [yt-col~="20/21m"] {
    width: percentage(20/21);
  }

  [yt-col~="1/22m"] {
    width: percentage(1/22);
  }

  [yt-col~="3/22m"] {
    width: percentage(3/22);
  }

  [yt-col~="5/22m"] {
    width: percentage(5/22);
  }

  [yt-col~="7/22m"] {
    width: percentage(7/22);
  }

  [yt-col~="9/22m"] {
    width: percentage(9/22);
  }

  [yt-col~="13/22m"] {
    width: percentage(13/22);
  }

  [yt-col~="15/22m"] {
    width: percentage(15/22);
  }

  [yt-col~="17/22m"] {
    width: percentage(17/22);
  }

  [yt-col~="19/22m"] {
    width: percentage(19/22);
  }

  [yt-col~="21/22m"] {
    width: percentage(21/22);
  }

  [yt-col~="1/23m"] {
    width: percentage(1/23);
  }

  [yt-col~="2/23m"] {
    width: percentage(2/23);
  }

  [yt-col~="3/23m"] {
    width: percentage(3/23);
  }

  [yt-col~="4/23m"] {
    width: percentage(4/23);
  }

  [yt-col~="5/23m"] {
    width: percentage(5/23);
  }

  [yt-col~="6/23m"] {
    width: percentage(6/23);
  }

  [yt-col~="7/23m"] {
    width: percentage(7/23);
  }

  [yt-col~="8/23m"] {
    width: percentage(8/23);
  }

  [yt-col~="9/23m"] {
    width: percentage(9/23);
  }

  [yt-col~="10/23m"] {
    width: percentage(10/23);
  }

  [yt-col~="11/23m"] {
    width: percentage(11/23);
  }

  [yt-col~="12/23m"] {
    width: percentage(12/23);
  }

  [yt-col~="13/23m"] {
    width: percentage(13/23);
  }

  [yt-col~="14/23m"] {
    width: percentage(14/23);
  }

  [yt-col~="15/23m"] {
    width: percentage(15/23);
  }

  [yt-col~="16/23m"] {
    width: percentage(16/23);
  }

  [yt-col~="17/23m"] {
    width: percentage(17/23);
  }

  [yt-col~="18/23m"] {
    width: percentage(18/23);
  }

  [yt-col~="19/23m"] {
    width: percentage(19/23);
  }

  [yt-col~="20/23m"] {
    width: percentage(20/23);
  }

  [yt-col~="21/23m"] {
    width: percentage(21/23);
  }

  [yt-col~="22/23m"] {
    width: percentage(22/23);
  }

  [yt-col~="1/24m"] {
    width: percentage(1/24);
  }

  [yt-col~="5/24m"] {
    width: percentage(5/24);
  }

  [yt-col~="7/24m"] {
    width: percentage(7/24);
  }

  [yt-col~="11/24m"] {
    width: percentage(11/24);
  }

  [yt-col~="13/24m"] {
    width: percentage(13/24);
  }

  [yt-col~="17/24m"] {
    width: percentage(17/24);
  }

  [yt-col~="19/24m"] {
    width: percentage(19/24);
  }

  [yt-col~="23/24m"] {
    width: percentage(23/24);
  }

}

// Grid Styles: Large ~ these will collapse on anything less than $large-screen
// ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

@include responsive-break-point($large-screen) {

  [yt-col~="1/2l"],
  [yt-col~="2/4l"],
  [yt-col~="3/6l"],
  [yt-col~="4/8l"],
  [yt-col~="5/10l"],
  [yt-col~="6/12l"],
  [yt-col~="7/14l"],
  [yt-col~="8/16l"],
  [yt-col~="9/18l"],
  [yt-col~="10/20l"],
  [yt-col~="11/22l"],
  [yt-col~="12/24l"] {
    width: 50%;
  }

  [yt-col~="1/3l"],
  [yt-col~="2/6l"],
  [yt-col~="3/9l"],
  [yt-col~="4/12l"],
  [yt-col~="5/15l"],
  [yt-col~="6/18l"],
  [yt-col~="7/21l"],
  [yt-col~="8/24l"] {
    width: percentage(1/3);
  }

  [yt-col~="2/3l"],
  [yt-col~="4/6l"],
  [yt-col~="6/9l"],
  [yt-col~="8/12l"],
  [yt-col~="10/15l"],
  [yt-col~="12/18l"],
  [yt-col~="14/21l"],
  [yt-col~="16/24l"] {
    width: percentage(2/3);
  }

  [yt-col~="1/4l"],
  [yt-col~="2/8l"],
  [yt-col~="3/12l"],
  [yt-col~="4/16l"],
  [yt-col~="5/20l"],
  [yt-col~="6/24l"] {
    width: 25%;
  }

  [yt-col~="3/4l"],
  [yt-col~="6/8l"],
  [yt-col~="9/12l"],
  [yt-col~="12/16l"],
  [yt-col~="15/20l"],
  [yt-col~="18/24l"] {
    width: 75%;
  }

  [yt-col~="1/5l"],
  [yt-col~="2/10l"],
  [yt-col~="5/20l"] {
    width: 20%;
  }

  [yt-col~="2/5l"],
  [yt-col~="4/10l"],
  [yt-col~="8/20l"] {
    width: 40%;
  }

  [yt-col~="3/5l"],
  [yt-col~="6/10l"],
  [yt-col~="12/20l"] {
    width: 60%;
  }

  [yt-col~="4/5l"],
  [yt-col~="8/10l"],
  [yt-col~="16/20l"] {
    width: 80%;
  }

  [yt-col~="1/6l"],
  [yt-col~="2/12l"],
  [yt-col~="3/24l"] {
    width: percentage(1/6);
  }

  [yt-col~="5/6l"],
  [yt-col~="10/12l"],
  [yt-col~="20/24l"] {
    width: percentage(5/6);
  }

  [yt-col~="1/7l"],
  [yt-col~="2/14l"] {
    width: percentage(1/7);
  }

  [yt-col~="2/7l"],
  [yt-col~="4/14l"] {
    width: percentage(2/7);
  }

  [yt-col~="3/7l"],
  [yt-col~="6/14l"],
  [yt-col~="9/21l"] {
    width: percentage(3/7);
  }

  [yt-col~="4/7l"],
  [yt-col~="8/14l"],
  [yt-col~="12/21l"] {
    width: percentage(4/7);
  }

  [yt-col~="5/7l"],
  [yt-col~="10/14l"] {
    width: percentage(5/7);
  }

  [yt-col~="6/7l"],
  [yt-col~="12/14l"],
  [yt-col~="18/21l"] {
    width: percentage(6/7);
  }

  [yt-col~="1/8l"],
  [yt-col~="2/16l"],
  [yt-col~="3/24l"] {
    width: 12.5%;
  }

  [yt-col~="3/8l"],
  [yt-col~="6/16l"],
  [yt-col~="9/24l"] {
    width: 37.5%;
  }

  [yt-col~="5/8l"],
  [yt-col~="10/16l"],
  [yt-col~="15/24l"] {
    width: 62.5%;
  }

  [yt-col~="7/8l"],
  [yt-col~="14/16l"],
  [yt-col~="21/24l"] {
    width: 87.5%;
  }

  [yt-col~="1/9l"],
  [yt-col~="2/18l"] {
    width: percentage(1/9);
  }

  [yt-col~="2/9l"],
  [yt-col~="4/18l"] {
    width: percentage(2/9);
  }

  [yt-col~="4/9l"],
  [yt-col~="8/18l"] {
    width: percentage(4/9);
  }

  [yt-col~="5/9l"],
  [yt-col~="10/18l"] {
    width: percentage(5/9);
  }

  [yt-col~="7/9l"],
  [yt-col~="14/18l"] {
    width: percentage(7/9);
  }

  [yt-col~="8/9l"],
  [yt-col~="16/18l"] {
    width: percentage(8/9);
  }

  [yt-col~="1/10l"],
  [yt-col~="2/20l"] {
    width: 10%;
  }

  [yt-col~="3/10l"],
  [yt-col~="6/20l"] {
    width: 30%;
  }

  [yt-col~="7/10l"],
  [yt-col~="14/20l"] {
    width: 70%;
  }

  [yt-col~="9/10l"],
  [yt-col~="18/20l"] {
    width: 90%;
  }

  [yt-col~="1/11l"],
  [yt-col~="2/22l"] {
    width: percentage(1/11);
  }

  [yt-col~="2/11l"],
  [yt-col~="4/22l"] {
    width: percentage(2/11);
  }

  [yt-col~="3/11l"],
  [yt-col~="6/22l"] {
    width: percentage(3/11);
  }

  [yt-col~="4/11l"],
  [yt-col~="8/22l"] {
    width: percentage(4/11);
  }

  [yt-col~="5/11l"],
  [yt-col~="10/22l"] {
    width: percentage(5/11);
  }

  [yt-col~="6/11l"],
  [yt-col~="12/22l"] {
    width: percentage(6/11);
  }

  [yt-col~="7/11l"],
  [yt-col~="14/22l"] {
    width: percentage(7/11);
  }

  [yt-col~="8/11l"],
  [yt-col~="16/22l"] {
    width: percentage(8/11);
  }

  [yt-col~="9/11l"],
  [yt-col~="18/22l"] {
    width: percentage(9/11);
  }

  [yt-col~="10/11l"],
  [yt-col~="20/22l"] {
    width: percentage(10/11);
  }

  [yt-col~="1/12l"],
  [yt-col~="2/24l"] {
    width: percentage(1/12);
  }

  [yt-col~="5/12l"],
  [yt-col~="10/24l"] {
    width: percentage(5/12);
  }

  [yt-col~="7/12l"],
  [yt-col~="14/24l"] {
    width: percentage(7/12);
  }

  [yt-col~="11/12l"],
  [yt-col~="22/24l"] {
    width: percentage(1/12);
  }

  [yt-col~="1/13l"] {
    width: percentage(1/13);
  }

  [yt-col~="2/13l"] {
    width: percentage(2/13);
  }

  [yt-col~="3/13l"] {
    width: percentage(3/13);
  }

  [yt-col~="4/13l"] {
    width: percentage(4/13);
  }

  [yt-col~="5/13l"] {
    width: percentage(5/13);
  }

  [yt-col~="6/13l"] {
    width: percentage(6/13);
  }

  [yt-col~="7/13l"] {
    width: percentage(7/13);
  }

  [yt-col~="8/13l"] {
    width: percentage(8/13);
  }

  [yt-col~="9/13l"] {
    width: percentage(9/13);
  }

  [yt-col~="10/13l"] {
    width: percentage(10/13);
  }

  [yt-col~="11/13l"] {
    width: percentage(11/13);
  }

  [yt-col~="12/13l"] {
    width: percentage(12/13);
  }

  [yt-col~="9/14l"] {
    width: percentage(9/14);
  }

  [yt-col~="11/14l"] {
    width: percentage(11/14);
  }

  [yt-col~="13/14l"] {
    width: percentage(13/14);
  }

  [yt-col~="1/15l"] {
    width: percentage(1/15);
  }

  [yt-col~="2/15l"] {
    width: percentage(2/15);
  }

  [yt-col~="4/15l"] {
    width: percentage(4/15);
  }

  [yt-col~="6/15l"] {
    width: percentage(6/15);
  }

  [yt-col~="7/15l"] {
    width: percentage(7/15);
  }

  [yt-col~="8/15l"] {
    width: percentage(8/15);
  }

  [yt-col~="11/15l"] {
    width: percentage(11/15);
  }

  [yt-col~="13/15l"] {
    width: percentage(13/15);
  }

  [yt-col~="14/15l"] {
    width: percentage(14/15);
  }

  [yt-col~="1/16l"] {
    width: percentage(1/16);
  }

  [yt-col~="3/16l"] {
    width: percentage(3/16);
  }

  [yt-col~="5/16l"] {
    width: percentage(5/16);
  }

  [yt-col~="7/16l"] {
    width: percentage(7/16);
  }

  [yt-col~="9/16l"] {
    width: percentage(9/16);
  }

  [yt-col~="11/16l"] {
    width: percentage(11/16);
  }

  [yt-col~="13/16l"] {
    width: percentage(13/16);
  }

  [yt-col~="15/16l"] {
    width: percentage(15/16);
  }

  [yt-col~="1/17l"] {
    width: percentage(1/17);
  }

  [yt-col~="2/17l"] {
    width: percentage(2/17);
  }

  [yt-col~="3/17l"] {
    width: percentage(3/17);
  }

  [yt-col~="4/17l"] {
    width: percentage(4/17);
  }

  [yt-col~="5/17l"] {
    width: percentage(5/17);
  }

  [yt-col~="6/17l"] {
    width: percentage(6/17);
  }

  [yt-col~="7/17l"] {
    width: percentage(7/17);
  }

  [yt-col~="8/17l"] {
    width: percentage(8/17);
  }

  [yt-col~="9/17l"] {
    width: percentage(9/17);
  }

  [yt-col~="10/17l"] {
    width: percentage(10/17);
  }

  [yt-col~="11/17l"] {
    width: percentage(11/17);
  }

  [yt-col~="12/17l"] {
    width: percentage(12/17);
  }

  [yt-col~="13/17l"] {
    width: percentage(13/17);
  }

  [yt-col~="14/17l"] {
    width: percentage(14/17);
  }

  [yt-col~="15/17l"] {
    width: percentage(15/17);
  }

  [yt-col~="16/17l"] {
    width: percentage(16/17);
  }

  [yt-col~="1/18l"] {
    width: percentage(1/18);
  }

  [yt-col~="3/18l"] {
    width: percentage(3/18);
  }

  [yt-col~="5/18l"] {
    width: percentage(5/18);
  }

  [yt-col~="7/18l"] {
    width: percentage(7/18);
  }

  [yt-col~="11/18l"] {
    width: percentage(11/18);
  }

  [yt-col~="13/18l"] {
    width: percentage(13/18);
  }

  [yt-col~="15/18l"] {
    width: percentage(15/18);
  }

  [yt-col~="17/18l"] {
    width: percentage(17/18);
  }

  [yt-col~="1/19l"] {
    width: percentage(1/19);
  }

  [yt-col~="2/19l"] {
    width: percentage(2/19);
  }

  [yt-col~="3/19l"] {
    width: percentage(3/19);
  }

  [yt-col~="4/19l"] {
    width: percentage(4/19);
  }

  [yt-col~="5/19l"] {
    width: percentage(5/19);
  }

  [yt-col~="6/19l"] {
    width: percentage(6/19);
  }

  [yt-col~="7/19l"] {
    width: percentage(7/19);
  }

  [yt-col~="8/19l"] {
    width: percentage(8/19);
  }

  [yt-col~="9/19l"] {
    width: percentage(9/19);
  }

  [yt-col~="10/19l"] {
    width: percentage(10/19);
  }

  [yt-col~="11/19l"] {
    width: percentage(11/19);
  }

  [yt-col~="12/19l"] {
    width: percentage(12/19);
  }

  [yt-col~="13/19l"] {
    width: percentage(13/19);
  }

  [yt-col~="14/19l"] {
    width: percentage(14/19);
  }

  [yt-col~="15/19l"] {
    width: percentage(15/19);
  }

  [yt-col~="16/19l"] {
    width: percentage(16/19);
  }

  [yt-col~="17/19l"] {
    width: percentage(17/19);
  }

  [yt-col~="18/19l"] {
    width: percentage(18/19);
  }

  [yt-col~="1/20l"] {
    width: percentage(1/20);
  }

  [yt-col~="3/20l"] {
    width: percentage(3/20);
  }

  [yt-col~="7/20l"] {
    width: percentage(7/20);
  }

  [yt-col~="9/20l"] {
    width: percentage(9/20);
  }

  [yt-col~="11/20l"] {
    width: percentage(11/20);
  }

  [yt-col~="13/20l"] {
    width: percentage(13/20);
  }

  [yt-col~="17/20l"] {
    width: percentage(17/20);
  }

  [yt-col~="19/20l"] {
    width: percentage(19/20);
  }

  [yt-col~="1/21l"] {
    width: percentage(1/21);
  }

  [yt-col~="2/21l"] {
    width: percentage(2/21);
  }

  [yt-col~="4/21l"] {
    width: percentage(4/21);
  }

  [yt-col~="5/21l"] {
    width: percentage(5/21);
  }

  [yt-col~="6/21l"] {
    width: percentage(6/21);
  }

  [yt-col~="8/21l"] {
    width: percentage(8/21);
  }

  [yt-col~="10/21l"] {
    width: percentage(10/21);
  }

  [yt-col~="11/21l"] {
    width: percentage(11/21);
  }

  [yt-col~="13/21l"] {
    width: percentage(13/21);
  }

  [yt-col~="16/21l"] {
    width: percentage(16/21);
  }

  [yt-col~="17/21l"] {
    width: percentage(17/21);
  }

  [yt-col~="19/21l"] {
    width: percentage(19/21);
  }

  [yt-col~="20/21l"] {
    width: percentage(20/21);
  }

  [yt-col~="1/22l"] {
    width: percentage(1/22);
  }

  [yt-col~="3/22l"] {
    width: percentage(3/22);
  }

  [yt-col~="5/22l"] {
    width: percentage(5/22);
  }

  [yt-col~="7/22l"] {
    width: percentage(7/22);
  }

  [yt-col~="9/22l"] {
    width: percentage(9/22);
  }

  [yt-col~="13/22l"] {
    width: percentage(13/22);
  }

  [yt-col~="15/22l"] {
    width: percentage(15/22);
  }

  [yt-col~="17/22l"] {
    width: percentage(17/22);
  }

  [yt-col~="19/22l"] {
    width: percentage(19/22);
  }

  [yt-col~="21/22l"] {
    width: percentage(21/22);
  }

  [yt-col~="1/23l"] {
    width: percentage(1/23);
  }

  [yt-col~="2/23l"] {
    width: percentage(2/23);
  }

  [yt-col~="3/23l"] {
    width: percentage(3/23);
  }

  [yt-col~="4/23l"] {
    width: percentage(4/23);
  }

  [yt-col~="5/23l"] {
    width: percentage(5/23);
  }

  [yt-col~="6/23l"] {
    width: percentage(6/23);
  }

  [yt-col~="7/23l"] {
    width: percentage(7/23);
  }

  [yt-col~="8/23l"] {
    width: percentage(8/23);
  }

  [yt-col~="9/23l"] {
    width: percentage(9/23);
  }

  [yt-col~="10/23l"] {
    width: percentage(10/23);
  }

  [yt-col~="11/23l"] {
    width: percentage(11/23);
  }

  [yt-col~="12/23l"] {
    width: percentage(12/23);
  }

  [yt-col~="13/23l"] {
    width: percentage(13/23);
  }

  [yt-col~="14/23l"] {
    width: percentage(14/23);
  }

  [yt-col~="15/23l"] {
    width: percentage(15/23);
  }

  [yt-col~="16/23l"] {
    width: percentage(16/23);
  }

  [yt-col~="17/23l"] {
    width: percentage(17/23);
  }

  [yt-col~="18/23l"] {
    width: percentage(18/23);
  }

  [yt-col~="19/23l"] {
    width: percentage(19/23);
  }

  [yt-col~="20/23l"] {
    width: percentage(20/23);
  }

  [yt-col~="21/23l"] {
    width: percentage(21/23);
  }

  [yt-col~="22/23l"] {
    width: percentage(22/23);
  }

  [yt-col~="1/24l"] {
    width: percentage(1/24);
  }

  [yt-col~="5/24l"] {
    width: percentage(5/24);
  }

  [yt-col~="7/24l"] {
    width: percentage(7/24);
  }

  [yt-col~="11/24l"] {
    width: percentage(11/24);
  }

  [yt-col~="13/24l"] {
    width: percentage(13/24);
  }

  [yt-col~="17/24l"] {
    width: percentage(17/24);
  }

  [yt-col~="19/24l"] {
    width: percentage(19/24);
  }

  [yt-col~="23/24l"] {
    width: percentage(23/24);
  }

}
