// Navigation
// ••••••••••••••••••••••••••••••••••••••••••••••••••


$sidenav-width:         200px;
$sidenav-bg-color:      $bg-color;
$sidenav-color:         $text-color;

%nav--fixed             { position: fixed; top: 0; @include zIndex-8; }
%horiz                  { display: inline-block; }
%vert                   { display: block; }

.burger {
  span {
    cursor: pointer;
    height: 4px;
    border-radius: 3px;
    width: 30px;
    background: white;
    position: absolute;
    right: 1rem;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;

    &:before,&:after {
      cursor: pointer;
      height: 4px;
      border-radius: 3px;
      width: 30px;
      background: white;
      position: absolute;
      display: block;
      content: '';
      transition: all 500ms ease-in-out;
    }
    &:before { top: -10px; }
    &:after { bottom: -10px; }
  }

  &.active {
    span {
      background-color: transparent;

      &:before, &:after {  top: 0; }
      &:before { transform: rotate(45deg); }
      &:after { transform: rotate(-45deg); }
    }
  }
}

.topBar {
  width: 100%;
  padding: 1rem;
  background-color: $brand-primary;
  @include box-shadow(0px 4px 8px #888);
  transition: all 500ms ease-in-out;

  .content {
    height: 100%;
  }

  &.-fixed {
    @extend %nav--fixed;
  }

  .navLogo {
    display: inline-block;
    padding: 1rem 0;
    @include type-jumbo;
    color: $white;
    font-weight: 700;
    text-shadow: 3px 2px 0px $brand-primary, 7px 6px 0px rgba(0, 0, 0, 0.15);
  }
}
.bottomBar {
  position: fixed;
  @include zIndex-8;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: $brand-primary;
  @include box-shadow(inset 0px 4px 8px #888);

  .content {
    height: 100%;
  }

  &.-fixed {
    @extend %nav--fixed;
  }

  .navLogo {
    display: inline-block;
    padding: 1rem 0;
    @include type-jumbo;
    color: $white;
    font-weight: 700;
    text-shadow: 3px 2px 0px $brand-primary, 7px 6px 0px rgba(0, 0, 0, 0.15);
  }
}

.leftBar {
  position: fixed;
  @include zIndex-8;
  top: 0;
  left: 0;
  height: 100vh;
  display: inline-block;
  background-color: $brand-primary;
  width: $sidenav-width;
  @include box-shadow(0px 6px 8px #888);
  padding: $gutter;

  .navLogo {
    @include type-jumbo;
    padding: 1rem 0;
    font-weight: 700;
    color: $white;
    display: block;
    margin-bottom: $gutter;
    text-shadow: 3px 2px 0px $brand-primary, 7px 6px 0px rgba(0, 0, 0, 0.15);
  }

  .navlist {
    display: block;
  }
}

.rightBar {
  position: fixed;
  text-align: right;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: $brand-primary;
  width: $sidenav-width;
  @include box-shadow(0px 6px 8px #888);
  padding: $gutter;

  .navLogo {
    @include type-jumbo;
    padding: 1rem 0;
    font-weight: 700;
    color: $white;
    display: block;
    margin-bottom: $gutter;
    text-shadow: 3px 2px 0px $brand-primary, 7px 6px 0px rgba(0, 0, 0, 0.15);
  }

  .navlist {
    display: block;
  }
}


.navList {
  display: block;
  width: 100%;
  @include animateCss(250ms, 0s, 1);

  li {
    display: block;
    text-align: center;
    width: 100%;
    padding: 20px;
    @include type-large;
  }
}


[yt-layout~="leftBar"] {

}


// Navigation: Desktop ——————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(768px) {

  .burger {
    display: none;
  }

  .navList {
    display: inline-block;

    &.-horiz {
      li {
        @extend %horiz;
        a {
          margin: 0px 1em;
        }
      }
    }
    &.-vert {
      li {
        @extend %vert;
        a {
          margin: 1em 0px;
        }
      }
    }
  }
}
