// Navigation
// ••••••••••••••••••••••••••••••••••••••••••••••••••


$sidenav-width:            220px;
$sidenav-bg-color:         $bg-color;
$sidenav-color:            $text-color;

%nav--fixed {
  position: fixed;
}

%horiz {
  display: inline-block;
}

%vert {
  display: block;
}

.navBar {
  width: 100%;
  padding: 1rem 0px;
  background-color: $brand-primary;
  @include box-shadow(0px 4px 8px #888);

  &.-fixed {
    @extend %nav--fixed;
  }

  .navLogo {
    display: inline-block;
    @include type-jumbo;
    color: $white;
    font-weight: 700;
    text-shadow: 3px 2px 0px $brand-primary, 7px 6px 0px rgba(0, 0, 0, 0.15);
  }

  .navList {

    &.-horiz {
      li {
        @extend %horiz;
        a {
          margin: 0px 1em;
        }
      }
    }
    &.-vert {
      li {
        @extend %vert;
        a {
          margin: 1em 0px;
        }
      }
    }
  }
}


// Side Navigation
// ••••••••••••••••••••••••••••••••••••••••••••••••••

[yt-nav] {

}

[yt-sidenav~="menu"] {
  top: 0;
  bottom: 0;
  overflow: auto;
  @include mobile-scroll;
  position: absolute;
  min-height: 100vh;
  width: $sidenav-width;
  min-width: $sidenav-width;
  background-color: $sidenav-bg-color;
  color: $sidenav-color;
  @include box-shadow(0 0 8px rgba(0,0,0,0.3));
  ul {
    padding: 0;

    li {
      list-style: none;
      padding: $gutter;
    }
  }
}

[yt-sidenav~="content"] {
  margin-left: $sidenav-width;
  min-height: 100vh;
  width: 100%;
  padding-top: $gutter-width;
}

[yt-sidenav~="fixed"] {
  position: fixed;
}

%horiz {
  display: inline-block;
}

%vert {
  display: block;
}



// Navigation: Desktop ——————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(768px) {
  // .navigation {
  //   max-width: 960px;
  // }
}
