// Offset
// ••••••••••••••••••••••••••••••••••••••••••••••••••
//
// Using flexbox for the grid, inspired by Philip Walton:
// http://philipwalton.github.io/solved-by-flexbox/demos/grids/


[yt-offset~="1/2"],
[yt-offset~="2/4"],
[yt-offset~="3/6"],
[yt-offset~="4/8"],
[yt-offset~="5/10"],
[yt-offset~="6/12"],
[yt-offset~="7/14"],
[yt-offset~="8/16"],
[yt-offset~="9/18"],
[yt-offset~="10/20"],
[yt-offset~="11/22"],
[yt-offset~="12/24"] {
  margin-left: 50%;
}

[yt-offset~="1/3"],
[yt-offset~="2/6"],
[yt-offset~="3/9"],
[yt-offset~="4/12"],
[yt-offset~="5/15"],
[yt-offset~="6/18"],
[yt-offset~="7/21"],
[yt-offset~="8/24"] {
  margin-left: percentage(1/3);
}

[yt-offset~="2/3"],
[yt-offset~="4/6"],
[yt-offset~="6/9"],
[yt-offset~="8/12"],
[yt-offset~="10/15"],
[yt-offset~="12/18"],
[yt-offset~="14/21"],
[yt-offset~="16/24"] {
  margin-left: percentage(2/3);
}

[yt-offset~="1/4"],
[yt-offset~="2/8"],
[yt-offset~="3/12"],
[yt-offset~="4/16"],
[yt-offset~="5/20"],
[yt-offset~="6/24"] {
  margin-left: 25%;
}

[yt-offset~="3/4"],
[yt-offset~="6/8"],
[yt-offset~="9/12"],
[yt-offset~="12/16"],
[yt-offset~="15/20"],
[yt-offset~="18/24"] {
  margin-left: 75%;
}

[yt-offset~="1/5"],
[yt-offset~="2/10"],
[yt-offset~="5/20"] {
  margin-left: 20%;
}

[yt-offset~="2/5"],
[yt-offset~="4/10"],
[yt-offset~="8/20"] {
  margin-left: 40%;
}

[yt-offset~="3/5"],
[yt-offset~="6/10"],
[yt-offset~="12/20"] {
  margin-left: 60%;
}

[yt-offset~="4/5"],
[yt-offset~="8/10"],
[yt-offset~="16/20"] {
  margin-left: 80%;
}

[yt-offset~="1/6"],
[yt-offset~="2/12"],
[yt-offset~="3/24"] {
  margin-left: percentage(1/6);
}

[yt-offset~="5/6"],
[yt-offset~="10/12"],
[yt-offset~="20/24"] {
  margin-left: percentage(5/6);
}

[yt-offset~="1/7"],
[yt-offset~="2/14"] {
  margin-left: percentage(1/7);
}

[yt-offset~="2/7"],
[yt-offset~="4/14"] {
  margin-left: percentage(2/7);
}

[yt-offset~="3/7"],
[yt-offset~="6/14"],
[yt-offset~="9/21"] {
  margin-left: percentage(3/7);
}

[yt-offset~="4/7"],
[yt-offset~="8/14"],
[yt-offset~="12/21"] {
  margin-left: percentage(4/7);
}

[yt-offset~="5/7"],
[yt-offset~="10/14"] {
  margin-left: percentage(5/7);
}

[yt-offset~="6/7"],
[yt-offset~="12/14"],
[yt-offset~="18/21"] {
  margin-left: percentage(6/7);
}

[yt-offset~="1/8"],
[yt-offset~="2/16"],
[yt-offset~="3/24"] {
  margin-left: 12.5%;
}

[yt-offset~="3/8"],
[yt-offset~="6/16"],
[yt-offset~="9/24"] {
  margin-left: 37.5%;
}

[yt-offset~="5/8"],
[yt-offset~="10/16"],
[yt-offset~="15/24"] {
  margin-left: 62.5%;
}

[yt-offset~="7/8"],
[yt-offset~="14/16"],
[yt-offset~="21/24"] {
  margin-left: 87.5%;
}

[yt-offset~="1/9"],
[yt-offset~="2/18"] {
  margin-left: percentage(1/9);
}

[yt-offset~="2/9"],
[yt-offset~="4/18"] {
  margin-left: percentage(2/9);
}

[yt-offset~="4/9"],
[yt-offset~="8/18"] {
  margin-left: percentage(4/9);
}

[yt-offset~="5/9"],
[yt-offset~="10/18"] {
  margin-left: percentage(5/9);
}

[yt-offset~="7/9"],
[yt-offset~="14/18"] {
  margin-left: percentage(7/9);
}

[yt-offset~="8/9"],
[yt-offset~="16/18"] {
  margin-left: percentage(8/9);
}

[yt-offset~="1/10"],
[yt-offset~="2/20"] {
  margin-left: 10%;
}

[yt-offset~="3/10"],
[yt-offset~="6/20"] {
  margin-left: 30%;
}

[yt-offset~="7/10"],
[yt-offset~="14/20"] {
  margin-left: 70%;
}

[yt-offset~="9/10"],
[yt-offset~="18/20"] {
  margin-left: 90%;
}

[yt-offset~="1/11"],
[yt-offset~="2/22"] {
  margin-left: percentage(1/11);
}

[yt-offset~="2/11"],
[yt-offset~="4/22"] {
  margin-left: percentage(2/11);
}

[yt-offset~="3/11"],
[yt-offset~="6/22"] {
  margin-left: percentage(3/11);
}

[yt-offset~="4/11"],
[yt-offset~="8/22"] {
  margin-left: percentage(4/11);
}

[yt-offset~="5/11"],
[yt-offset~="10/22"] {
  margin-left: percentage(5/11);
}

[yt-offset~="6/11"],
[yt-offset~="12/22"] {
  margin-left: percentage(6/11);
}

[yt-offset~="7/11"],
[yt-offset~="14/22"] {
  margin-left: percentage(7/11);
}

[yt-offset~="8/11"],
[yt-offset~="16/22"] {
  margin-left: percentage(8/11);
}

[yt-offset~="9/11"],
[yt-offset~="18/22"] {
  margin-left: percentage(9/11);
}

[yt-offset~="10/11"],
[yt-offset~="20/22"] {
  margin-left: percentage(10/11);
}

[yt-offset~="1/12"],
[yt-offset~="2/24"] {
  margin-left: percentage(1/12);
}

[yt-offset~="5/12"],
[yt-offset~="10/24"] {
  margin-left: percentage(5/12);
}

[yt-offset~="7/12"],
[yt-offset~="14/24"] {
  margin-left: percentage(7/12);
}

[yt-offset~="11/12"],
[yt-offset~="22/24"] {
  margin-left: percentage(1/12);
}

[yt-offset~="1/13"] {
  margin-left: percentage(1/13);
}

[yt-offset~="2/13"] {
  margin-left: percentage(2/13);
}

[yt-offset~="3/13"] {
  margin-left: percentage(3/13);
}

[yt-offset~="4/13"] {
  margin-left: percentage(4/13);
}

[yt-offset~="5/13"] {
  margin-left: percentage(5/13);
}

[yt-offset~="6/13"] {
  margin-left: percentage(6/13);
}

[yt-offset~="7/13"] {
  margin-left: percentage(7/13);
}

[yt-offset~="8/13"] {
  margin-left: percentage(8/13);
}

[yt-offset~="9/13"] {
  margin-left: percentage(9/13);
}

[yt-offset~="10/13"] {
  margin-left: percentage(10/13);
}

[yt-offset~="11/13"] {
  margin-left: percentage(11/13);
}

[yt-offset~="12/13"] {
  margin-left: percentage(12/13);
}

[yt-offset~="9/14"] {
  margin-left: percentage(9/14);
}

[yt-offset~="11/14"] {
  margin-left: percentage(11/14);
}

[yt-offset~="13/14"] {
  margin-left: percentage(13/14);
}

[yt-offset~="1/15"] {
  margin-left: percentage(1/15);
}

[yt-offset~="2/15"] {
  margin-left: percentage(2/15);
}

[yt-offset~="4/15"] {
  margin-left: percentage(4/15);
}

[yt-offset~="6/15"] {
  margin-left: percentage(6/15);
}

[yt-offset~="7/15"] {
  margin-left: percentage(7/15);
}

[yt-offset~="8/15"] {
  margin-left: percentage(8/15);
}

[yt-offset~="11/15"] {
  margin-left: percentage(11/15);
}

[yt-offset~="13/15"] {
  margin-left: percentage(13/15);
}

[yt-offset~="14/15"] {
  margin-left: percentage(14/15);
}

[yt-offset~="1/16"] {
  margin-left: percentage(1/16);
}

[yt-offset~="3/16"] {
  margin-left: percentage(3/16);
}

[yt-offset~="5/16"] {
  margin-left: percentage(5/16);
}

[yt-offset~="7/16"] {
  margin-left: percentage(7/16);
}

[yt-offset~="9/16"] {
  margin-left: percentage(9/16);
}

[yt-offset~="11/16"] {
  margin-left: percentage(11/16);
}

[yt-offset~="13/16"] {
  margin-left: percentage(13/16);
}

[yt-offset~="15/16"] {
  margin-left: percentage(15/16);
}

[yt-offset~="1/17"] {
  margin-left: percentage(1/17);
}

[yt-offset~="2/17"] {
  margin-left: percentage(2/17);
}

[yt-offset~="3/17"] {
  margin-left: percentage(3/17);
}

[yt-offset~="4/17"] {
  margin-left: percentage(4/17);
}

[yt-offset~="5/17"] {
  margin-left: percentage(5/17);
}

[yt-offset~="6/17"] {
  margin-left: percentage(6/17);
}

[yt-offset~="7/17"] {
  margin-left: percentage(7/17);
}

[yt-offset~="8/17"] {
  margin-left: percentage(8/17);
}

[yt-offset~="9/17"] {
  margin-left: percentage(9/17);
}

[yt-offset~="10/17"] {
  margin-left: percentage(10/17);
}

[yt-offset~="11/17"] {
  margin-left: percentage(11/17);
}

[yt-offset~="12/17"] {
  margin-left: percentage(12/17);
}

[yt-offset~="13/17"] {
  margin-left: percentage(13/17);
}

[yt-offset~="14/17"] {
  margin-left: percentage(14/17);
}

[yt-offset~="15/17"] {
  margin-left: percentage(15/17);
}

[yt-offset~="16/17"] {
  margin-left: percentage(16/17);
}

[yt-offset~="1/18"] {
  margin-left: percentage(1/18);
}

[yt-offset~="3/18"] {
  margin-left: percentage(3/18);
}

[yt-offset~="5/18"] {
  margin-left: percentage(5/18);
}

[yt-offset~="7/18"] {
  margin-left: percentage(7/18);
}

[yt-offset~="11/18"] {
  margin-left: percentage(11/18);
}

[yt-offset~="13/18"] {
  margin-left: percentage(13/18);
}

[yt-offset~="15/18"] {
  margin-left: percentage(15/18);
}

[yt-offset~="17/18"] {
  margin-left: percentage(17/18);
}

[yt-offset~="1/19"] {
  margin-left: percentage(1/19);
}

[yt-offset~="2/19"] {
  margin-left: percentage(2/19);
}

[yt-offset~="3/19"] {
  margin-left: percentage(3/19);
}

[yt-offset~="4/19"] {
  margin-left: percentage(4/19);
}

[yt-offset~="5/19"] {
  margin-left: percentage(5/19);
}

[yt-offset~="6/19"] {
  margin-left: percentage(6/19);
}

[yt-offset~="7/19"] {
  margin-left: percentage(7/19);
}

[yt-offset~="8/19"] {
  margin-left: percentage(8/19);
}

[yt-offset~="9/19"] {
  margin-left: percentage(9/19);
}

[yt-offset~="10/19"] {
  margin-left: percentage(10/19);
}

[yt-offset~="11/19"] {
  margin-left: percentage(11/19);
}

[yt-offset~="12/19"] {
  margin-left: percentage(12/19);
}

[yt-offset~="13/19"] {
  margin-left: percentage(13/19);
}

[yt-offset~="14/19"] {
  margin-left: percentage(14/19);
}

[yt-offset~="15/19"] {
  margin-left: percentage(15/19);
}

[yt-offset~="16/19"] {
  margin-left: percentage(16/19);
}

[yt-offset~="17/19"] {
  margin-left: percentage(17/19);
}

[yt-offset~="18/19"] {
  margin-left: percentage(18/19);
}

[yt-offset~="1/20"] {
  margin-left: percentage(1/20);
}

[yt-offset~="3/20"] {
  margin-left: percentage(3/20);
}

[yt-offset~="7/20"] {
  margin-left: percentage(7/20);
}

[yt-offset~="9/20"] {
  margin-left: percentage(9/20);
}

[yt-offset~="11/20"] {
  margin-left: percentage(11/20);
}

[yt-offset~="13/20"] {
  margin-left: percentage(13/20);
}

[yt-offset~="17/20"] {
  margin-left: percentage(17/20);
}

[yt-offset~="19/20"] {
  margin-left: percentage(19/20);
}

[yt-offset~="1/21"] {
  margin-left: percentage(1/21);
}

[yt-offset~="2/21"] {
  margin-left: percentage(2/21);
}

[yt-offset~="4/21"] {
  margin-left: percentage(4/21);
}

[yt-offset~="5/21"] {
  margin-left: percentage(5/21);
}

[yt-offset~="6/21"] {
  margin-left: percentage(6/21);
}

[yt-offset~="8/21"] {
  margin-left: percentage(8/21);
}

[yt-offset~="10/21"] {
  margin-left: percentage(10/21);
}

[yt-offset~="11/21"] {
  margin-left: percentage(11/21);
}

[yt-offset~="13/21"] {
  margin-left: percentage(13/21);
}

[yt-offset~="16/21"] {
  margin-left: percentage(16/21);
}

[yt-offset~="17/21"] {
  margin-left: percentage(17/21);
}

[yt-offset~="19/21"] {
  margin-left: percentage(19/21);
}

[yt-offset~="20/21"] {
  margin-left: percentage(20/21);
}

[yt-offset~="1/22"] {
  margin-left: percentage(1/22);
}

[yt-offset~="3/22"] {
  margin-left: percentage(3/22);
}

[yt-offset~="5/22"] {
  margin-left: percentage(5/22);
}

[yt-offset~="7/22"] {
  margin-left: percentage(7/22);
}

[yt-offset~="9/22"] {
  margin-left: percentage(9/22);
}

[yt-offset~="13/22"] {
  margin-left: percentage(13/22);
}

[yt-offset~="15/22"] {
  margin-left: percentage(15/22);
}

[yt-offset~="17/22"] {
  margin-left: percentage(17/22);
}

[yt-offset~="19/22"] {
  margin-left: percentage(19/22);
}

[yt-offset~="21/22"] {
  margin-left: percentage(21/22);
}

[yt-offset~="1/23"] {
  margin-left: percentage(1/23);
}

[yt-offset~="2/23"] {
  margin-left: percentage(2/23);
}

[yt-offset~="3/23"] {
  margin-left: percentage(3/23);
}

[yt-offset~="4/23"] {
  margin-left: percentage(4/23);
}

[yt-offset~="5/23"] {
  margin-left: percentage(5/23);
}

[yt-offset~="6/23"] {
  margin-left: percentage(6/23);
}

[yt-offset~="7/23"] {
  margin-left: percentage(7/23);
}

[yt-offset~="8/23"] {
  margin-left: percentage(8/23);
}

[yt-offset~="9/23"] {
  margin-left: percentage(9/23);
}

[yt-offset~="10/23"] {
  margin-left: percentage(10/23);
}

[yt-offset~="11/23"] {
  margin-left: percentage(11/23);
}

[yt-offset~="12/23"] {
  margin-left: percentage(12/23);
}

[yt-offset~="13/23"] {
  margin-left: percentage(13/23);
}

[yt-offset~="14/23"] {
  margin-left: percentage(14/23);
}

[yt-offset~="15/23"] {
  margin-left: percentage(15/23);
}

[yt-offset~="16/23"] {
  margin-left: percentage(16/23);
}

[yt-offset~="17/23"] {
  margin-left: percentage(17/23);
}

[yt-offset~="18/23"] {
  margin-left: percentage(18/23);
}

[yt-offset~="19/23"] {
  margin-left: percentage(19/23);
}

[yt-offset~="20/23"] {
  margin-left: percentage(20/23);
}

[yt-offset~="21/23"] {
  margin-left: percentage(21/23);
}

[yt-offset~="22/23"] {
  margin-left: percentage(22/23);
}

[yt-offset~="1/24"] {
  margin-left: percentage(1/24);
}

[yt-offset~="5/24"] {
  margin-left: percentage(5/24);
}

[yt-offset~="7/24"] {
  margin-left: percentage(7/24);
}

[yt-offset~="11/24"] {
  margin-left: percentage(11/24);
}

[yt-offset~="13/24"] {
  margin-left: percentage(13/24);
}

[yt-offset~="17/24"] {
  margin-left: percentage(17/24);
}

[yt-offset~="19/24"] {
  margin-left: percentage(19/24);
}

[yt-offset~="23/24"] {
  margin-left: percentage(23/24);
}

// Offset Styles: Medium ~ these will be applied on anything less than $small-screen
// ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

@include responsive-break-point($small-screen) {

  [yt-offset~="1/2s"],
  [yt-offset~="2/4s"],
  [yt-offset~="3/6s"],
  [yt-offset~="4/8s"],
  [yt-offset~="5/10s"],
  [yt-offset~="6/12s"],
  [yt-offset~="7/14s"],
  [yt-offset~="8/16s"],
  [yt-offset~="9/18s"],
  [yt-offset~="10/20s"],
  [yt-offset~="11/22s"],
  [yt-offset~="12/24s"] {
    margin-left: 50%;
  }

  [yt-offset~="1/3s"],
  [yt-offset~="2/6s"],
  [yt-offset~="3/9s"],
  [yt-offset~="4/12s"],
  [yt-offset~="5/15s"],
  [yt-offset~="6/18s"],
  [yt-offset~="7/21s"],
  [yt-offset~="8/24s"] {
    margin-left: percentage(1/3);
  }

  [yt-offset~="2/3s"],
  [yt-offset~="4/6s"],
  [yt-offset~="6/9s"],
  [yt-offset~="8/12s"],
  [yt-offset~="10/15s"],
  [yt-offset~="12/18s"],
  [yt-offset~="14/21s"],
  [yt-offset~="16/24s"] {
    margin-left: percentage(2/3);
  }

  [yt-offset~="1/4s"],
  [yt-offset~="2/8s"],
  [yt-offset~="3/12s"],
  [yt-offset~="4/16s"],
  [yt-offset~="5/20s"],
  [yt-offset~="6/24s"] {
    margin-left: 25%;
  }

  [yt-offset~="3/4s"],
  [yt-offset~="6/8s"],
  [yt-offset~="9/12s"],
  [yt-offset~="12/16s"],
  [yt-offset~="15/20s"],
  [yt-offset~="18/24s"] {
    margin-left: 75%;
  }

  [yt-offset~="1/5s"],
  [yt-offset~="2/10s"],
  [yt-offset~="5/20s"] {
    margin-left: 20%;
  }

  [yt-offset~="2/5s"],
  [yt-offset~="4/10s"],
  [yt-offset~="8/20s"] {
    margin-left: 40%;
  }

  [yt-offset~="3/5s"],
  [yt-offset~="6/10s"],
  [yt-offset~="12/20s"] {
    margin-left: 60%;
  }

  [yt-offset~="4/5s"],
  [yt-offset~="8/10s"],
  [yt-offset~="16/20s"] {
    margin-left: 80%;
  }

  [yt-offset~="1/6s"],
  [yt-offset~="2/12s"],
  [yt-offset~="3/24s"] {
    margin-left: percentage(1/6);
  }

  [yt-offset~="5/6s"],
  [yt-offset~="10/12s"],
  [yt-offset~="20/24s"] {
    margin-left: percentage(5/6);
  }

  [yt-offset~="1/7s"],
  [yt-offset~="2/14s"] {
    margin-left: percentage(1/7);
  }

  [yt-offset~="2/7s"],
  [yt-offset~="4/14s"] {
    margin-left: percentage(2/7);
  }

  [yt-offset~="3/7s"],
  [yt-offset~="6/14s"],
  [yt-offset~="9/21s"] {
    margin-left: percentage(3/7);
  }

  [yt-offset~="4/7s"],
  [yt-offset~="8/14s"],
  [yt-offset~="12/21s"] {
    margin-left: percentage(4/7);
  }

  [yt-offset~="5/7s"],
  [yt-offset~="10/14s"] {
    margin-left: percentage(5/7);
  }

  [yt-offset~="6/7s"],
  [yt-offset~="12/14s"],
  [yt-offset~="18/21s"] {
    margin-left: percentage(6/7);
  }

  [yt-offset~="1/8s"],
  [yt-offset~="2/16s"],
  [yt-offset~="3/24s"] {
    margin-left: 12.5%;
  }

  [yt-offset~="3/8s"],
  [yt-offset~="6/16s"],
  [yt-offset~="9/24s"] {
    margin-left: 37.5%;
  }

  [yt-offset~="5/8s"],
  [yt-offset~="10/16s"],
  [yt-offset~="15/24s"] {
    margin-left: 62.5%;
  }

  [yt-offset~="7/8s"],
  [yt-offset~="14/16s"],
  [yt-offset~="21/24s"] {
    margin-left: 87.5%;
  }

  [yt-offset~="1/9s"],
  [yt-offset~="2/18s"] {
    margin-left: percentage(1/9);
  }

  [yt-offset~="2/9s"],
  [yt-offset~="4/18s"] {
    margin-left: percentage(2/9);
  }

  [yt-offset~="4/9s"],
  [yt-offset~="8/18s"] {
    margin-left: percentage(4/9);
  }

  [yt-offset~="5/9s"],
  [yt-offset~="10/18s"] {
    margin-left: percentage(5/9);
  }

  [yt-offset~="7/9s"],
  [yt-offset~="14/18s"] {
    margin-left: percentage(7/9);
  }

  [yt-offset~="8/9s"],
  [yt-offset~="16/18s"] {
    margin-left: percentage(8/9);
  }

  [yt-offset~="1/10s"],
  [yt-offset~="2/20s"] {
    margin-left: 10%;
  }

  [yt-offset~="3/10s"],
  [yt-offset~="6/20s"] {
    margin-left: 30%;
  }

  [yt-offset~="7/10s"],
  [yt-offset~="14/20s"] {
    margin-left: 70%;
  }

  [yt-offset~="9/10s"],
  [yt-offset~="18/20s"] {
    margin-left: 90%;
  }

  [yt-offset~="1/11s"],
  [yt-offset~="2/22s"] {
    margin-left: percentage(1/11);
  }

  [yt-offset~="2/11s"],
  [yt-offset~="4/22s"] {
    margin-left: percentage(2/11);
  }

  [yt-offset~="3/11s"],
  [yt-offset~="6/22s"] {
    margin-left: percentage(3/11);
  }

  [yt-offset~="4/11s"],
  [yt-offset~="8/22s"] {
    margin-left: percentage(4/11);
  }

  [yt-offset~="5/11s"],
  [yt-offset~="10/22s"] {
    margin-left: percentage(5/11);
  }

  [yt-offset~="6/11s"],
  [yt-offset~="12/22s"] {
    margin-left: percentage(6/11);
  }

  [yt-offset~="7/11s"],
  [yt-offset~="14/22s"] {
    margin-left: percentage(7/11);
  }

  [yt-offset~="8/11s"],
  [yt-offset~="16/22s"] {
    margin-left: percentage(8/11);
  }

  [yt-offset~="9/11s"],
  [yt-offset~="18/22s"] {
    margin-left: percentage(9/11);
  }

  [yt-offset~="10/11s"],
  [yt-offset~="20/22s"] {
    margin-left: percentage(10/11);
  }

  [yt-offset~="1/12s"],
  [yt-offset~="2/24s"] {
    margin-left: percentage(1/12);
  }

  [yt-offset~="5/12s"],
  [yt-offset~="10/24s"] {
    margin-left: percentage(5/12);
  }

  [yt-offset~="7/12s"],
  [yt-offset~="14/24s"] {
    margin-left: percentage(7/12);
  }

  [yt-offset~="11/12s"],
  [yt-offset~="22/24s"] {
    margin-left: percentage(1/12);
  }

  [yt-offset~="1/13s"] {
    margin-left: percentage(1/13);
  }

  [yt-offset~="2/13s"] {
    margin-left: percentage(2/13);
  }

  [yt-offset~="3/13s"] {
    margin-left: percentage(3/13);
  }

  [yt-offset~="4/13s"] {
    margin-left: percentage(4/13);
  }

  [yt-offset~="5/13s"] {
    margin-left: percentage(5/13);
  }

  [yt-offset~="6/13s"] {
    margin-left: percentage(6/13);
  }

  [yt-offset~="7/13s"] {
    margin-left: percentage(7/13);
  }

  [yt-offset~="8/13s"] {
    margin-left: percentage(8/13);
  }

  [yt-offset~="9/13s"] {
    margin-left: percentage(9/13);
  }

  [yt-offset~="10/13s"] {
    margin-left: percentage(10/13);
  }

  [yt-offset~="11/13s"] {
    margin-left: percentage(11/13);
  }

  [yt-offset~="12/13s"] {
    margin-left: percentage(12/13);
  }

  [yt-offset~="9/14s"] {
    margin-left: percentage(9/14);
  }

  [yt-offset~="11/14s"] {
    margin-left: percentage(11/14);
  }

  [yt-offset~="13/14s"] {
    margin-left: percentage(13/14);
  }

  [yt-offset~="1/15s"] {
    margin-left: percentage(1/15);
  }

  [yt-offset~="2/15s"] {
    margin-left: percentage(2/15);
  }

  [yt-offset~="4/15s"] {
    margin-left: percentage(4/15);
  }

  [yt-offset~="6/15s"] {
    margin-left: percentage(6/15);
  }

  [yt-offset~="7/15s"] {
    margin-left: percentage(7/15);
  }

  [yt-offset~="8/15s"] {
    margin-left: percentage(8/15);
  }

  [yt-offset~="11/15s"] {
    margin-left: percentage(11/15);
  }

  [yt-offset~="13/15s"] {
    margin-left: percentage(13/15);
  }

  [yt-offset~="14/15s"] {
    margin-left: percentage(14/15);
  }

  [yt-offset~="1/16s"] {
    margin-left: percentage(1/16);
  }

  [yt-offset~="3/16s"] {
    margin-left: percentage(3/16);
  }

  [yt-offset~="5/16s"] {
    margin-left: percentage(5/16);
  }

  [yt-offset~="7/16s"] {
    margin-left: percentage(7/16);
  }

  [yt-offset~="9/16s"] {
    margin-left: percentage(9/16);
  }

  [yt-offset~="11/16s"] {
    margin-left: percentage(11/16);
  }

  [yt-offset~="13/16s"] {
    margin-left: percentage(13/16);
  }

  [yt-offset~="15/16s"] {
    margin-left: percentage(15/16);
  }

  [yt-offset~="1/17s"] {
    margin-left: percentage(1/17);
  }

  [yt-offset~="2/17s"] {
    margin-left: percentage(2/17);
  }

  [yt-offset~="3/17s"] {
    margin-left: percentage(3/17);
  }

  [yt-offset~="4/17s"] {
    margin-left: percentage(4/17);
  }

  [yt-offset~="5/17s"] {
    margin-left: percentage(5/17);
  }

  [yt-offset~="6/17s"] {
    margin-left: percentage(6/17);
  }

  [yt-offset~="7/17s"] {
    margin-left: percentage(7/17);
  }

  [yt-offset~="8/17s"] {
    margin-left: percentage(8/17);
  }

  [yt-offset~="9/17s"] {
    margin-left: percentage(9/17);
  }

  [yt-offset~="10/17s"] {
    margin-left: percentage(10/17);
  }

  [yt-offset~="11/17s"] {
    margin-left: percentage(11/17);
  }

  [yt-offset~="12/17s"] {
    margin-left: percentage(12/17);
  }

  [yt-offset~="13/17s"] {
    margin-left: percentage(13/17);
  }

  [yt-offset~="14/17s"] {
    margin-left: percentage(14/17);
  }

  [yt-offset~="15/17s"] {
    margin-left: percentage(15/17);
  }

  [yt-offset~="16/17s"] {
    margin-left: percentage(16/17);
  }

  [yt-offset~="1/18s"] {
    margin-left: percentage(1/18);
  }

  [yt-offset~="3/18s"] {
    margin-left: percentage(3/18);
  }

  [yt-offset~="5/18s"] {
    margin-left: percentage(5/18);
  }

  [yt-offset~="7/18s"] {
    margin-left: percentage(7/18);
  }

  [yt-offset~="11/18s"] {
    margin-left: percentage(11/18);
  }

  [yt-offset~="13/18s"] {
    margin-left: percentage(13/18);
  }

  [yt-offset~="15/18s"] {
    margin-left: percentage(15/18);
  }

  [yt-offset~="17/18s"] {
    margin-left: percentage(17/18);
  }

  [yt-offset~="1/19s"] {
    margin-left: percentage(1/19);
  }

  [yt-offset~="2/19s"] {
    margin-left: percentage(2/19);
  }

  [yt-offset~="3/19s"] {
    margin-left: percentage(3/19);
  }

  [yt-offset~="4/19s"] {
    margin-left: percentage(4/19);
  }

  [yt-offset~="5/19s"] {
    margin-left: percentage(5/19);
  }

  [yt-offset~="6/19s"] {
    margin-left: percentage(6/19);
  }

  [yt-offset~="7/19s"] {
    margin-left: percentage(7/19);
  }

  [yt-offset~="8/19s"] {
    margin-left: percentage(8/19);
  }

  [yt-offset~="9/19s"] {
    margin-left: percentage(9/19);
  }

  [yt-offset~="10/19s"] {
    margin-left: percentage(10/19);
  }

  [yt-offset~="11/19s"] {
    margin-left: percentage(11/19);
  }

  [yt-offset~="12/19s"] {
    margin-left: percentage(12/19);
  }

  [yt-offset~="13/19s"] {
    margin-left: percentage(13/19);
  }

  [yt-offset~="14/19s"] {
    margin-left: percentage(14/19);
  }

  [yt-offset~="15/19s"] {
    margin-left: percentage(15/19);
  }

  [yt-offset~="16/19s"] {
    margin-left: percentage(16/19);
  }

  [yt-offset~="17/19s"] {
    margin-left: percentage(17/19);
  }

  [yt-offset~="18/19s"] {
    margin-left: percentage(18/19);
  }

  [yt-offset~="1/20s"] {
    margin-left: percentage(1/20);
  }

  [yt-offset~="3/20s"] {
    margin-left: percentage(3/20);
  }

  [yt-offset~="7/20s"] {
    margin-left: percentage(7/20);
  }

  [yt-offset~="9/20s"] {
    margin-left: percentage(9/20);
  }

  [yt-offset~="11/20s"] {
    margin-left: percentage(11/20);
  }

  [yt-offset~="13/20s"] {
    margin-left: percentage(13/20);
  }

  [yt-offset~="17/20s"] {
    margin-left: percentage(17/20);
  }

  [yt-offset~="19/20s"] {
    margin-left: percentage(19/20);
  }

  [yt-offset~="1/21s"] {
    margin-left: percentage(1/21);
  }

  [yt-offset~="2/21s"] {
    margin-left: percentage(2/21);
  }

  [yt-offset~="4/21s"] {
    margin-left: percentage(4/21);
  }

  [yt-offset~="5/21s"] {
    margin-left: percentage(5/21);
  }

  [yt-offset~="6/21s"] {
    margin-left: percentage(6/21);
  }

  [yt-offset~="8/21s"] {
    margin-left: percentage(8/21);
  }

  [yt-offset~="10/21s"] {
    margin-left: percentage(10/21);
  }

  [yt-offset~="11/21s"] {
    margin-left: percentage(11/21);
  }

  [yt-offset~="13/21s"] {
    margin-left: percentage(13/21);
  }

  [yt-offset~="16/21s"] {
    margin-left: percentage(16/21);
  }

  [yt-offset~="17/21s"] {
    margin-left: percentage(17/21);
  }

  [yt-offset~="19/21s"] {
    margin-left: percentage(19/21);
  }

  [yt-offset~="20/21s"] {
    margin-left: percentage(20/21);
  }

  [yt-offset~="1/22s"] {
    margin-left: percentage(1/22);
  }

  [yt-offset~="3/22s"] {
    margin-left: percentage(3/22);
  }

  [yt-offset~="5/22s"] {
    margin-left: percentage(5/22);
  }

  [yt-offset~="7/22s"] {
    margin-left: percentage(7/22);
  }

  [yt-offset~="9/22s"] {
    margin-left: percentage(9/22);
  }

  [yt-offset~="13/22s"] {
    margin-left: percentage(13/22);
  }

  [yt-offset~="15/22s"] {
    margin-left: percentage(15/22);
  }

  [yt-offset~="17/22s"] {
    margin-left: percentage(17/22);
  }

  [yt-offset~="19/22s"] {
    margin-left: percentage(19/22);
  }

  [yt-offset~="21/22s"] {
    margin-left: percentage(21/22);
  }

  [yt-offset~="1/23s"] {
    margin-left: percentage(1/23);
  }

  [yt-offset~="2/23s"] {
    margin-left: percentage(2/23);
  }

  [yt-offset~="3/23s"] {
    margin-left: percentage(3/23);
  }

  [yt-offset~="4/23s"] {
    margin-left: percentage(4/23);
  }

  [yt-offset~="5/23s"] {
    margin-left: percentage(5/23);
  }

  [yt-offset~="6/23s"] {
    margin-left: percentage(6/23);
  }

  [yt-offset~="7/23s"] {
    margin-left: percentage(7/23);
  }

  [yt-offset~="8/23s"] {
    margin-left: percentage(8/23);
  }

  [yt-offset~="9/23s"] {
    margin-left: percentage(9/23);
  }

  [yt-offset~="10/23s"] {
    margin-left: percentage(10/23);
  }

  [yt-offset~="11/23s"] {
    margin-left: percentage(11/23);
  }

  [yt-offset~="12/23s"] {
    margin-left: percentage(12/23);
  }

  [yt-offset~="13/23s"] {
    margin-left: percentage(13/23);
  }

  [yt-offset~="14/23s"] {
    margin-left: percentage(14/23);
  }

  [yt-offset~="15/23s"] {
    margin-left: percentage(15/23);
  }

  [yt-offset~="16/23s"] {
    margin-left: percentage(16/23);
  }

  [yt-offset~="17/23s"] {
    margin-left: percentage(17/23);
  }

  [yt-offset~="18/23s"] {
    margin-left: percentage(18/23);
  }

  [yt-offset~="19/23s"] {
    margin-left: percentage(19/23);
  }

  [yt-offset~="20/23s"] {
    margin-left: percentage(20/23);
  }

  [yt-offset~="21/23s"] {
    margin-left: percentage(21/23);
  }

  [yt-offset~="22/23s"] {
    margin-left: percentage(22/23);
  }

  [yt-offset~="1/24s"] {
    margin-left: percentage(1/24);
  }

  [yt-offset~="5/24s"] {
    margin-left: percentage(5/24);
  }

  [yt-offset~="7/24s"] {
    margin-left: percentage(7/24);
  }

  [yt-offset~="11/24s"] {
    margin-left: percentage(11/24);
  }

  [yt-offset~="13/24s"] {
    margin-left: percentage(13/24);
  }

  [yt-offset~="17/24s"] {
    margin-left: percentage(17/24);
  }

  [yt-offset~="19/24s"] {
    margin-left: percentage(19/24);
  }

  [yt-offset~="23/24s"] {
    margin-left: percentage(23/24);
  }

}


// Offset Styles: Medium ~ these will be applied on anything less than $medium-screen
// ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

@include responsive-break-point($medium-screen) {

  [yt-offset~="1/2m"],
  [yt-offset~="2/4m"],
  [yt-offset~="3/6m"],
  [yt-offset~="4/8m"],
  [yt-offset~="5/10m"],
  [yt-offset~="6/12m"],
  [yt-offset~="7/14m"],
  [yt-offset~="8/16m"],
  [yt-offset~="9/18m"],
  [yt-offset~="10/20m"],
  [yt-offset~="11/22m"],
  [yt-offset~="12/24m"] {
    margin-left: 50%;
  }

  [yt-offset~="1/3m"],
  [yt-offset~="2/6m"],
  [yt-offset~="3/9m"],
  [yt-offset~="4/12m"],
  [yt-offset~="5/15m"],
  [yt-offset~="6/18m"],
  [yt-offset~="7/21m"],
  [yt-offset~="8/24m"] {
    margin-left: percentage(1/3);
  }

  [yt-offset~="2/3m"],
  [yt-offset~="4/6m"],
  [yt-offset~="6/9m"],
  [yt-offset~="8/12m"],
  [yt-offset~="10/15m"],
  [yt-offset~="12/18m"],
  [yt-offset~="14/21m"],
  [yt-offset~="16/24m"] {
    margin-left: percentage(2/3);
  }

  [yt-offset~="1/4m"],
  [yt-offset~="2/8m"],
  [yt-offset~="3/12m"],
  [yt-offset~="4/16m"],
  [yt-offset~="5/20m"],
  [yt-offset~="6/24m"] {
    margin-left: 25%;
  }

  [yt-offset~="3/4m"],
  [yt-offset~="6/8m"],
  [yt-offset~="9/12m"],
  [yt-offset~="12/16m"],
  [yt-offset~="15/20m"],
  [yt-offset~="18/24m"] {
    margin-left: 75%;
  }

  [yt-offset~="1/5m"],
  [yt-offset~="2/10m"],
  [yt-offset~="5/20m"] {
    margin-left: 20%;
  }

  [yt-offset~="2/5m"],
  [yt-offset~="4/10m"],
  [yt-offset~="8/20m"] {
    margin-left: 40%;
  }

  [yt-offset~="3/5m"],
  [yt-offset~="6/10m"],
  [yt-offset~="12/20m"] {
    margin-left: 60%;
  }

  [yt-offset~="4/5m"],
  [yt-offset~="8/10m"],
  [yt-offset~="16/20m"] {
    margin-left: 80%;
  }

  [yt-offset~="1/6m"],
  [yt-offset~="2/12m"],
  [yt-offset~="3/24m"] {
    margin-left: percentage(1/6);
  }

  [yt-offset~="5/6m"],
  [yt-offset~="10/12m"],
  [yt-offset~="20/24m"] {
    margin-left: percentage(5/6);
  }

  [yt-offset~="1/7m"],
  [yt-offset~="2/14m"] {
    margin-left: percentage(1/7);
  }

  [yt-offset~="2/7m"],
  [yt-offset~="4/14m"] {
    margin-left: percentage(2/7);
  }

  [yt-offset~="3/7m"],
  [yt-offset~="6/14m"],
  [yt-offset~="9/21m"] {
    margin-left: percentage(3/7);
  }

  [yt-offset~="4/7m"],
  [yt-offset~="8/14m"],
  [yt-offset~="12/21m"] {
    margin-left: percentage(4/7);
  }

  [yt-offset~="5/7m"],
  [yt-offset~="10/14m"] {
    margin-left: percentage(5/7);
  }

  [yt-offset~="6/7m"],
  [yt-offset~="12/14m"],
  [yt-offset~="18/21m"] {
    margin-left: percentage(6/7);
  }

  [yt-offset~="1/8m"],
  [yt-offset~="2/16m"],
  [yt-offset~="3/24m"] {
    margin-left: 12.5%;
  }

  [yt-offset~="3/8m"],
  [yt-offset~="6/16m"],
  [yt-offset~="9/24m"] {
    margin-left: 37.5%;
  }

  [yt-offset~="5/8m"],
  [yt-offset~="10/16m"],
  [yt-offset~="15/24m"] {
    margin-left: 62.5%;
  }

  [yt-offset~="7/8m"],
  [yt-offset~="14/16m"],
  [yt-offset~="21/24m"] {
    margin-left: 87.5%;
  }

  [yt-offset~="1/9m"],
  [yt-offset~="2/18m"] {
    margin-left: percentage(1/9);
  }

  [yt-offset~="2/9m"],
  [yt-offset~="4/18m"] {
    margin-left: percentage(2/9);
  }

  [yt-offset~="4/9m"],
  [yt-offset~="8/18m"] {
    margin-left: percentage(4/9);
  }

  [yt-offset~="5/9m"],
  [yt-offset~="10/18m"] {
    margin-left: percentage(5/9);
  }

  [yt-offset~="7/9m"],
  [yt-offset~="14/18m"] {
    margin-left: percentage(7/9);
  }

  [yt-offset~="8/9m"],
  [yt-offset~="16/18m"] {
    margin-left: percentage(8/9);
  }

  [yt-offset~="1/10m"],
  [yt-offset~="2/20m"] {
    margin-left: 10%;
  }

  [yt-offset~="3/10m"],
  [yt-offset~="6/20m"] {
    margin-left: 30%;
  }

  [yt-offset~="7/10m"],
  [yt-offset~="14/20m"] {
    margin-left: 70%;
  }

  [yt-offset~="9/10m"],
  [yt-offset~="18/20m"] {
    margin-left: 90%;
  }

  [yt-offset~="1/11m"],
  [yt-offset~="2/22m"] {
    margin-left: percentage(1/11);
  }

  [yt-offset~="2/11m"],
  [yt-offset~="4/22m"] {
    margin-left: percentage(2/11);
  }

  [yt-offset~="3/11m"],
  [yt-offset~="6/22m"] {
    margin-left: percentage(3/11);
  }

  [yt-offset~="4/11m"],
  [yt-offset~="8/22m"] {
    margin-left: percentage(4/11);
  }

  [yt-offset~="5/11m"],
  [yt-offset~="10/22m"] {
    margin-left: percentage(5/11);
  }

  [yt-offset~="6/11m"],
  [yt-offset~="12/22m"] {
    margin-left: percentage(6/11);
  }

  [yt-offset~="7/11m"],
  [yt-offset~="14/22m"] {
    margin-left: percentage(7/11);
  }

  [yt-offset~="8/11m"],
  [yt-offset~="16/22m"] {
    margin-left: percentage(8/11);
  }

  [yt-offset~="9/11m"],
  [yt-offset~="18/22m"] {
    margin-left: percentage(9/11);
  }

  [yt-offset~="10/11m"],
  [yt-offset~="20/22m"] {
    margin-left: percentage(10/11);
  }

  [yt-offset~="1/12m"],
  [yt-offset~="2/24m"] {
    margin-left: percentage(1/12);
  }

  [yt-offset~="5/12m"],
  [yt-offset~="10/24m"] {
    margin-left: percentage(5/12);
  }

  [yt-offset~="7/12m"],
  [yt-offset~="14/24m"] {
    margin-left: percentage(7/12);
  }

  [yt-offset~="11/12m"],
  [yt-offset~="22/24m"] {
    margin-left: percentage(1/12);
  }

  [yt-offset~="1/13m"] {
    margin-left: percentage(1/13);
  }

  [yt-offset~="2/13m"] {
    margin-left: percentage(2/13);
  }

  [yt-offset~="3/13m"] {
    margin-left: percentage(3/13);
  }

  [yt-offset~="4/13m"] {
    margin-left: percentage(4/13);
  }

  [yt-offset~="5/13m"] {
    margin-left: percentage(5/13);
  }

  [yt-offset~="6/13m"] {
    margin-left: percentage(6/13);
  }

  [yt-offset~="7/13m"] {
    margin-left: percentage(7/13);
  }

  [yt-offset~="8/13m"] {
    margin-left: percentage(8/13);
  }

  [yt-offset~="9/13m"] {
    margin-left: percentage(9/13);
  }

  [yt-offset~="10/13m"] {
    margin-left: percentage(10/13);
  }

  [yt-offset~="11/13m"] {
    margin-left: percentage(11/13);
  }

  [yt-offset~="12/13m"] {
    margin-left: percentage(12/13);
  }

  [yt-offset~="9/14m"] {
    margin-left: percentage(9/14);
  }

  [yt-offset~="11/14m"] {
    margin-left: percentage(11/14);
  }

  [yt-offset~="13/14m"] {
    margin-left: percentage(13/14);
  }

  [yt-offset~="1/15m"] {
    margin-left: percentage(1/15);
  }

  [yt-offset~="2/15m"] {
    margin-left: percentage(2/15);
  }

  [yt-offset~="4/15m"] {
    margin-left: percentage(4/15);
  }

  [yt-offset~="6/15m"] {
    margin-left: percentage(6/15);
  }

  [yt-offset~="7/15m"] {
    margin-left: percentage(7/15);
  }

  [yt-offset~="8/15m"] {
    margin-left: percentage(8/15);
  }

  [yt-offset~="11/15m"] {
    margin-left: percentage(11/15);
  }

  [yt-offset~="13/15m"] {
    margin-left: percentage(13/15);
  }

  [yt-offset~="14/15m"] {
    margin-left: percentage(14/15);
  }

  [yt-offset~="1/16m"] {
    margin-left: percentage(1/16);
  }

  [yt-offset~="3/16m"] {
    margin-left: percentage(3/16);
  }

  [yt-offset~="5/16m"] {
    margin-left: percentage(5/16);
  }

  [yt-offset~="7/16m"] {
    margin-left: percentage(7/16);
  }

  [yt-offset~="9/16m"] {
    margin-left: percentage(9/16);
  }

  [yt-offset~="11/16m"] {
    margin-left: percentage(11/16);
  }

  [yt-offset~="13/16m"] {
    margin-left: percentage(13/16);
  }

  [yt-offset~="15/16m"] {
    margin-left: percentage(15/16);
  }

  [yt-offset~="1/17m"] {
    margin-left: percentage(1/17);
  }

  [yt-offset~="2/17m"] {
    margin-left: percentage(2/17);
  }

  [yt-offset~="3/17m"] {
    margin-left: percentage(3/17);
  }

  [yt-offset~="4/17m"] {
    margin-left: percentage(4/17);
  }

  [yt-offset~="5/17m"] {
    margin-left: percentage(5/17);
  }

  [yt-offset~="6/17m"] {
    margin-left: percentage(6/17);
  }

  [yt-offset~="7/17m"] {
    margin-left: percentage(7/17);
  }

  [yt-offset~="8/17m"] {
    margin-left: percentage(8/17);
  }

  [yt-offset~="9/17m"] {
    margin-left: percentage(9/17);
  }

  [yt-offset~="10/17m"] {
    margin-left: percentage(10/17);
  }

  [yt-offset~="11/17m"] {
    margin-left: percentage(11/17);
  }

  [yt-offset~="12/17m"] {
    margin-left: percentage(12/17);
  }

  [yt-offset~="13/17m"] {
    margin-left: percentage(13/17);
  }

  [yt-offset~="14/17m"] {
    margin-left: percentage(14/17);
  }

  [yt-offset~="15/17m"] {
    margin-left: percentage(15/17);
  }

  [yt-offset~="16/17m"] {
    margin-left: percentage(16/17);
  }

  [yt-offset~="1/18m"] {
    margin-left: percentage(1/18);
  }

  [yt-offset~="3/18m"] {
    margin-left: percentage(3/18);
  }

  [yt-offset~="5/18m"] {
    margin-left: percentage(5/18);
  }

  [yt-offset~="7/18m"] {
    margin-left: percentage(7/18);
  }

  [yt-offset~="11/18m"] {
    margin-left: percentage(11/18);
  }

  [yt-offset~="13/18m"] {
    margin-left: percentage(13/18);
  }

  [yt-offset~="15/18m"] {
    margin-left: percentage(15/18);
  }

  [yt-offset~="17/18m"] {
    margin-left: percentage(17/18);
  }

  [yt-offset~="1/19m"] {
    margin-left: percentage(1/19);
  }

  [yt-offset~="2/19m"] {
    margin-left: percentage(2/19);
  }

  [yt-offset~="3/19m"] {
    margin-left: percentage(3/19);
  }

  [yt-offset~="4/19m"] {
    margin-left: percentage(4/19);
  }

  [yt-offset~="5/19m"] {
    margin-left: percentage(5/19);
  }

  [yt-offset~="6/19m"] {
    margin-left: percentage(6/19);
  }

  [yt-offset~="7/19m"] {
    margin-left: percentage(7/19);
  }

  [yt-offset~="8/19m"] {
    margin-left: percentage(8/19);
  }

  [yt-offset~="9/19m"] {
    margin-left: percentage(9/19);
  }

  [yt-offset~="10/19m"] {
    margin-left: percentage(10/19);
  }

  [yt-offset~="11/19m"] {
    margin-left: percentage(11/19);
  }

  [yt-offset~="12/19m"] {
    margin-left: percentage(12/19);
  }

  [yt-offset~="13/19m"] {
    margin-left: percentage(13/19);
  }

  [yt-offset~="14/19m"] {
    margin-left: percentage(14/19);
  }

  [yt-offset~="15/19m"] {
    margin-left: percentage(15/19);
  }

  [yt-offset~="16/19m"] {
    margin-left: percentage(16/19);
  }

  [yt-offset~="17/19m"] {
    margin-left: percentage(17/19);
  }

  [yt-offset~="18/19m"] {
    margin-left: percentage(18/19);
  }

  [yt-offset~="1/20m"] {
    margin-left: percentage(1/20);
  }

  [yt-offset~="3/20m"] {
    margin-left: percentage(3/20);
  }

  [yt-offset~="7/20m"] {
    margin-left: percentage(7/20);
  }

  [yt-offset~="9/20m"] {
    margin-left: percentage(9/20);
  }

  [yt-offset~="11/20m"] {
    margin-left: percentage(11/20);
  }

  [yt-offset~="13/20m"] {
    margin-left: percentage(13/20);
  }

  [yt-offset~="17/20m"] {
    margin-left: percentage(17/20);
  }

  [yt-offset~="19/20m"] {
    margin-left: percentage(19/20);
  }

  [yt-offset~="1/21m"] {
    margin-left: percentage(1/21);
  }

  [yt-offset~="2/21m"] {
    margin-left: percentage(2/21);
  }

  [yt-offset~="4/21m"] {
    margin-left: percentage(4/21);
  }

  [yt-offset~="5/21m"] {
    margin-left: percentage(5/21);
  }

  [yt-offset~="6/21m"] {
    margin-left: percentage(6/21);
  }

  [yt-offset~="8/21m"] {
    margin-left: percentage(8/21);
  }

  [yt-offset~="10/21m"] {
    margin-left: percentage(10/21);
  }

  [yt-offset~="11/21m"] {
    margin-left: percentage(11/21);
  }

  [yt-offset~="13/21m"] {
    margin-left: percentage(13/21);
  }

  [yt-offset~="16/21m"] {
    margin-left: percentage(16/21);
  }

  [yt-offset~="17/21m"] {
    margin-left: percentage(17/21);
  }

  [yt-offset~="19/21m"] {
    margin-left: percentage(19/21);
  }

  [yt-offset~="20/21m"] {
    margin-left: percentage(20/21);
  }

  [yt-offset~="1/22m"] {
    margin-left: percentage(1/22);
  }

  [yt-offset~="3/22m"] {
    margin-left: percentage(3/22);
  }

  [yt-offset~="5/22m"] {
    margin-left: percentage(5/22);
  }

  [yt-offset~="7/22m"] {
    margin-left: percentage(7/22);
  }

  [yt-offset~="9/22m"] {
    margin-left: percentage(9/22);
  }

  [yt-offset~="13/22m"] {
    margin-left: percentage(13/22);
  }

  [yt-offset~="15/22m"] {
    margin-left: percentage(15/22);
  }

  [yt-offset~="17/22m"] {
    margin-left: percentage(17/22);
  }

  [yt-offset~="19/22m"] {
    margin-left: percentage(19/22);
  }

  [yt-offset~="21/22m"] {
    margin-left: percentage(21/22);
  }

  [yt-offset~="1/23m"] {
    margin-left: percentage(1/23);
  }

  [yt-offset~="2/23m"] {
    margin-left: percentage(2/23);
  }

  [yt-offset~="3/23m"] {
    margin-left: percentage(3/23);
  }

  [yt-offset~="4/23m"] {
    margin-left: percentage(4/23);
  }

  [yt-offset~="5/23m"] {
    margin-left: percentage(5/23);
  }

  [yt-offset~="6/23m"] {
    margin-left: percentage(6/23);
  }

  [yt-offset~="7/23m"] {
    margin-left: percentage(7/23);
  }

  [yt-offset~="8/23m"] {
    margin-left: percentage(8/23);
  }

  [yt-offset~="9/23m"] {
    margin-left: percentage(9/23);
  }

  [yt-offset~="10/23m"] {
    margin-left: percentage(10/23);
  }

  [yt-offset~="11/23m"] {
    margin-left: percentage(11/23);
  }

  [yt-offset~="12/23m"] {
    margin-left: percentage(12/23);
  }

  [yt-offset~="13/23m"] {
    margin-left: percentage(13/23);
  }

  [yt-offset~="14/23m"] {
    margin-left: percentage(14/23);
  }

  [yt-offset~="15/23m"] {
    margin-left: percentage(15/23);
  }

  [yt-offset~="16/23m"] {
    margin-left: percentage(16/23);
  }

  [yt-offset~="17/23m"] {
    margin-left: percentage(17/23);
  }

  [yt-offset~="18/23m"] {
    margin-left: percentage(18/23);
  }

  [yt-offset~="19/23m"] {
    margin-left: percentage(19/23);
  }

  [yt-offset~="20/23m"] {
    margin-left: percentage(20/23);
  }

  [yt-offset~="21/23m"] {
    margin-left: percentage(21/23);
  }

  [yt-offset~="22/23m"] {
    margin-left: percentage(22/23);
  }

  [yt-offset~="1/24m"] {
    margin-left: percentage(1/24);
  }

  [yt-offset~="5/24m"] {
    margin-left: percentage(5/24);
  }

  [yt-offset~="7/24m"] {
    margin-left: percentage(7/24);
  }

  [yt-offset~="11/24m"] {
    margin-left: percentage(11/24);
  }

  [yt-offset~="13/24m"] {
    margin-left: percentage(13/24);
  }

  [yt-offset~="17/24m"] {
    margin-left: percentage(17/24);
  }

  [yt-offset~="19/24m"] {
    margin-left: percentage(19/24);
  }

  [yt-offset~="23/24m"] {
    margin-left: percentage(23/24);
  }

}



// Offset: Large ~ these will be applied on anything less than $large-screen
// ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

@include responsive-break-point($large-screen) {

  [yt-offset~="1/2l"],
  [yt-offset~="2/4l"],
  [yt-offset~="3/6l"],
  [yt-offset~="4/8l"],
  [yt-offset~="5/10l"],
  [yt-offset~="6/12l"],
  [yt-offset~="7/14l"],
  [yt-offset~="8/16l"],
  [yt-offset~="9/18l"],
  [yt-offset~="10/20l"],
  [yt-offset~="11/22l"],
  [yt-offset~="12/24l"] {
    margin-left: 50%;
  }

  [yt-offset~="1/3l"],
  [yt-offset~="2/6l"],
  [yt-offset~="3/9l"],
  [yt-offset~="4/12l"],
  [yt-offset~="5/15l"],
  [yt-offset~="6/18l"],
  [yt-offset~="7/21l"],
  [yt-offset~="8/24l"] {
    margin-left: percentage(1/3);
  }

  [yt-offset~="2/3l"],
  [yt-offset~="4/6l"],
  [yt-offset~="6/9l"],
  [yt-offset~="8/12l"],
  [yt-offset~="10/15l"],
  [yt-offset~="12/18l"],
  [yt-offset~="14/21l"],
  [yt-offset~="16/24l"] {
    margin-left: percentage(2/3);
  }

  [yt-offset~="1/4l"],
  [yt-offset~="2/8l"],
  [yt-offset~="3/12l"],
  [yt-offset~="4/16l"],
  [yt-offset~="5/20l"],
  [yt-offset~="6/24l"] {
    margin-left: 25%;
  }

  [yt-offset~="3/4l"],
  [yt-offset~="6/8l"],
  [yt-offset~="9/12l"],
  [yt-offset~="12/16l"],
  [yt-offset~="15/20l"],
  [yt-offset~="18/24l"] {
    margin-left: 75%;
  }

  [yt-offset~="1/5l"],
  [yt-offset~="2/10l"],
  [yt-offset~="5/20l"] {
    margin-left: 20%;
  }

  [yt-offset~="2/5l"],
  [yt-offset~="4/10l"],
  [yt-offset~="8/20l"] {
    margin-left: 40%;
  }

  [yt-offset~="3/5l"],
  [yt-offset~="6/10l"],
  [yt-offset~="12/20l"] {
    margin-left: 60%;
  }

  [yt-offset~="4/5l"],
  [yt-offset~="8/10l"],
  [yt-offset~="16/20l"] {
    margin-left: 80%;
  }

  [yt-offset~="1/6l"],
  [yt-offset~="2/12l"],
  [yt-offset~="3/24l"] {
    margin-left: percentage(1/6);
  }

  [yt-offset~="5/6l"],
  [yt-offset~="10/12l"],
  [yt-offset~="20/24l"] {
    margin-left: percentage(5/6);
  }

  [yt-offset~="1/7l"],
  [yt-offset~="2/14l"] {
    margin-left: percentage(1/7);
  }

  [yt-offset~="2/7l"],
  [yt-offset~="4/14l"] {
    margin-left: percentage(2/7);
  }

  [yt-offset~="3/7l"],
  [yt-offset~="6/14l"],
  [yt-offset~="9/21l"] {
    margin-left: percentage(3/7);
  }

  [yt-offset~="4/7l"],
  [yt-offset~="8/14l"],
  [yt-offset~="12/21l"] {
    margin-left: percentage(4/7);
  }

  [yt-offset~="5/7l"],
  [yt-offset~="10/14l"] {
    margin-left: percentage(5/7);
  }

  [yt-offset~="6/7l"],
  [yt-offset~="12/14l"],
  [yt-offset~="18/21l"] {
    margin-left: percentage(6/7);
  }

  [yt-offset~="1/8l"],
  [yt-offset~="2/16l"],
  [yt-offset~="3/24l"] {
    margin-left: 12.5%;
  }

  [yt-offset~="3/8l"],
  [yt-offset~="6/16l"],
  [yt-offset~="9/24l"] {
    margin-left: 37.5%;
  }

  [yt-offset~="5/8l"],
  [yt-offset~="10/16l"],
  [yt-offset~="15/24l"] {
    margin-left: 62.5%;
  }

  [yt-offset~="7/8l"],
  [yt-offset~="14/16l"],
  [yt-offset~="21/24l"] {
    margin-left: 87.5%;
  }

  [yt-offset~="1/9l"],
  [yt-offset~="2/18l"] {
    margin-left: percentage(1/9);
  }

  [yt-offset~="2/9l"],
  [yt-offset~="4/18l"] {
    margin-left: percentage(2/9);
  }

  [yt-offset~="4/9l"],
  [yt-offset~="8/18l"] {
    margin-left: percentage(4/9);
  }

  [yt-offset~="5/9l"],
  [yt-offset~="10/18l"] {
    margin-left: percentage(5/9);
  }

  [yt-offset~="7/9l"],
  [yt-offset~="14/18l"] {
    margin-left: percentage(7/9);
  }

  [yt-offset~="8/9l"],
  [yt-offset~="16/18l"] {
    margin-left: percentage(8/9);
  }

  [yt-offset~="1/10l"],
  [yt-offset~="2/20l"] {
    margin-left: 10%;
  }

  [yt-offset~="3/10l"],
  [yt-offset~="6/20l"] {
    margin-left: 30%;
  }

  [yt-offset~="7/10l"],
  [yt-offset~="14/20l"] {
    margin-left: 70%;
  }

  [yt-offset~="9/10l"],
  [yt-offset~="18/20l"] {
    margin-left: 90%;
  }

  [yt-offset~="1/11l"],
  [yt-offset~="2/22l"] {
    margin-left: percentage(1/11);
  }

  [yt-offset~="2/11l"],
  [yt-offset~="4/22l"] {
    margin-left: percentage(2/11);
  }

  [yt-offset~="3/11l"],
  [yt-offset~="6/22l"] {
    margin-left: percentage(3/11);
  }

  [yt-offset~="4/11l"],
  [yt-offset~="8/22l"] {
    margin-left: percentage(4/11);
  }

  [yt-offset~="5/11l"],
  [yt-offset~="10/22l"] {
    margin-left: percentage(5/11);
  }

  [yt-offset~="6/11l"],
  [yt-offset~="12/22l"] {
    margin-left: percentage(6/11);
  }

  [yt-offset~="7/11l"],
  [yt-offset~="14/22l"] {
    margin-left: percentage(7/11);
  }

  [yt-offset~="8/11l"],
  [yt-offset~="16/22l"] {
    margin-left: percentage(8/11);
  }

  [yt-offset~="9/11l"],
  [yt-offset~="18/22l"] {
    margin-left: percentage(9/11);
  }

  [yt-offset~="10/11l"],
  [yt-offset~="20/22l"] {
    margin-left: percentage(10/11);
  }

  [yt-offset~="1/12l"],
  [yt-offset~="2/24l"] {
    margin-left: percentage(1/12);
  }

  [yt-offset~="5/12l"],
  [yt-offset~="10/24l"] {
    margin-left: percentage(5/12);
  }

  [yt-offset~="7/12l"],
  [yt-offset~="14/24l"] {
    margin-left: percentage(7/12);
  }

  [yt-offset~="11/12l"],
  [yt-offset~="22/24l"] {
    margin-left: percentage(1/12);
  }

  [yt-offset~="1/13l"] {
    margin-left: percentage(1/13);
  }

  [yt-offset~="2/13l"] {
    margin-left: percentage(2/13);
  }

  [yt-offset~="3/13l"] {
    margin-left: percentage(3/13);
  }

  [yt-offset~="4/13l"] {
    margin-left: percentage(4/13);
  }

  [yt-offset~="5/13l"] {
    margin-left: percentage(5/13);
  }

  [yt-offset~="6/13l"] {
    margin-left: percentage(6/13);
  }

  [yt-offset~="7/13l"] {
    margin-left: percentage(7/13);
  }

  [yt-offset~="8/13l"] {
    margin-left: percentage(8/13);
  }

  [yt-offset~="9/13l"] {
    margin-left: percentage(9/13);
  }

  [yt-offset~="10/13l"] {
    margin-left: percentage(10/13);
  }

  [yt-offset~="11/13l"] {
    margin-left: percentage(11/13);
  }

  [yt-offset~="12/13l"] {
    margin-left: percentage(12/13);
  }

  [yt-offset~="9/14l"] {
    margin-left: percentage(9/14);
  }

  [yt-offset~="11/14l"] {
    margin-left: percentage(11/14);
  }

  [yt-offset~="13/14l"] {
    margin-left: percentage(13/14);
  }

  [yt-offset~="1/15l"] {
    margin-left: percentage(1/15);
  }

  [yt-offset~="2/15l"] {
    margin-left: percentage(2/15);
  }

  [yt-offset~="4/15l"] {
    margin-left: percentage(4/15);
  }

  [yt-offset~="6/15l"] {
    margin-left: percentage(6/15);
  }

  [yt-offset~="7/15l"] {
    margin-left: percentage(7/15);
  }

  [yt-offset~="8/15l"] {
    margin-left: percentage(8/15);
  }

  [yt-offset~="11/15l"] {
    margin-left: percentage(11/15);
  }

  [yt-offset~="13/15l"] {
    margin-left: percentage(13/15);
  }

  [yt-offset~="14/15l"] {
    margin-left: percentage(14/15);
  }

  [yt-offset~="1/16l"] {
    margin-left: percentage(1/16);
  }

  [yt-offset~="3/16l"] {
    margin-left: percentage(3/16);
  }

  [yt-offset~="5/16l"] {
    margin-left: percentage(5/16);
  }

  [yt-offset~="7/16l"] {
    margin-left: percentage(7/16);
  }

  [yt-offset~="9/16l"] {
    margin-left: percentage(9/16);
  }

  [yt-offset~="11/16l"] {
    margin-left: percentage(11/16);
  }

  [yt-offset~="13/16l"] {
    margin-left: percentage(13/16);
  }

  [yt-offset~="15/16l"] {
    margin-left: percentage(15/16);
  }

  [yt-offset~="1/17l"] {
    margin-left: percentage(1/17);
  }

  [yt-offset~="2/17l"] {
    margin-left: percentage(2/17);
  }

  [yt-offset~="3/17l"] {
    margin-left: percentage(3/17);
  }

  [yt-offset~="4/17l"] {
    margin-left: percentage(4/17);
  }

  [yt-offset~="5/17l"] {
    margin-left: percentage(5/17);
  }

  [yt-offset~="6/17l"] {
    margin-left: percentage(6/17);
  }

  [yt-offset~="7/17l"] {
    margin-left: percentage(7/17);
  }

  [yt-offset~="8/17l"] {
    margin-left: percentage(8/17);
  }

  [yt-offset~="9/17l"] {
    margin-left: percentage(9/17);
  }

  [yt-offset~="10/17l"] {
    margin-left: percentage(10/17);
  }

  [yt-offset~="11/17l"] {
    margin-left: percentage(11/17);
  }

  [yt-offset~="12/17l"] {
    margin-left: percentage(12/17);
  }

  [yt-offset~="13/17l"] {
    margin-left: percentage(13/17);
  }

  [yt-offset~="14/17l"] {
    margin-left: percentage(14/17);
  }

  [yt-offset~="15/17l"] {
    margin-left: percentage(15/17);
  }

  [yt-offset~="16/17l"] {
    margin-left: percentage(16/17);
  }

  [yt-offset~="1/18l"] {
    margin-left: percentage(1/18);
  }

  [yt-offset~="3/18l"] {
    margin-left: percentage(3/18);
  }

  [yt-offset~="5/18l"] {
    margin-left: percentage(5/18);
  }

  [yt-offset~="7/18l"] {
    margin-left: percentage(7/18);
  }

  [yt-offset~="11/18l"] {
    margin-left: percentage(11/18);
  }

  [yt-offset~="13/18l"] {
    margin-left: percentage(13/18);
  }

  [yt-offset~="15/18l"] {
    margin-left: percentage(15/18);
  }

  [yt-offset~="17/18l"] {
    margin-left: percentage(17/18);
  }

  [yt-offset~="1/19l"] {
    margin-left: percentage(1/19);
  }

  [yt-offset~="2/19l"] {
    margin-left: percentage(2/19);
  }

  [yt-offset~="3/19l"] {
    margin-left: percentage(3/19);
  }

  [yt-offset~="4/19l"] {
    margin-left: percentage(4/19);
  }

  [yt-offset~="5/19l"] {
    margin-left: percentage(5/19);
  }

  [yt-offset~="6/19l"] {
    margin-left: percentage(6/19);
  }

  [yt-offset~="7/19l"] {
    margin-left: percentage(7/19);
  }

  [yt-offset~="8/19l"] {
    margin-left: percentage(8/19);
  }

  [yt-offset~="9/19l"] {
    margin-left: percentage(9/19);
  }

  [yt-offset~="10/19l"] {
    margin-left: percentage(10/19);
  }

  [yt-offset~="11/19l"] {
    margin-left: percentage(11/19);
  }

  [yt-offset~="12/19l"] {
    margin-left: percentage(12/19);
  }

  [yt-offset~="13/19l"] {
    margin-left: percentage(13/19);
  }

  [yt-offset~="14/19l"] {
    margin-left: percentage(14/19);
  }

  [yt-offset~="15/19l"] {
    margin-left: percentage(15/19);
  }

  [yt-offset~="16/19l"] {
    margin-left: percentage(16/19);
  }

  [yt-offset~="17/19l"] {
    margin-left: percentage(17/19);
  }

  [yt-offset~="18/19l"] {
    margin-left: percentage(18/19);
  }

  [yt-offset~="1/20l"] {
    margin-left: percentage(1/20);
  }

  [yt-offset~="3/20l"] {
    margin-left: percentage(3/20);
  }

  [yt-offset~="7/20l"] {
    margin-left: percentage(7/20);
  }

  [yt-offset~="9/20l"] {
    margin-left: percentage(9/20);
  }

  [yt-offset~="11/20l"] {
    margin-left: percentage(11/20);
  }

  [yt-offset~="13/20l"] {
    margin-left: percentage(13/20);
  }

  [yt-offset~="17/20l"] {
    margin-left: percentage(17/20);
  }

  [yt-offset~="19/20l"] {
    margin-left: percentage(19/20);
  }

  [yt-offset~="1/21l"] {
    margin-left: percentage(1/21);
  }

  [yt-offset~="2/21l"] {
    margin-left: percentage(2/21);
  }

  [yt-offset~="4/21l"] {
    margin-left: percentage(4/21);
  }

  [yt-offset~="5/21l"] {
    margin-left: percentage(5/21);
  }

  [yt-offset~="6/21l"] {
    margin-left: percentage(6/21);
  }

  [yt-offset~="8/21l"] {
    margin-left: percentage(8/21);
  }

  [yt-offset~="10/21l"] {
    margin-left: percentage(10/21);
  }

  [yt-offset~="11/21l"] {
    margin-left: percentage(11/21);
  }

  [yt-offset~="13/21l"] {
    margin-left: percentage(13/21);
  }

  [yt-offset~="16/21l"] {
    margin-left: percentage(16/21);
  }

  [yt-offset~="17/21l"] {
    margin-left: percentage(17/21);
  }

  [yt-offset~="19/21l"] {
    margin-left: percentage(19/21);
  }

  [yt-offset~="20/21l"] {
    margin-left: percentage(20/21);
  }

  [yt-offset~="1/22l"] {
    margin-left: percentage(1/22);
  }

  [yt-offset~="3/22l"] {
    margin-left: percentage(3/22);
  }

  [yt-offset~="5/22l"] {
    margin-left: percentage(5/22);
  }

  [yt-offset~="7/22l"] {
    margin-left: percentage(7/22);
  }

  [yt-offset~="9/22l"] {
    margin-left: percentage(9/22);
  }

  [yt-offset~="13/22l"] {
    margin-left: percentage(13/22);
  }

  [yt-offset~="15/22l"] {
    margin-left: percentage(15/22);
  }

  [yt-offset~="17/22l"] {
    margin-left: percentage(17/22);
  }

  [yt-offset~="19/22l"] {
    margin-left: percentage(19/22);
  }

  [yt-offset~="21/22l"] {
    margin-left: percentage(21/22);
  }

  [yt-offset~="1/23l"] {
    margin-left: percentage(1/23);
  }

  [yt-offset~="2/23l"] {
    margin-left: percentage(2/23);
  }

  [yt-offset~="3/23l"] {
    margin-left: percentage(3/23);
  }

  [yt-offset~="4/23l"] {
    margin-left: percentage(4/23);
  }

  [yt-offset~="5/23l"] {
    margin-left: percentage(5/23);
  }

  [yt-offset~="6/23l"] {
    margin-left: percentage(6/23);
  }

  [yt-offset~="7/23l"] {
    margin-left: percentage(7/23);
  }

  [yt-offset~="8/23l"] {
    margin-left: percentage(8/23);
  }

  [yt-offset~="9/23l"] {
    margin-left: percentage(9/23);
  }

  [yt-offset~="10/23l"] {
    margin-left: percentage(10/23);
  }

  [yt-offset~="11/23l"] {
    margin-left: percentage(11/23);
  }

  [yt-offset~="12/23l"] {
    margin-left: percentage(12/23);
  }

  [yt-offset~="13/23l"] {
    margin-left: percentage(13/23);
  }

  [yt-offset~="14/23l"] {
    margin-left: percentage(14/23);
  }

  [yt-offset~="15/23l"] {
    margin-left: percentage(15/23);
  }

  [yt-offset~="16/23l"] {
    margin-left: percentage(16/23);
  }

  [yt-offset~="17/23l"] {
    margin-left: percentage(17/23);
  }

  [yt-offset~="18/23l"] {
    margin-left: percentage(18/23);
  }

  [yt-offset~="19/23l"] {
    margin-left: percentage(19/23);
  }

  [yt-offset~="20/23l"] {
    margin-left: percentage(20/23);
  }

  [yt-offset~="21/23l"] {
    margin-left: percentage(21/23);
  }

  [yt-offset~="22/23l"] {
    margin-left: percentage(22/23);
  }

  [yt-offset~="1/24l"] {
    margin-left: percentage(1/24);
  }

  [yt-offset~="5/24l"] {
    margin-left: percentage(5/24);
  }

  [yt-offset~="7/24l"] {
    margin-left: percentage(7/24);
  }

  [yt-offset~="11/24l"] {
    margin-left: percentage(11/24);
  }

  [yt-offset~="13/24l"] {
    margin-left: percentage(13/24);
  }

  [yt-offset~="17/24l"] {
    margin-left: percentage(17/24);
  }

  [yt-offset~="19/24l"] {
    margin-left: percentage(19/24);
  }

  [yt-offset~="23/24l"] {
    margin-left: percentage(23/24);
  }

}

