
[yt-offset~="1/2"],
[yt-offset~="2/4"],
[yt-offset~="3/6"],
[yt-offset~="4/8"],
[yt-offset~="5/10"],
[yt-offset~="6/12"],
[yt-offset~="7/14"],
[yt-offset~="8/16"],
[yt-offset~="9/18"],
[yt-offset~="10/20"],
[yt-offset~="11/22"],
[yt-offset~="12/24"] {
  margin-left: 50%;
}

[yt-offset~="1/3"],
[yt-offset~="2/6"],
[yt-offset~="3/9"],
[yt-offset~="4/12"],
[yt-offset~="5/15"],
[yt-offset~="6/18"],
[yt-offset~="7/21"],
[yt-offset~="8/24"] {
  margin-left: percentage(1/3);
}

[yt-offset~="2/3"],
[yt-offset~="4/6"],
[yt-offset~="6/9"],
[yt-offset~="8/12"],
[yt-offset~="10/15"],
[yt-offset~="12/18"],
[yt-offset~="14/21"],
[yt-offset~="16/24"] {
  margin-left: percentage(2/3);
}

[yt-offset~="1/4"],
[yt-offset~="2/8"],
[yt-offset~="3/12"],
[yt-offset~="4/16"],
[yt-offset~="5/20"],
[yt-offset~="6/24"] {
  margin-left: 25%;
}

[yt-offset~="3/4"],
[yt-offset~="6/8"],
[yt-offset~="9/12"],
[yt-offset~="12/16"],
[yt-offset~="15/20"],
[yt-offset~="18/24"] {
  margin-left: 75%;
}

[yt-offset~="1/5"],
[yt-offset~="2/10"],
[yt-offset~="5/20"] {
  margin-left: 20%;
}

[yt-offset~="2/5"],
[yt-offset~="4/10"],
[yt-offset~="8/20"] {
  margin-left: 40%;
}

[yt-offset~="3/5"],
[yt-offset~="6/10"],
[yt-offset~="12/20"] {
  margin-left: 60%;
}

[yt-offset~="4/5"],
[yt-offset~="8/10"],
[yt-offset~="16/20"] {
  margin-left: 80%;
}

[yt-offset~="1/6"],
[yt-offset~="2/12"],
[yt-offset~="3/24"] {
  margin-left: percentage(1/6);
}

[yt-offset~="5/6"],
[yt-offset~="10/12"],
[yt-offset~="20/24"] {
  margin-left: percentage(5/6);
}

[yt-offset~="1/7"],
[yt-offset~="2/14"] {
  margin-left: percentage(1/7);
}

[yt-offset~="2/7"],
[yt-offset~="4/14"] {
  margin-left: percentage(2/7);
}

[yt-offset~="3/7"],
[yt-offset~="6/14"],
[yt-offset~="9/21"] {
  margin-left: percentage(3/7);
}

[yt-offset~="4/7"],
[yt-offset~="8/14"],
[yt-offset~="12/21"] {
  margin-left: percentage(4/7);
}

[yt-offset~="5/7"],
[yt-offset~="10/14"] {
  margin-left: percentage(5/7);
}

[yt-offset~="6/7"],
[yt-offset~="12/14"],
[yt-offset~="18/21"] {
  margin-left: percentage(6/7);
}

[yt-offset~="1/8"],
[yt-offset~="2/16"],
[yt-offset~="3/24"] {
  margin-left: 12.5%;
}

[yt-offset~="3/8"],
[yt-offset~="6/16"],
[yt-offset~="9/24"] {
  margin-left: 37.5%;
}

[yt-offset~="5/8"],
[yt-offset~="10/16"],
[yt-offset~="15/24"] {
  margin-left: 62.5%;
}

[yt-offset~="7/8"],
[yt-offset~="14/16"],
[yt-offset~="21/24"] {
  margin-left: 87.5%;
}

[yt-offset~="1/9"],
[yt-offset~="2/18"] {
  margin-left: percentage(1/9);
}

[yt-offset~="2/9"],
[yt-offset~="4/18"] {
  margin-left: percentage(2/9);
}

[yt-offset~="4/9"],
[yt-offset~="8/18"] {
  margin-left: percentage(4/9);
}

[yt-offset~="5/9"],
[yt-offset~="10/18"] {
  margin-left: percentage(5/9);
}

[yt-offset~="7/9"],
[yt-offset~="14/18"] {
  margin-left: percentage(7/9);
}

[yt-offset~="8/9"],
[yt-offset~="16/18"] {
  margin-left: percentage(8/9);
}

[yt-offset~="1/10"],
[yt-offset~="2/20"] {
  margin-left: 10%;
}

[yt-offset~="3/10"],
[yt-offset~="6/20"] {
  margin-left: 30%;
}

[yt-offset~="7/10"],
[yt-offset~="14/20"] {
  margin-left: 70%;
}

[yt-offset~="9/10"],
[yt-offset~="18/20"] {
  margin-left: 90%;
}

[yt-offset~="1/11"],
[yt-offset~="2/22"] {
  margin-left: percentage(1/11);
}

[yt-offset~="2/11"],
[yt-offset~="4/22"] {
  margin-left: percentage(2/11);
}

[yt-offset~="3/11"],
[yt-offset~="6/22"] {
  margin-left: percentage(3/11);
}

[yt-offset~="4/11"],
[yt-offset~="8/22"] {
  margin-left: percentage(4/11);
}

[yt-offset~="5/11"],
[yt-offset~="10/22"] {
  margin-left: percentage(5/11);
}

[yt-offset~="6/11"],
[yt-offset~="12/22"] {
  margin-left: percentage(6/11);
}

[yt-offset~="7/11"],
[yt-offset~="14/22"] {
  margin-left: percentage(7/11);
}

[yt-offset~="8/11"],
[yt-offset~="16/22"] {
  margin-left: percentage(8/11);
}

[yt-offset~="9/11"],
[yt-offset~="18/22"] {
  margin-left: percentage(9/11);
}

[yt-offset~="10/11"],
[yt-offset~="20/22"] {
  margin-left: percentage(10/11);
}

[yt-offset~="1/12"],
[yt-offset~="2/24"] {
  margin-left: percentage(1/12);
}

[yt-offset~="5/12"],
[yt-offset~="10/24"] {
  margin-left: percentage(5/12);
}

[yt-offset~="7/12"],
[yt-offset~="14/24"] {
  margin-left: percentage(7/12);
}

[yt-offset~="11/12"],
[yt-offset~="22/24"] {
  margin-left: percentage(1/12);
}

[yt-offset~="1/13"] {
  margin-left: percentage(1/13);
}

[yt-offset~="2/13"] {
  margin-left: percentage(2/13);
}

[yt-offset~="3/13"] {
  margin-left: percentage(3/13);
}

[yt-offset~="4/13"] {
  margin-left: percentage(4/13);
}

[yt-offset~="5/13"] {
  margin-left: percentage(5/13);
}

[yt-offset~="6/13"] {
  margin-left: percentage(6/13);
}

[yt-offset~="7/13"] {
  margin-left: percentage(7/13);
}

[yt-offset~="8/13"] {
  margin-left: percentage(8/13);
}

[yt-offset~="9/13"] {
  margin-left: percentage(9/13);
}

[yt-offset~="10/13"] {
  margin-left: percentage(10/13);
}

[yt-offset~="11/13"] {
  margin-left: percentage(11/13);
}

[yt-offset~="12/13"] {
  margin-left: percentage(12/13);
}

[yt-offset~="9/14"] {
  margin-left: percentage(9/14);
}

[yt-offset~="11/14"] {
  margin-left: percentage(11/14);
}

[yt-offset~="13/14"] {
  margin-left: percentage(13/14);
}

[yt-offset~="1/15"] {
  margin-left: percentage(1/15);
}

[yt-offset~="2/15"] {
  margin-left: percentage(2/15);
}

[yt-offset~="4/15"] {
  margin-left: percentage(4/15);
}

[yt-offset~="6/15"] {
  margin-left: percentage(6/15);
}

[yt-offset~="7/15"] {
  margin-left: percentage(7/15);
}

[yt-offset~="8/15"] {
  margin-left: percentage(8/15);
}

[yt-offset~="11/15"] {
  margin-left: percentage(11/15);
}

[yt-offset~="13/15"] {
  margin-left: percentage(13/15);
}

[yt-offset~="14/15"] {
  margin-left: percentage(14/15);
}

[yt-offset~="1/16"] {
  margin-left: percentage(1/16);
}

[yt-offset~="3/16"] {
  margin-left: percentage(3/16);
}

[yt-offset~="5/16"] {
  margin-left: percentage(5/16);
}

[yt-offset~="7/16"] {
  margin-left: percentage(7/16);
}

[yt-offset~="9/16"] {
  margin-left: percentage(9/16);
}

[yt-offset~="11/16"] {
  margin-left: percentage(11/16);
}

[yt-offset~="13/16"] {
  margin-left: percentage(13/16);
}

[yt-offset~="15/16"] {
  margin-left: percentage(15/16);
}

[yt-offset~="1/17"] {
  margin-left: percentage(1/17);
}

[yt-offset~="2/17"] {
  margin-left: percentage(2/17);
}

[yt-offset~="3/17"] {
  margin-left: percentage(3/17);
}

[yt-offset~="4/17"] {
  margin-left: percentage(4/17);
}

[yt-offset~="5/17"] {
  margin-left: percentage(5/17);
}

[yt-offset~="6/17"] {
  margin-left: percentage(6/17);
}

[yt-offset~="7/17"] {
  margin-left: percentage(7/17);
}

[yt-offset~="8/17"] {
  margin-left: percentage(8/17);
}

[yt-offset~="9/17"] {
  margin-left: percentage(9/17);
}

[yt-offset~="10/17"] {
  margin-left: percentage(10/17);
}

[yt-offset~="11/17"] {
  margin-left: percentage(11/17);
}

[yt-offset~="12/17"] {
  margin-left: percentage(12/17);
}

[yt-offset~="13/17"] {
  margin-left: percentage(13/17);
}

[yt-offset~="14/17"] {
  margin-left: percentage(14/17);
}

[yt-offset~="15/17"] {
  margin-left: percentage(15/17);
}

[yt-offset~="16/17"] {
  margin-left: percentage(16/17);
}

[yt-offset~="1/18"] {
  margin-left: percentage(1/18);
}

[yt-offset~="3/18"] {
  margin-left: percentage(3/18);
}

[yt-offset~="5/18"] {
  margin-left: percentage(5/18);
}

[yt-offset~="7/18"] {
  margin-left: percentage(7/18);
}

[yt-offset~="11/18"] {
  margin-left: percentage(11/18);
}

[yt-offset~="13/18"] {
  margin-left: percentage(13/18);
}

[yt-offset~="15/18"] {
  margin-left: percentage(15/18);
}

[yt-offset~="17/18"] {
  margin-left: percentage(17/18);
}

[yt-offset~="1/19"] {
  margin-left: percentage(1/19);
}

[yt-offset~="2/19"] {
  margin-left: percentage(2/19);
}

[yt-offset~="3/19"] {
  margin-left: percentage(3/19);
}

[yt-offset~="4/19"] {
  margin-left: percentage(4/19);
}

[yt-offset~="5/19"] {
  margin-left: percentage(5/19);
}

[yt-offset~="6/19"] {
  margin-left: percentage(6/19);
}

[yt-offset~="7/19"] {
  margin-left: percentage(7/19);
}

[yt-offset~="8/19"] {
  margin-left: percentage(8/19);
}

[yt-offset~="9/19"] {
  margin-left: percentage(9/19);
}

[yt-offset~="10/19"] {
  margin-left: percentage(10/19);
}

[yt-offset~="11/19"] {
  margin-left: percentage(11/19);
}

[yt-offset~="12/19"] {
  margin-left: percentage(12/19);
}

[yt-offset~="13/19"] {
  margin-left: percentage(13/19);
}

[yt-offset~="14/19"] {
  margin-left: percentage(14/19);
}

[yt-offset~="15/19"] {
  margin-left: percentage(15/19);
}

[yt-offset~="16/19"] {
  margin-left: percentage(16/19);
}

[yt-offset~="17/19"] {
  margin-left: percentage(17/19);
}

[yt-offset~="18/19"] {
  margin-left: percentage(18/19);
}

[yt-offset~="1/20"] {
  margin-left: percentage(1/20);
}

[yt-offset~="3/20"] {
  margin-left: percentage(3/20);
}

[yt-offset~="7/20"] {
  margin-left: percentage(7/20);
}

[yt-offset~="9/20"] {
  margin-left: percentage(9/20);
}

[yt-offset~="11/20"] {
  margin-left: percentage(11/20);
}

[yt-offset~="13/20"] {
  margin-left: percentage(13/20);
}

[yt-offset~="17/20"] {
  margin-left: percentage(17/20);
}

[yt-offset~="19/20"] {
  margin-left: percentage(19/20);
}

[yt-offset~="1/21"] {
  margin-left: percentage(1/21);
}

[yt-offset~="2/21"] {
  margin-left: percentage(2/21);
}

[yt-offset~="4/21"] {
  margin-left: percentage(4/21);
}

[yt-offset~="5/21"] {
  margin-left: percentage(5/21);
}

[yt-offset~="6/21"] {
  margin-left: percentage(6/21);
}

[yt-offset~="8/21"] {
  margin-left: percentage(8/21);
}

[yt-offset~="10/21"] {
  margin-left: percentage(10/21);
}

[yt-offset~="11/21"] {
  margin-left: percentage(11/21);
}

[yt-offset~="13/21"] {
  margin-left: percentage(13/21);
}

[yt-offset~="16/21"] {
  margin-left: percentage(16/21);
}

[yt-offset~="17/21"] {
  margin-left: percentage(17/21);
}

[yt-offset~="19/21"] {
  margin-left: percentage(19/21);
}

[yt-offset~="20/21"] {
  margin-left: percentage(20/21);
}

[yt-offset~="1/22"] {
  margin-left: percentage(1/22);
}

[yt-offset~="3/22"] {
  margin-left: percentage(3/22);
}

[yt-offset~="5/22"] {
  margin-left: percentage(5/22);
}

[yt-offset~="7/22"] {
  margin-left: percentage(7/22);
}

[yt-offset~="9/22"] {
  margin-left: percentage(9/22);
}

[yt-offset~="13/22"] {
  margin-left: percentage(13/22);
}

[yt-offset~="15/22"] {
  margin-left: percentage(15/22);
}

[yt-offset~="17/22"] {
  margin-left: percentage(17/22);
}

[yt-offset~="19/22"] {
  margin-left: percentage(19/22);
}

[yt-offset~="21/22"] {
  margin-left: percentage(21/22);
}

[yt-offset~="1/23"] {
  margin-left: percentage(1/23);
}

[yt-offset~="2/23"] {
  margin-left: percentage(2/23);
}

[yt-offset~="3/23"] {
  margin-left: percentage(3/23);
}

[yt-offset~="4/23"] {
  margin-left: percentage(4/23);
}

[yt-offset~="5/23"] {
  margin-left: percentage(5/23);
}

[yt-offset~="6/23"] {
  margin-left: percentage(6/23);
}

[yt-offset~="7/23"] {
  margin-left: percentage(7/23);
}

[yt-offset~="8/23"] {
  margin-left: percentage(8/23);
}

[yt-offset~="9/23"] {
  margin-left: percentage(9/23);
}

[yt-offset~="10/23"] {
  margin-left: percentage(10/23);
}

[yt-offset~="11/23"] {
  margin-left: percentage(11/23);
}

[yt-offset~="12/23"] {
  margin-left: percentage(12/23);
}

[yt-offset~="13/23"] {
  margin-left: percentage(13/23);
}

[yt-offset~="14/23"] {
  margin-left: percentage(14/23);
}

[yt-offset~="15/23"] {
  margin-left: percentage(15/23);
}

[yt-offset~="16/23"] {
  margin-left: percentage(16/23);
}

[yt-offset~="17/23"] {
  margin-left: percentage(17/23);
}

[yt-offset~="18/23"] {
  margin-left: percentage(18/23);
}

[yt-offset~="19/23"] {
  margin-left: percentage(19/23);
}

[yt-offset~="20/23"] {
  margin-left: percentage(20/23);
}

[yt-offset~="21/23"] {
  margin-left: percentage(21/23);
}

[yt-offset~="22/23"] {
  margin-left: percentage(22/23);
}

[yt-offset~="1/24"] {
  margin-left: percentage(1/24);
}

[yt-offset~="5/24"] {
  margin-left: percentage(5/24);
}

[yt-offset~="7/24"] {
  margin-left: percentage(7/24);
}

[yt-offset~="11/24"] {
  margin-left: percentage(11/24);
}

[yt-offset~="13/24"] {
  margin-left: percentage(13/24);
}

[yt-offset~="17/24"] {
  margin-left: percentage(17/24);
}

[yt-offset~="19/24"] {
  margin-left: percentage(19/24);
}

[yt-offset~="23/24"] {
  margin-left: percentage(23/24);
}