
//- .topBar
//-   .content
//-     a.navLogo yote
//-     ul.navList.-horiz.u-pullRight
//-       li
//-         a(ui-sref="user.logout") Logout

.leftBar
  a.navLogo yote

section(yt-container)
  ui-view

footer
  .navBar
    .content
      a.navLogo yote
