
.topBar
  .content(yt-row="space-between center-vert")
    a.navLogo yote
    a.burger
      span
    ul.navList.-horiz
      li
        a(ui-sref="user.logout") Logout

//- .leftBar
//-   a.navLogo yote

//- .rightBar
//-   a.navLogo yote

section(yt-container)
  ui-view

footer
  .navBar
    .content
      a.navLogo yote
