//- try me 
//- .rightBar(ng-controller="NavCtrl") 
.leftBar(ng-controller="NavCtrl")
  .content.fixed.admin-menu(yt-row="space-between center-vert")
    a.navLogo(href="/") Yote
    h4 Site Resources 
    ul.navList.-vert

      li(ui-sref-active="active")  
        a(ui-sref="admin.style") Style Guide
      li(ui-sref-active="active")  
        a(ui-sref="admin.users") Users 

    ul.navList.-vert  
      li(ui-sref-active="active") 
        a(ui-sref="user.logout") Logout

//- try me 
//- section.main.with-rightbar(yt-container)
section.main.with-leftbar(yt-container)
  ui-view