//- try me
//- .rightBar(ng-controller="NavCtrl")
.leftBar(ng-controller="NavCtrl")
  .content
    a.navLogo(href="/") Yote
    ul
      li(ui-sref-active="active")
        a(ui-sref="admin.style") Style Guide
      li(ui-sref-active="active")
        a(ui-sref="admin.users") Users
      li(ui-sref-active="active")
        a(ui-sref="user.logout") Logout

//- try me
//- section.main.with-rightbar(yt-container)
section.main.with-leftbar(yt-container)
  ui-view
