.bottomBar
  .content(yt-row="space-between center-vert")
    a.navLogo(href="/") yote
    a.burger(ng-class="{active: openMenu}", ng-click="active=true")
      span
    ul.navList.-horiz
      li
        a(ui-sref="static.about") About
      li
        a(ui-sref="post.list") Blog
      li
        a(ui-sref="static.faq") FAQ
      li(ng-show="currentUser.username")
        a(ui-sref="user.profile") Profile
      li(ng-show="!currentUser.username")
        a(ui-sref="user.register") Register
      li(ng-show="!currentUser.username")
        a(ui-sref="user.login") Login
      li(ng-show="currentUser.username")
        a(ui-sref="user.logout") Logout

section.content
  ui-view
