.topBar(ng-controller="NavCtrl")
  .content(yt-row="space-between center-vert")
    a.navLogo(href="/") yote
    a.burger(ng-class="{active: openMenu}", ng-click="openMenu = !openMenu")
      span

    ul(ng-class="{animated: openMenu, bounceInDown: openMenu, openMenu: openMenu}")
      li
        a(ui-sref="static.about", ng-click="openMenu=false") About
      li
        a(ui-sref="post.list", ng-click="openMenu=false") Blog
      li
        a(ui-sref="static.faq", ng-click="openMenu=false") FAQ
      li(ng-show="currentUser.username")
        a(ui-sref="user.profile", ng-click="openMenu=false") Profile
      li(ng-show="!currentUser.username")
        a(ui-sref="user.register", ng-click="openMenu=false") Register
      li(ng-show="!currentUser.username")
        a(ui-sref="user.login", ng-click="openMenu=false") Login
      li(ng-show="currentUser.username")
        a(ui-sref="user.logout", ng-click="openMenu=false") Logout

section.main.with-topbar
  ui-view
