
// Utility Classes
// ••••••••••••••••••••••••••••••••••••••••••••••••••

%u-clearfix {
  @include clearfix;
}

%u-pullRight {
  float: right;
}

%u-pullLeft {
  float: left;
}

%u-underline {
  text-decoration: underline;
}

%u-caps {
  @include letterSpacing-loose;
  text-transform: uppercase;
}

%u-centerText {
  text-align: center;
}

%u-textRight {
  text-align: right;
}

%u-muted {
  color: $lighter-text-color;
}

.u-caps {
  @extend %u-caps;
}

.u-clearfix {
  @extend %u-clearfix;
}

.u-pullRight {
  @extend %u-pullRight;
}

.u-pullLeft {
  @extend %u-pullLeft;
}

.u-underline {
  @extend %u-underline;
}

.u-centerText {
  @extend %u-centerText;
}

.u-textRight {
  @extend %u-textRight;
}

.u-muted {
  @extend %u-muted;
}

.u-accent {
  color: $brand-accent;
}

.u-danger {
  color: $danger !important;
}

.u-fontBrand {
  font-family: $font-brand;
}
