{
  "presets": [
    [ "env",
      {
        "modules": false,
        "useBuiltIns": "usage"
      }
    ],
    "react",
  ],
  "env": {
    "test": {
      "presets": ["react"],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
} 